@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    List<WATS.Entities.SponsorCategories> lstSponsorCategories = ViewBag.lstSponsorCategories;

    var SponsorCategoryId = ViewBag.SponsorCategoryId;
    var userRole = "";
}
@{ HttpContext ctx = HttpContext.Current;
    HttpCookie authCookie = HttpContext.Current.Request.Cookies["UserCookie"];

    FormsAuthenticationTicket authTicket;

    if (this.User.Identity.IsAuthenticated && this.User.Identity.Name != null && Context.Session != null)
    {
        authTicket = FormsAuthentication.Decrypt(authCookie.Value);
        userRole = authTicket.UserData;
    }

}

<script type="text/javascript">

    $(document).ready(function () {

        $('#AddSponsors').dialog
           ({
               autoOpen: false,
               width: 500,
               modal: true
           });
        PagerClickBind()
    });

    function sortresult(sortcolumn) {
        $('#hdnsortorder').val(($('#hdnsortorder').val() == 'ASC' ? 'DESC' : 'ASC'));
        $('#hdnsortcolumn').val(sortcolumn);
        Onload(1);
    }


    function Onload(Pageno) {
        var pageno = Common.Pageno(Pageno);
        var sortcolumn = $('#hdnsortcolumn').val();
        var sortorder = $('#hdnsortorder').val();
        var items = $('#txtitems').val();
        var Search = $('#txtsearch').val();
        var SponsorCategoryId = $('#SponsorCategoryId1').val();

        $.ajax({
            url: '@Url.Action("SponsorsList", "Sponsors")',
            type: 'GET',
            cache: false,
            data: { Search: Search, PageNo: pageno, SortColumn: sortcolumn, SortOrder: sortorder, Items: items, SponsorCategoryId: SponsorCategoryId },
            success: function (result) {
                $('#divSponsors').html(result);
                PagerClickBind();
            }
        });
    }

    function PagerClickBind() {
        $(".pagination a").bind("click", function () {
            Onload($(this).text());
        });
    }

    function EditSponsor(Id) {
        $.ajax({
            url: '@Url.Action("EditSponsor", "Sponsors")',
            type: 'POST',
            data: { SponsorId: Id },
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    var objSponsor = result.data;
                    $('#RedirectUrl').val(objSponsor.RedirectUrl);
                    $('#DisplayOrder').val(objSponsor.DisplayOrder);
                    $('#SponsorCategoryId').val(objSponsor.SponsorCategoryId);
                    $('#Target').val(objSponsor.Target);
                    $('#SponsorId').val(objSponsor.SponsorId);
                    $('#AddSponsors').dialog("open");
                    $('#lbltitle').html('Edit Sponsor');
                    $('#LogoUrl').val('');
                    $('#Aspanfile').html('');

                    $('#spanTarget').html('');
                    $('#spanLogoUrl').html('');
                    $('#spanDisplayOrder').html('');
                    $('#spanSponsorCategoryId').html('');
                    $('#spanRedirectUrl').html('');

                    $('#DisplayOrder').focus().removeClass("red-border");
                    $('#RedirectUrl').focus().removeClass("red-border");
                    $('#Target').focus().removeClass("red-border");
                }
                else {
                    $('#divmessage').val(result.data);
                }
            }
        });
    }

    function Add() {
        clearInnerPageCategory();
        $("#AddSponsors").dialog("open");
        $('#lbltitle').html('Add Sponsor');
    }

    function clearInnerPageCategory() {
        $('#SponsorId').val('0');
        $('#LogoUrl').val('');
        $('#DisplayOrder').val('');
        $('#RedirectUrl').val('');
        $('#Target').val('');
        $('#spanTarget').html('');
        $('#spanAspanfile').html('');
        $('#spanLogoUrl').html('');
        $('#spanSponsorCategoryId').html('');
        $('#spanDisplayOrder').html('');
        $('#spanRedirectUrl').html('');
        $('#Aspanfile').focus().removeClass("red-border");
        $('#DisplayOrder').focus().removeClass("red-border");
        $('#RedirectUrl').focus().removeClass("red-border");
        $('#Target').focus().removeClass("red-border");

    }
    function Validate() {
        if ($('#SponsorId').val() == "0") {
            if ($('#LogoUrl').val() == "") { $('#Aspanfile').html('Required.'); $('#LogoUrl').focus(); return false; } else { $('#Aspanfile').html(' '); $('#Aspanfile').focus().removeClass("red-border"); }
            if (!Common.isImage($('#LogoUrl').val())) { $('#Aspanfile').html('Sorry image is invalid. Only allowed extensions are:<b>jpg, png, PNG, gif, jpeg, JPEG</b>.'); $('#LogoUrl').focus(); return false; } else { $('#Aspanfile').html(''); $('#Aspanfile').focus().removeClass("red-border"); }
            //if ($('#hdnimgvalidate').val() == '0') { $('#Aspanfile').html('Please select image with diemensions equal to 153 * 90.'); $('#LogoUrl').focus(); return false; } else { $('#Aspanfile').html(''); }
        }
        else {
            if ($('#LogoUrl').val() != "") {
                if (!Common.isImage($('#LogoUrl').val())) { $('#Aspanfile').html('Sorry image is invalid. Only allowed extensions are:<b>jpg, png, PNG, gif, jpeg, JPEG</b>.'); $('#LogoUrl').focus(); return false; } else { $('#Aspanfile').html(''); $('#Aspanfile').focus().removeClass("red-border"); }
                //if ($('#hdnimgvalidate').val() == '0') { $('#Aspanfile').html('Please select image with diemensions equal to 153 * 90.'); $('#LogoUrl').focus(); return false; } else { $('#Aspanfile').html(''); }
            }
        }
        if ($('#SponsorCategoryId').val() == "") { $('#spanSponsorCategoryId').html('Required.'); $('#SponsorCategoryId').focus(); return false; } else { $('#spanSponsorCategoryId').html(''); $('#SponsorCategoryId').focus(); }

        //if ($('#Target').val() == "") { $('#spanTarget').html('Required.'); $('#Target').focus(); return false; } else { $('#spanTarget').html(''); $('#Target').focus(); }
        //if ($('#RedirectUrl').val() == "") { $('#spanRedirectUrl').html('Required.'); $('#RedirectUrl').focus().addClass("red-border"); return false; } else { $('#spanRedirectUrl').html(''); $('#RedirectUrl').focus().removeClass("red-border"); }
        return true;
    }
    function ClearSearch() {
        $('#txtsearch').val('');
        $('#SponsorCategoryId1').val('');
        Onload(1);
    }
</script>

<input id="hdnPageNo" type="hidden" value="1" />
<input id="hdnsortcolumn" type="hidden" value="SponsorId" />
<input id="hdnsortorder" type="hidden" value="ASC" />
<input type="hidden" id="hdnimgvalidate" value="0" />

<!-- breadcumb -->
<div class="clearfix breadcrumb-main">
    <ul class="breadcrumb  ">

        <li><a href="@Url.Action("Index", "InnerPages")">Web Site</a> <span class="divider">/</span></li>
        <li class="active">Sponsors</li>
        <li class="fR sepV_c"><i class="icon-globe"></i><a href="@System.Configuration.ConfigurationManager.AppSettings["usersiteurl"]" target="_blank">View Mainsite</a></li>
    </ul>
</div>
<!-- end breadcumb -->


<script type="text/javascript">

    $(document).ready(function () {
        $('#wSponsors').addClass('active');
        $('#MWebsite').addClass('active');
        $('#InnerPages').addClass('red-t');
        $('.closable').append('<span id="lblclose" class="closelink" title="Close"></span>');
        PagerClickBind();

    });
</script>
<div id="maincontainer">
    <div class="mainContent">
        <!--- TOPEBAR [start] ---->
        @Html.Partial("MainMenu", "SuperAdmin")
        <!--- TOPEBAR [end] ---->
        <!--- SIDEBAR [start] ---->
        @Html.Partial("LeftMenu")
        <!--- SIDEBAR [en] ---->

        <div class="pageHeadingBlock ">
            <div class="grayBackground">
                @if (userRole.Contains("Treasurer") || userRole.Contains("VicePresident"))
                {

                }
                else if (userRole.Contains("SuperAdmin") || userRole.Contains("WebMaster") || userRole.Contains("SubAdmin"))
                  {
                    <div class="fR t-r spcT_c">
                        <a onclick="Add();" class="btn btn-primary coursesMenu">Add Sponsor</a>
                        <a href="@Url.Action("Category", "Sponsors")" class="btn btn-primary coursesMenu">Sponsor Categories</a>
                    </div>
                }

                <h3 class="title">Sponsors</h3>
                @Html.Partial("WebsiteMenu")
            </div>
        </div>
        <div class="clearfix sepH_b"></div>
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="text9">
            <tbody>
                <tr>
                    <td>
                        <div id="divmessage">
                            @if (TempData["message"] != null)
                            {@Html.Raw(TempData["message"].ToString())}

                            @if (ViewBag.message != null)
                            {@Html.Raw(ViewBag.message.ToString())}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td height="10" colspan="2">
                        <div class="grayBackground nobL nobR">
                            <div id="filterReg" class="ui-accordion">
                                <h4><b>Search</b></h4>
                                <div>
                                    <div class="filedsetInner clearfix">
                                        <div class="row-fluid">
                                            <div class="span4">
                                                <label>Category</label>
                                                <select class="input-block-level" name="SponsorCategoryId" id="SponsorCategoryId1">
                                                    @if (lstSponsorCategories != null)
                                                    {
                                                        <option value="">Select</option>
                                                        foreach (var item in lstSponsorCategories)
                                                        {
                                                            <option @(item.SponsorCategoryId == SponsorCategoryId ? "selected='selected'" : "") value="@item.SponsorCategoryId">@item.CategoryName</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="span3">
                                                <button class="btn btn-primary filterAction" onclick="Onload(1);">Search</button>
                                                <a class="btn btn-inverse filterAction wC" onclick="ClearSearch();">Clear</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="divSponsors">
                            @{Html.RenderAction("SponsorsList", "Sponsors", new { SponsorCategoryId = SponsorCategoryId });}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div style="display: none;" id="AddSponsors">

    @using (Html.BeginForm("AddSponsors", "Sponsors", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" id="SponsorId" name="SponsorId" value="0" />
        <div class="dialog-title"><span id="lbltitle"></span></div>
        <div class="dialog-content">
            <div class="container-fluid">
                <div class="row-fluid" id="brurl">
                    <div class="span5">Image : <span class="red-t">*</span></div>
                    <div class="span7">
                        <input type="file" name="LogoUrl" id="LogoUrl" onchange="checkPhoto(this)" />
                        <span style="padding-top: 7px;" class="field-validation-error" id="Aspanfile"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">Category : <span class="red-t">*</span></div>
                    <div class="span7">
                        <select class="inputstyle" name="SponsorCategoryId" id="SponsorCategoryId">
                            <option value="">Select</option>
                            @if (lstSponsorCategories != null)
                            {
                                foreach (var item in lstSponsorCategories)
                                {
                                    <option value="@item.SponsorCategoryId">@item.CategoryName</option>
                                }
                            }
                        </select>

                        <span id="spanSponsorCategoryId" class="field-validation-error"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">Order No : </div>
                    <div class="span7">
                        <input width="70px" maxlength="3" onkeypress="return Common.isNumberKey(event)" type="text" name="DisplayOrder" id="DisplayOrder" class="inputstyle">
                        <span id="spanDisplayOrder" class="field-validation-error"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">Target : </div>
                    <div class="span7">
                        <select class="inputstyle" name="Target" id="Target">
                            <option value="">Select</option>
                            <option value="_blank">Blank</option>
                            <option value="_parent">Parent</option>
                        </select>
                        <span id="spanTarget" class="field-validation-error"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span5">Redirect URL : </div>
                    <div class="span7">
                        <input type="text" name="RedirectUrl" id="RedirectUrl" class="inputstyle" />
                        <span id="spanRedirectUrl" class="field-validation-error"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <b style="color: #f00">Note</b>: Enter the "Redirect URL" start with http://
                    <br />
                    2. Image size should be maintained width * height (950 * 450)
                </div>
                <div class="clearfix t-r t-p5">
                    <input type="submit" onclick="return Validate();" value="Submit" class="btn btn-primary font-w7">
                    <a onclick=" $('#AddSponsors').dialog('close')" class="btn font-w7">Cancel</a>
                </div>
            </div>
        </div>
    }
</div>



<script>
    var _URL = window.URL || window.webkitURL;
    $("#LogoUrl").change(function (e) {
        var file, img;
        if ((file = this.files[0])) {
            img = new Image();
            img.onload = function () {
                if (this.width == 950 && this.height == 450) {
                    $('#hdnimgvalidate').val('1');
                }
                else {
                    $('#hdnimgvalidate').val('0');
                }
            };
            img.src = _URL.createObjectURL(file);
        }
    });

</script>

