@using System.Configuration;
@{ Layout = null;}
@{
    string sortcolumn = (string)ViewBag.sortcolumn;
    string sortorder = (string)ViewBag.sortorder;
    Int64 Total = (Int64)ViewBag.total;
    var PageNo = (Int64)ViewBag.pageno;
    var Items = (Int64)ViewBag.items;

    var imgloc = ConfigurationManager.AppSettings["usersiteurl"] + "Content/committees/thumbphoto/";
    var imglocNormal = ConfigurationManager.AppSettings["usersiteurl"] + "Content/committees/normalphoto/";

    List<WATS.Entities.Committees> lstCommittees = ViewBag.lstCommittees;    
}

<script type="text/javascript">

    $(document).ready(function () {
        $('.closable').append('<span class="closelink" title="Close"></span>');
        $('#MWebsite').addClass('active');
        $('.closelink').click(function () {
            $(this).parent().fadeOut('600', function () { $(this).remove(); });
        });
    });

    function CommitteeStatus(CommitteeId) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("CommitteeStatus", "Committees")', // the URL of the controller action method
            data: { CommitteeId: CommitteeId }, // optional data
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    $('#divmessage').html(result.data);
                    Onload($('#hdnPageNo').val());
                }
                else {
                    $('#divmessage').html(result.data);
                }
            }
        });
    }

    function DeleteCommittee(CommitteeId, ImageUrl) {
        var val2 = confirm("Do you want to delete this record?");
        if (val2) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteCommittee", "Committees")',  // the URL of the controller action method
                data: { CommitteeId: CommitteeId, ImageUrl: ImageUrl }, // optional data
                success: function (result) {
                    if (result.ok) {
                        $("#divmessage").html(result.data);
                        Onload($('#hdnPageNo').val());
                    }
                    else {
                        $("#divmessage").val(result.data);
                    }
                },
            });
        }
    }

    function UpdateDisplayOrder(i, CommitteeId) {
        var DisplayOrder = parseInt($('#DisplayOrder' + i).val());
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CommitteeDisplayOrder", "Committees")',
            data: { DisplayOrder: DisplayOrder, CommitteeId: CommitteeId },
            success: function (result) {
                var div = '';
                if (result.ok) {
                    $("#divmessage").html(result.data);
                    Onload(1);
                }
                else {
                    $("#divmessage").html(result.data);
                }
            }
        });
    }
</script>

<div class="row-fluid">
    <div class="span12">
        @if (Total == -1)
        {
            <div class="norecords">Sorry failed processing your request.</div> 
        }
        else
        {
            <table width="100%" class="table table-hover  table_vam table-black">
                <thead>
                    <tr>
                        <th width="5%">S.No.</th>
                        <th width="8%">Picture</th>
                        <th width="10%">
                            <a onclick="javascript:sortresult('Name');" class="white-t-u">Name @if (sortcolumn == "Name")
                                                                                               {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }
                        </th>
                        <th width="7%">
                            <a onclick="javascript:sortresult('Email');" class="white-t-u">Email @if (sortcolumn == "Email")
                                                                                                 {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }
                        </th>
                        <th width="10%">
                            <a onclick="javascript:sortresult('PhoneNo');" class="white-t-u">Phone @if (sortcolumn == "PhoneNo")
                                                                                                   {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }
                        </th>
                        <th width="9%">
                            <a onclick="javascript:sortresult('City');" class="white-t-u">City @if (sortcolumn == "City")
                                                                                               {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }
                        </th>
                       @* <th width="10%">
                            <a onclick="javascript:sortresult('DisplayOrder');" class="white-t-u">Order No @if (sortcolumn == "DisplayOrder")
                                                                                                           {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }
                        </th> *@
                        <th width="9%">Status</th>
                        <th width="8%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (lstCommittees.Count != 0)
                    {
                        int i = 0;
                        foreach (var item in lstCommittees)
                        {
                        <tr valign="top">
                            <td>@item.RId
                                </td>
                           <td>
                                <img alt="@item.Name" width="80px" title="@item.Name" src="@WATS.BLL.Common.ValidateImage((imgloc + item.ImageUrl), imgloc + "no-image.png")" class="borwhite5 border-radius shadow" />
                            </td>
                            <td style="text-align: left">@item.Name</td>
                            <td>@(item.Email==null||item.Email==""?"N/A":item.Email)</td>
                            <td>@(item.PhoneNo==null||item.PhoneNo==""?"N/A":item.PhoneNo)</td>
                            <td>@(item.City==null||item.City==""?"N/A":item.City)</td>
                            @*<td>
                                <input type="text" style="width:30px;margin-bottom:0px;" maxlength="3" id="DisplayOrder@(i)" value="@item.DisplayOrder" onkeypress ="return Common.isNumberKey(event)"/>
                            <a onclick="UpdateDisplayOrder(@i,@item.CommitteeId);" title="Update"><i class="icon-refresh"></i></a>                   
                                
                            </td>*@
                            <td>
                                @{
                            var isactive = "";
                            var active = "";
                            var disable = "";
                            if (item.IsActive == true)
                            {
                                isactive = "Active";
                                disable = "style=\"cursor: pointer;\" onclick=\"javascript:CommitteeStatus(" + item.CommitteeId + ");\"";
                            }
                            else
                            {
                                isactive = "Disabled";
                                active = "style=\"cursor: pointer;\" onclick=\"javascript:CommitteeStatus(" + item.CommitteeId + ");\"";
                            }
                                    <div class="admin-active">@isactive
                                        <ul>
                                            <li><a @Html.Raw(active) >Active</a></li>
                                            <li><a @Html.Raw(disable) >Disabled</a></li>
                                        </ul>
                                    </div>      
                                }
                            </td>
                            <td><a title="Edit" href="@Url.Action("EditCommittee", "Committees", new { CommitteeId = item.CommitteeId })"><i class="icon-pencil"></i>
                            </a>
                                 <a href="@Url.Action("ViewCommittee", "Committees", new { CommitteeId = item.CommitteeId })" title="view" ><i class="icon-eye-open"></i></a>
                                @if (item.CommitteeMemberCount == 0)
                                {
                                <a title="Delete" id="68" class="cmdelete" onclick="javascript:DeleteCommittee(@item.CommitteeId,'@item.ImageUrl');"><i class="icon-trash"></i></a>
                                }

                                else
                                {
                            <a title="This member have @item.CommitteeMemberCount committee" class="sepV_a disable-alpha"><i class="icon-trash"></i></a>
                                }
                                @*<a title="Delete" class="sepV_a disable-alpha"><i class="icon-trash"></i></a>*@
                            </td>
                        </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="norecords" colspan="9">No Records Found.</td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    </div>
</div>
@Html.Raw(WATS.BLL.Common.SetPaging((Int64)ViewBag.items, ref Total, (Int64)ViewBag.pageno, "pagination pagination-centered"))
