@{
    ViewBag.Title = "Application Settings";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    var objAppInfo = (WATS.Entities.AppInfo)ViewBag.objAppInfo;
}

<!-- breadcumb -->
<div class="clearfix breadcrumb-main">
    <ul class="breadcrumb font12 ">

        <li><a href="@Url.Action("Index", "ApplicationSettings")">Settings</a> <span class="divider">/</span></li>
        <li class="active">Application Settings</li>
        <li class="fR sepV_c"><i class="icon-globe"></i><a href="@System.Configuration.ConfigurationManager.AppSettings["usersiteurl"]" target="_blank">View Mainsite</a></li>
    </ul>
</div>

<!-- end breadcumb -->

<script type="text/javascript">

    $(document).ready(function () {
        $('#MSettings').addClass('active');
    });

    function ValidateApplication() {

        if ($('#SiteName').val() == '') { $('#spanSiteName').html('Required.'); $('#SiteName').focus().addClass("red-border"); return false; } else { $('#spanSiteName').html(''); $('#SiteName').focus().removeClass("red-border") }
        if ($('#CompanyEmail').val() == '') { $('#spanCompanyEmail').html('Required.'); $('#CompanyEmail').focus().addClass("red-border"); return false; } else { $('#spanCompanyEmail').html(''); $('#CompanyEmail').focus().removeClass("red-border") }

        if (!Common.CheckEmail($('#CompanyEmail').val())) { $('#spanCompanyEmail').html('Please enter valid email address.'); $('#CompanyEmail').focus().addClass("red-border"); return false; } else { $('#spanCompanyEmail').html(''); $('#CompanyEmail').focus().removeClass("red-border") }
        if ($('#CompanyPhone').val() == '') { $('#spanCompanyPhone').html('Required.'); $('#CompanyPhone').focus().addClass("red-border"); return false; } else { $('#spanCompanyPhone').html(''); $('#CompanyPhone').focus().removeClass("red-border") }
        if ($('#CompanyWebSite').val() == '') { $('#spanCompanyWebSite').html('Required.'); $('#CompanyWebSite').focus().addClass("red-border"); return false; } else { $('#spanCompanyWebSite').html(''); $('#CompanyWebSite').focus().removeClass("red-border") }
        if ($('#CompanyAddress').val() == '') { $('#spanCompanyAddress').html('Required.'); $('#CompanyAddress').focus().addClass("red-border"); return false; } else { $('#spanCompanyAddress').html(''); $('#CompanyAddress').focus().removeClass("red-border"); }
        
        //if ($('#SupportEmail').val() != '') {
        //    if (!Common.CheckEmail($('#SupportEmail').val())) { $('#spanSupportEmail').html('Please enter valid email address.'); $('#SupportEmail').focus().addClass("red-border"); return false; } else { $('#spanSupportEmail').html(''); }
        //}
        //if ($('#EnqueryEmail').val() != '') {
        //    if (!Common.CheckEmail($('#EnqueryEmail').val())) { $('#spanEnqueryEmail').html('Please enter valid email address.'); $('#EnqueryEmail').focus().addClass("red-border"); return false; } else { $('#spanEnqueryEmail').html(''); }
        //}
        if ($('#PresidentEmail').val() != '') { 
            if (!Common.CheckEmail($('#PresidentEmail').val())) { $('#spanPresidentEmail').html('Please enter valid email address.'); $('#PresidentEmail').focus().addClass("red-border"); return false; } else { $('#spanPresidentEmail').html(''); }
        }
        if ($('#SecretaryEmail').val() != '') { 
            if (!Common.CheckEmail($('#SecretaryEmail').val())) { $('#spanSecretaryEmail').html('Please enter valid email address.'); $('#SecretaryEmail').focus().addClass("red-border"); return false; } else { $('#spanSecretaryEmail').html(''); }
        }
        //if ($('#SupportEmail1').val() != '') { 
        //    if (!Common.CheckEmail($('#SupportEmail1').val())) { $('#spanSupportEmail1').html('Please enter valid email address.'); $('#SupportEmail1').focus().addClass("red-border"); return false; } else { $('#spanSupportEmail1').html(''); }
        //}
        //if ($('#EnqueryEmail1').val() != '') { 
        //    if (!Common.CheckEmail($('#EnqueryEmail1').val())) { $('#spanEnqueryEmail1').html('Please enter valid email address.'); $('#EnqueryEmail1').focus().addClass("red-border"); return false; } else { $('#spanEnqueryEmail1').html(''); }
        //}

        return true;
    }
</script>
<div id="maincontainer">
    <div class="mainContent">
        <!--- TOPEBAR [start] ---->
        @Html.Partial("MainMenu", "SuperAdmin")
        <!--- TOPEBAR [end] ---->

        <!--- SIDEBAR [start] ---->
        @Html.Partial("LeftMenu")
        <!--- SIDEBAR [en] ---->

        <div class="pageHeadingBlock ">
            <div class="grayBackground">
                <h3 class="title">Application Settings</h3>
                <div class="sectionTabNav">
                    <div class="btn-group">
                        <a href="@Url.Action("Index", "ApplicationSettings")" class="btn active">Application Settings</a>
                        @*<a href="@Url.Action("Index", "PaymentSettings")" class="btn">Payment Settings</a>*@

                    </div>
                </div>
            </div>
        </div>
        <div id="divmessage">
            @if (TempData["message"] != null)
            { @Html.Raw(TempData["message"].ToString())}

            @if (ViewBag.message != null)
            { @Html.Raw(ViewBag.message.ToString())}
        </div>
        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="text12">
            <tbody>
                <tr>
                    <td>
                        @using (Html.BeginForm("UpdateAppInfo", "ApplicationSettings", FormMethod.Post))
                        {
                            <input type="hidden" name="AppInfoId" id="AppInfoId" value="@(objAppInfo.AppInfoId)" />
                            <hr class="mN" />
                            <div class="custom-adn grayBackground nobL nobR">
                                <div class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-accordion-2-header-0" aria-controls="ui-accordion-2-panel-0" aria-selected="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><b>Application Settings</b></h3>
                                    <div class="form-horizontal ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;" id="ui-accordion-2-panel-0" aria-labelledby="ui-accordion-2-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false">
                                        <div class="filedsetInner clearfix">
                                            <table width="100%" cellpadding="5" class="tblstyle2">
                                                <tbody>
                                                    <tr>
                                                        <td width="14%">Site Name :<span class="red">*</span></td>
                                                        <td width="10%">
                                                            <input type="text" size="30" id="SiteName" name="SiteName" value="@objAppInfo.SiteName">
                                                            <span class="field-validation-error" id="spanSiteName"></td>
                                                        <td width="14%">Company Email : <span class="red">*</span></td>
                                                        <td width="10%">
                                                            <input type="text" size="30" id="CompanyEmail" name="CompanyEmail" value="@objAppInfo.CompanyEmail">
                                                            <span class="field-validation-error" id="spanCompanyEmail"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Company Phone : <span class="red">*</span></td>
                                                        <td>
                                                            <input type="text" size="30" id="CompanyPhone" name="CompanyPhone" value="@objAppInfo.CompanyPhone">
                                                            <span class="field-validation-error" id="spanCompanyPhone"></td>
                                                        <td>Company Web Site :<span class="red">*</span></td>
                                                        <td>
                                                            <input type="text" size="30" id="CompanyWebSite" name="CompanyWebSite" value="@objAppInfo.CompanyWebSite">
                                                            <span class="field-validation-error" id="spanCompanyWebSite"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Company Address : <span class="red">*</span></td>
                                                        <td>
                                                            <input type="text" size="30" id="CompanyAddress" name="CompanyAddress" value="@objAppInfo.CompanyAddress">
                                                            <span class="field-validation-error" id="spanCompanyAddress"></td>
                                                        <td>Records per page :</td>
                                                        <td>
                                                            <input type="text" size="30"  onkeypress="return Common.isNumberKey(event)" id="PageItems" name="PageItems" value="@objAppInfo.PageItems">
                                                            <span class="field-validation-error" id="spanPageItems"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Customer Care Number :</td>
                                                        <td>
                                                            <input type="text" size="30" id="CustomerCareNumber" name="CustomerCareNumber" value="@objAppInfo.CustomerCareNumber">
                                                            <span class="field-validation-error" id="spanCustomerCareNumber"></td>
                                                        <td>Toll Free Number :</td>
                                                        <td>
                                                            <input type="text" size="30" id="TollFreeNumber" name="TollFreeNumber" value="@objAppInfo.TollFreeNumber">
                                                            <span class="field-validation-error" id="spanTollFreeNumber"></td>

                                                    </tr>

                                                    
@*                                                         <tr>
                                                        <td>Enquery Email :</td>
                                                        <td>
                                                            <input type="text" size="30" id="EnqueryEmail" name="EnqueryEmail" value="@objAppInfo.EnqueryEmail">
                                                            <span class="field-validation-error" id="spanEnqueryEmail"></td>
                                               
                                                        <td>Support Email :</td>
                                                        <td>
                                                            <input type="text" size="30" id="SupportEmail" name="SupportEmail" value="@objAppInfo.SupportEmail">
                                                            <span class="field-validation-error" id="spanSupportEmail"></td>
                                                         </tr>*@
                                                   <tr>
                                                    </tr>
                                               
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mN" />
                            <div class="custom-adn grayBackground nobL nobR">
                                <div class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-accordion-2-header-0" aria-controls="ui-accordion-2-panel-0" aria-selected="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><b>President</b></h3>
                                    <div class="form-horizontal ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;" id="ui-accordion-2-panel-0" aria-labelledby="ui-accordion-2-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false">
                                        <div class="filedsetInner clearfix">
                                            <table width="100%" cellpadding="5" class="tblstyle2">
                                                <tbody>
                                                    <tr>
                                                        <td width="14%">Email Id :</td>
                                                        <td width="10%">
                                                            <input type="text" size="30" id="PresidentEmail" name="PresidentEmail" value="@objAppInfo.PresidentEmail">
                                                            <span class="field-validation-error" id="spanPresidentEmail">
                                                        <td width="14%">Phone No :</td>
                                                        <td width="10%">
                                                            <input type="text" size="30" id="PresidentPhone" name="PresidentPhone" value="@objAppInfo.PresidentPhone">
                                                            <span class="field-validation-error" id="spanPresidentPhone">
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mN" />
                            <div class="custom-adn grayBackground nobL nobR">
                                <div class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-accordion-2-header-0" aria-controls="ui-accordion-2-panel-0" aria-selected="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><b>Secretary</b></h3>
                                    <div class="form-horizontal ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;" id="ui-accordion-2-panel-0" aria-labelledby="ui-accordion-2-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false">
                                        <div class="filedsetInner clearfix">
                                            <table width="100%" cellpadding="5" class="tblstyle2">
                                                <tbody>
                                                    <tr>
                                                        <td  width="14%">Email Id :</td>
                                                        <td  width="10%">
                                                            <input type="text" size="30" id="SecretaryEmail" name="SecretaryEmail" value="@objAppInfo.SecretaryEmail">
                                                            <span class="field-validation-error" id="spanSecretaryEmail">
                                                        <td  width="14%">Phone No :</td>
                                                        <td  width="10%">

                                                            <input type="text" size="30" id="SecretaryPhone" name="SecretaryPhone" value="@objAppInfo.SecretaryPhone">
                                                            <span class="field-validation-error" id="spanSecretaryPhone">
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <hr class="mN" />
                            <div class="custom-adn grayBackground nobL nobR">
                                <div class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-accordion-2-header-0" aria-controls="ui-accordion-2-panel-0" aria-selected="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><b>Cultural Link</b></h3>
                                    <div class="form-horizontal ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;" id="ui-accordion-2-panel-0" aria-labelledby="ui-accordion-2-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false">
                                        <div class="filedsetInner clearfix">
                                            <table width="50%" cellpadding="5" class="tblstyle2">
                                                <tbody>
                                                     <tr>
                                        <td>Cultural.Reg Link :</td>
                                        <td>
                                            <input type="text" size="30" id="Topline" name="Topline" value="@objAppInfo.Topline">
                                            <span class="field-validation-error" id="spanTopline"></td>
                                    </tr>

                                                  
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                               <hr class="mN" />
                            <div class="custom-adn grayBackground nobL nobR">
                                <div class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-accordion-2-header-0" aria-controls="ui-accordion-2-panel-0" aria-selected="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><b>Social Network Links</b></h3>
                                    <div class="form-horizontal ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;" id="ui-accordion-2-panel-0" aria-labelledby="ui-accordion-2-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false">
                                        <div class="filedsetInner clearfix">
                                            <table width="50%" cellpadding="5" class="tblstyle2">
                                                <tbody>
                                                     <tr>
                                        <td>Facebook Link :</td>
                                        <td>
                                            <input type="text" size="30" id="FacebookUrl" name="FacebookUrl" value="@objAppInfo.FacebookUrl">
                                            <span class="field-validation-error" id="spanFacebookUrl"></td>
                                    </tr>
                                    <tr>
                                        <td>Twitter Link :</td>
                                        <td>
                                            <input type="text" size="30" id="TwitterUrl" name="TwitterUrl" value="@objAppInfo.TwitterUrl">
                                            <span class="field-validation-error" id="spanTwitterUrl"></td>
                                    </tr>
                                    <tr>
                                        <td>Youtube Link :</td>
                                        <td>
                                            <input type="text" size="30" id="YoutubeUrl" name="YoutubeUrl" value="@objAppInfo.YoutubeUrl">
                                            <span class="field-validation-error" id="spanYoutubeUrl"></td>
                                    </tr>

                                                         <tr>
                                                        <td>Linkedin Link :</td>
                                                        <td>
                                                            <input type="text" size="30" id="EnqueryEmail" name="EnqueryEmail" value="@objAppInfo.EnqueryEmail">
                                                            <span class="field-validation-error" id="spanEnqueryEmail"></td>
                                                             </tr>
                                                     <tr>
                                                        <td>Google Plus Link :</td>
                                                        <td>
                                                            <input type="text" size="30" id="SupportEmail" name="SupportEmail" value="@objAppInfo.SupportEmail">
                                                            <span class="field-validation-error" id="spanSupportEmail"></td>
                                                         </tr>
                                                  
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mN" />
                            <div class="custom-adn grayBackground nobL nobR">
                                <div class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-accordion-2-header-0" aria-controls="ui-accordion-2-panel-0" aria-selected="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><b>SEO Details</b></h3>
                                    <div class="form-horizontal ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;" id="ui-accordion-2-panel-0" aria-labelledby="ui-accordion-2-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false">
                                        <div class="filedsetInner clearfix">
                                            <table width="100%" cellpadding="5" class="tblstyle2">
                                                <tbody>
                                                    <tr>
                                                        <td  width="14%">Page Title :</td>
                                                        <td  width="10%">
                                                            <textarea type="text" size="30" id="PageTitle" name="PageTitle">@objAppInfo.PageTitle</textarea>
                                                        <td  width="14%">Meta Keywords :</td>
                                                        <td  width="10%">
                                                            <textarea type="text" size="30" id="MetaKeywords" name="MetaKeywords">@objAppInfo.MetaKeywords</textarea>
                                                    </tr>
                                                    <tr>
                                                        <td>Meta Description :</td>
                                                        <td>
                                                            <textarea type="text" size="30" id="MetaDescription" name="MetaDescription">@objAppInfo.MetaDescription</textarea>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="actionButtons">
                                      <input type="submit" onclick="return ValidateApplication();" class="btn btn-primary" name="button2" value="Update">
                                    @*<input type="submit" disabled="disabled" class="btn btn-primary" name="button2" value="Update">*@
                                    <a class="btn btn-inverse" href="@Url.Action("Index", "InnerPages")">Cancel</a>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
