@{ Layout = null;
    var userRole = "";
    }
@{
    string sortcolumn = (string)ViewBag.sortcolumn;
    string sortorder = (string)ViewBag.sortorder;
    Int64 Total = (Int64)ViewBag.total;
    var PageNo = (Int64)ViewBag.pageno;
    var Items = (Int64)ViewBag.items;


    List<WATS.Entities.Enquiries> lstEnquiries = ViewBag.lstEnquiries;

    HttpContext ctx = HttpContext.Current;
    HttpCookie authCookie = HttpContext.Current.Request.Cookies["UserCookie"];

    FormsAuthenticationTicket authTicket;

    if (this.User.Identity.IsAuthenticated && this.User.Identity.Name != null && Context.Session != null)
    {
        authTicket = FormsAuthentication.Decrypt(authCookie.Value);
        userRole = authTicket.UserData;
    }
}

<link type="text/css" media="screen" rel="stylesheet" href="colorbox/colorbox.css" />
<script type="text/javascript" src="colorbox/jquery.colorbox.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("a[rel]").colorbox({ transition: "fade" });
        $(".viewdetails").colorbox({ iframe: true, innerWidth: 600, innerHeight: 400 });
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $('.closable').append('<span class="closelink" title="Close"></span>');
        $('#MWebsite').addClass('active');
        $('.closelink').click(function () {
            $(this).parent().fadeOut('600', function () { $(this).remove(); });
        });
    });
</script>

<div class="row-fluid">
    <div class="span12">
        @if (Total == -1)
        {
            <div class="norecords">Sorry failed processing your request.</div> 
        }
        else
        {
            <table width="100%" class="table table-hover  table_vam table-black">
                <thead>
                    <tr>
                        <th width="7%">S.No.</th>
                        <th><a onclick="javascript:sortresult('Name');" class="white-t-u">Name @if (sortcolumn == "Name")
                        {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }</th>
                        <th width="24%"><a onclick="javascript:sortresult('Email');" class="white-t-u">Email @if (sortcolumn == "Email")
                        {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }</th>
                        <th width="15%">Posted Date</th>
                        <th width="15%">Phone no</th>
                        <th width="12%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (lstEnquiries.Count != 0)
                    {
                        foreach (var item in lstEnquiries)
                        { 
                        <tr>
                            <td>@item.RId</td>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.InsertedTime.ToString("MM-dd-yyyy")</td>
                            <td>@item.PhoneNo</td>
                            <td>
                                @if (userRole.Contains("WebMaster"))
                                {
                                    
                                    <a title="View" href="@Url.Action("ViewEnquiry", "Enquiry", new { EnquiryId = item.EnquiryId })" data-lightview-group='example' class='lightview rightmost t-t-c' data-lightview-type='iframe' data-lightview-options="width: 600" data-lightview-caption="@item.Name">
                                        <i class="icon-eye-open"></i>
                                    </a>
                                }
                                else
                                {
                                    <a title="Send Mail" href="@Url.Action("SendMail", "Home", new { EnquiryId = item.EnquiryId })"><i class="icon-envelope"></i></a>&nbsp; &nbsp;
                                    <a title="View" href="@Url.Action("ViewEnquiry", "Enquiry", new { EnquiryId = item.EnquiryId })" data-lightview-group='example' class='lightview rightmost t-t-c' data-lightview-type='iframe' data-lightview-options="width: 600" data-lightview-caption="@item.Name">
                                        <i class="icon-eye-open r-m5"></i>
                                    </a>
                                    <a class="enquirydelete" onclick="javascript:Delete(@item.EnquiryId);" id="66" title="Delete"><i class="icon-trash"></i></a>
                                }

                                @*<a title="Delete" class="sepV_a disable-alpha"><i class="icon-trash"></i></a>*@
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="norecords" colspan="6">No Records Found.</td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    </div>
</div>

@Html.Raw(WATS.BLL.Common.SetPaging((Int64)ViewBag.items, ref Total, (Int64)ViewBag.pageno, "pagination pagination-centered"))
