@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var objMembers = (WATS.Entities.Members)ViewBag.objMembers;
    var lstMembershipType = (List<WATS.Entities.MembershipTypes>)objMembers.lstMembershipType;
    var lstPaymentMethod = (List<WATS.Entities.PaymentMethods>)objMembers.lstPaymentMethod;
    var lstPaymentStatus = (List<WATS.Entities.PaymentStatus>)objMembers.lstPaymentStatus;
    var objMemberDetails = (WATS.Entities.Members)ViewBag.objMemberDetails;

    var MembershipType = ViewBag.MembershipType;

    string str = "";
    if (ViewBag.str != null && ViewBag.str != "")
    {
        str = ViewBag.str;
    }

    decimal amt = 0;
    if (objMemberDetails.objMembershipOrder.PaymentStatus == "Completed" && (objMemberDetails.objMembershipOrder.MembershipType == "Annual Family Membership" || objMemberDetails.objMembershipOrder.MembershipType == "Annual Single Membership"))
    {
        amt = objMemberDetails.objMembershipOrder.Amount;
    }
    
}

<script>
    $(document).ready(function () {
        getamount('@objMemberDetails.MembershipTypeId');
        $('#LiRenewal').addClass('active');
        $(".checquedate").datepicker({ changeMonth: true, changeYear: true, yearRange: "-90:+0", altField: '.date', altFormat: 'mm/dd/yy' });
        $('.closable').append('<span id="lblclose" class="closelink" title="Close"></span>');
        $('.closelink').click(function () {
            $(this).parent().fadeOut('600', function () { $(this).remove(); });
        });
    });
    function checkhide() {
        document.getElementById("mailed").checked = false;
        document.getElementById("rpaymentby").checked = false;
        $('#PaymentBy').show();
        $('#zellepay').hide();
        $('#check').hide();
        $('#PaymentMethod').val('PayPal');
        $('#paypaldiv').show();
    }
    function checkshow() {
        document.getElementById("mailed").checked = false;
        document.getElementById("rpaymentby").checked = true;
        $('#PaymentBy').show();
        $('#check').show();
        $('#zellepay').hide();
        $('#PaymentMethod').val('Cash/Cheque');
        $('#paypaldiv').hide();
    }

    function zellashow() {
        document.getElementById("mailed").checked = false;
        document.getElementById("rpaymentby").checked = false;
        $('#PaymentBy').show();
        $('#check').hide();
        $('#zellepay').show();
        $('#PaymentMethod').val('Zelle');
        $('#paypaldiv').hide();
    }

    //function checkhide() {
    //    document.getElementById("mailed").checked = false;
    //    document.getElementById("rpaymentby").checked = true;
    //    $('#PaymentBy').show();
    //    $('#check').hide();
    //    $('#PaymentMethod').val('PayPal');
    //}
    //function checkshow() {
    //    document.getElementById("mailed").checked = false;
    //    document.getElementById("rpaymentby").checked = true;
    //    $('#PaymentBy').show();
    //    $('#check').show();
    //    $('#PaymentMethod').val('Cash/Cheque');
    //}
    function paymentbyshow() {
        $('#PaymentBy').val('');
        $('#PaymentBy').show();
    }
    function paymentbyhide() {
        $('#PaymentBy').val('');
        $('#PaymentBy').hide();
        $('#UserComment').val('');
    }

    function getamount(membershipid) {
        var amt = '@amt';
        var str = "";
        $.ajax({
            url: '@Url.Action("GetAmount", "Members")',
            type: 'POST',
            data: { MembershipTypeId: membershipid },
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    var objMembershipType = result.data;
                    if(amt != 0)
                    {
                        if(objMembershipType.MembershipType == 'Life Membership' || objMembershipType.MembershipType == 'Life Membership Single')
                        {
                            var acprice = (objMembershipType.Price);
                            var amt2 = amt;
                            amt = parseInt(acprice)-parseInt(amt);
                            str='<span class="red-t">Note: </span>You already paid ('+ Math.round(amt2, 0) +' $) amount has been deducted from the present amount.'
                        }
                        else
                        {
                            amt = (objMembershipType.Price);
                        }
                    }
                    else
                    {
                        amt = (objMembershipType.Price);
                    }
                    $('#MemberAmount').val(amt);
                    $('#MembershipType').val(objMembershipType.MembershipType);
                    $('#MemberDiscounttxt').html(str).show();
                    $('#AmountPayable').html('$ ' + amt);
                    $('#totalamountzelle').html('$ ' + amt);
                    //if(objMembershipType.Validity==12)
                    //{
                    //    var d = new Date();
                    //    d.setFullYear(d.getFullYear()+1);
                    //    //$('#ExpiryDate').val(d.toDateString("MM/dd/yyyy"));
                    //    $('#ExpiryDate').val("12/31/2017");
                    //}
                    //else { $('#ExpiryDate').val('Life Time'); }
                    //if (objMembershipType.Validity != 0) {
                    //    var d = new Date();
                    //    d.setMonth((d.getMonth()) + objMembershipType.Validity);
                    //    $('#ExpiryDate').val(d.toDateString("MM/dd/yyyy"));
                    //} 
                }
                else {
                    alert(result.data);
                }
            }
        });
    }
    function Validate() {
        var radioButtons = document.getElementsByName('Cash/Cheque');

        if (radioButtons[1].checked) {
            if ($('#PaymentBy').val() == '') { $('#PaymentBy').focus().addClass("validate"); return false; } else { $('#PaymentBy').removeClass("validate"); }
            //if ($('#PaymentBy').val() == '') { $('#spanPaymentBy').html('Required.'); $('#PaymentBy').focus().addClass("red-border"); return false; } else { $('#spanPaymentBy').html(''); }
        }
        return true;
    }
</script>
<article class="clearfix border t-m1 ralewayregular font14 l-h24 black-t" style="min-height: 1150px;">
    <article class="clearfix curve position-r t-m4n b-p15">
        <h2 class="Impact font24 black-t l-h16 t-c mobile-font16 b-p15">@(str == "payment" ? "Membership Payment" : "Renewal Membership")</h2>
    </article>
    <article class="clearfix l-r-p30"><a class="red-t font13 Poppins-Regular r-p5 pull-right" href="@Url.Action("Profile", "Members")">Back to Profile</></a></article>

    <article class="clearfix Poppins-Regularfont13 p30 tabhorizontal-p20 tablet-p10">

        <article class="clearfix font16 lightblack-t l-h24 latoitalic ">
            <article class="part-row r-m20">
                @using (Html.BeginForm("MembershipRenewal", "Members", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Hidden("MemberYear", (Int64)2018)
                    <input type="hidden" value="@objMemberDetails.MemberAmount" id="MemberAmount" name="MemberAmount" />
                    <input type="hidden" value="@objMemberDetails.objMembershipOrder.MembershipOrderId" id="MembershipOrderId" name="MembershipOrderId" />
                    <input type="hidden" value="@objMemberDetails.MemberId" id="MemberId" name="MemberId" />
                    <input type="hidden" value="@objMemberDetails.MembershipType" id="MembershipType" name="MembershipType" />
                    <input type="hidden" value="@objMemberDetails.objMembershipOrder.ExpiryDate" id="ExpiryDate" name="ExpiryDate" />
                    <input type="hidden" value="PayPal" id="PaymentMethod" name="PaymentMethod" />
                    <input type="hidden" value="@objMemberDetails.objMembershipOrder.UserComment" id="UserComment" name="UserComment" />
                    <input type="hidden" value="renewal" id="OrderType" name="OrderType" />
                    <article class="span12 lidarkblack-t validation r-p15">
                        <h4 class="font18 light-black-t t-m0 l-h22 Poppins-Regular b-m20 mobile-b-m10"><b>Personal Details</b></h4>
                        <article class="part-row b-p3 clearfix">
                            <article class="part-6">
                                <article class="clearfix r-p10 tablet-r-p5 mobile-r-p0">
                                    <input type="text" onkeypress="return onlyAlphabets(event,this);" onclick="ResetValidateClass();" value="@objMemberDetails.FirstName" readonly="true" class="form-control b-m0" placeholder="First Name *" style="min-height: 40px;" name="FirstName" id="FirstName" />
                                </article>
                            </article>

                            <article class="part-6">
                                <article class="clearfix r-p10 tablet-r-p5 mobile-r-p0">
                                    <input type="text" onkeypress="return onlyAlphabets(event,this);" onclick="ResetValidateClass();" value="@objMemberDetails.LastName" readonly="true" class="form-control b-m0"  placeholder="Last Name *" style="min-height: 40px;" name="LastName" id="LastName">
                                </article>
                            </article>
                        </article>
                        <article class="clearfix  t-b-m10 l-m5">
                            <h4 class="font18 light-black-t t-m10 l-h22 Poppins-Regular b-m20 mobile-b-m10"><b>Membership Types</b></h4>
                            <article class="part-row b-p10 clearfix mobilev-b-p5">
                                @if (lstMembershipType != null)
                                {
                                    int i = 1;

                                    foreach (var item in lstMembershipType)
                                    {

                                        var yesOptions = (i == 1 ? new { @checked = "checked" } : null);

                                        <article class="part-6 b-p10">
                                            <article class="white-bg border grayborder tablet-r-p5 mobile-r-p0 p10 r-m10 l-h21 mobile-r-m0">
                                                <label class="radiostyle b-m0 font13 black-t Poppins-Regular ">
                                                    <input type="radio" @(item.MembershipTypeId == objMemberDetails.MembershipTypeId ? "checked='checked'" : "") value="@item.MembershipTypeId" onclick="getamount(@(item.MembershipTypeId));" name="MembershipTypeId" id="MembershipTypeId-@i" @(i == 1 ? "checked='checked'" : "")>
                                                    <span class="dis-in Poppins-Regularfont14 black-t l-h20" for="radio1">
                                                        @item.MembershipType  (@(item.Price == 0 ? "Free" : "$" + (Math.Round(@item.Price, 0))))

                                                    </span>
                                                </label>
                                            </article>
                                        </article>
                                        i++;
                                    }
                                }
                            </article>
                            <article id="MemberDiscounttxt" class="clearfix hide Poppins-Regular font14 red-t"></article>
                            @* <h4 class="font18 light-black-t t-m10 l-h22 Poppins-Regular b-m20 mobile-b-m10"><b>@(MembershipType != " Annual Single Membership" ? "Membership (Life Time)" : "")</b></h4>
        <article class="part-row b-p10 clearfix mobilev-b-p5">
           @if (lstMembershipType != null)
                        {
                            int i = 1;

                            foreach (var item in lstMembershipType)
                            {

                                var yesOptions = (i == 1 ? new { @checked = "checked" } : null);
                                if (@item.MembershipType == "Life Membership" || @item.MembershipType == "")
                    {
                <article class="part-6 b-p10">
                    <article class="white-bg border grayborder tablet-r-p5 mobile-r-p0 p10 r-m10 l-h21 mobile-r-m0">
                        <label class="radiostyle b-m0 font13 black-t Poppins-Regular ">
                            <input type="radio" @(item.MembershipTypeId == objMemberDetails.MembershipTypeId ? "checked='checked'" : "") value="@item.MembershipTypeId" onclick="getamount(@(item.MembershipTypeId));" name="MembershipTypeId" id="MembershipTypeId-@i" @(i == 1 ? "checked='checked'" : "")>
                            <span class="dis-in Poppins-Regularfont14 black-t l-h20" for="radio1">
                                @item.MembershipType  (@(item.Price == 0 ? "Free" : "$" +  (Math.Round(@item.Price*50/100, 0))))

                            </span>
                        </label>
                    </article>
                </article>
            }
                    i++;
                }
            }
        </article>*@


                            @*   <article class="poppinssemibold black-t l-h22 b-p5 font14"><b style="text-decoration:underline">Note:</b> 25% of Annual Membership fees will be used towards "Andhra Pradesh Development Forum of North America (APDFNA)” for Community service activities.</article>*@

                            <article class="clearfix border-b darkgrayborder dashborder-b t-b-m10 mobile-t-b-m10"></article>
                            <article class="clearfix row-fluid">
                                <article class="clearfix span10">
                                    <article class="clearfix part-row">
                                        <article class="clearfix part-6">
                                            <label class="font16 dkdark-t radiostyle b-m0">
                                                <input type="radio" value="1" name="pmethod" checked="checked" onclick="checkhide();">
                                                <span class="dis-in" for="radio1">Instant Checkout  through PayPal </span>
                                            </label>
                                        </article>
                                        <article class="clearfix part-3" style="display:none;">
                                            <label class="font16 dkdark-t radiostyle b-m0">
                                                <input type="radio" value="0" name="pmethod" onclick="checkshow();">
                                                <span class="dis-in" for="radio1">Cash/Cheque</span>
                                            </label>
                                        </article>
                                        <article class="clearfix part-3" style="display:none;">
                                            <label class="font16 dkdark-t radiostyle b-m0">
                                                <input value="2" name="pmethod" onClick="zellashow();" type="radio">
                                                <span class="dis-in" for="radio1">Zelle</span>
                                            </label>
                                        </article>
                                    </article>
                                </article>
                            </article>
                            <article style="display: none;" class="Poppins-Regular font14" id="check">
                                <article class="clearfix border2 border-radius10 bluegrayborder t-b-m10 p10 l-m5 shadow" style="border-color: #396dad;">
                                    <article class="black-t l-h22 b-p5">
                                        You will receive a confirmation email once the payment is credited to WATSWEB account.<br>
                                        <span class="latoitalic font13 red-t2">Check should be payable to “WATSWEB” and mail it to “</span>P.O. Box No : 3322, 1171 Bellevue Way NE, Bellevue, WA 98004.<span class="latoitalic font13 red-t2">
                                            ”<br>
                                            Phone:
                                        </span>425-985-2035<span class="latoitalic font13 red-t2">, &nbsp; Email: <a href="mailto:board@watsweb.org">board@watsweb.org</a>.</span>
                                    </article>
                                    <article class="clearfix b-p10 row-fluid">
                                        <label class="dkdark-t radiostyle b-m0">
                                            <input type="radio" onclick="paymentbyhide();" name="Cash/Cheque" id="mailed">
                                            <span class="dis-in" for="radio1">Mailed the cheque already to Washington Telugu Samithi (WATS)</span>
                                        </label>
                                    </article>
                                    <article class="clearfix part-row b-p10">
                                        <article class="clearfix part-4">
                                            <label class="dkdark-t radiostyle">
                                                <input type="radio" onclick="paymentbyshow();" id="rpaymentby" name="Cash/Cheque">
                                                <span class="dis-in t-p10" for="radio1">Handed the cash/cheque to - </span>
                                            </label>
                                        </article>
                                        <article class="clearfix part-4">
                                            <input type="text" placeholder="Handed the cash/cheque to" name="PaymentBy" id="PaymentBy" class="b-m0 input-block-level">
                                        </article>
                                    </article>
                                </article>
                            </article>
                            <article class="clearfix border2 border-radius10 bluegrayborder t-b-m10 p10 l-m5 shadow" style="border-color: #396dad;" id="paypaldiv">
                                <article class="clearfix part-row">
                                    <article class="clearfix part-6 t-r mobile-t-c" style="float:right;">
                                        <article class="clearfix t-c r-m0 dis-in" style="min-width:200px; max-width:200px;">
                                            <h4 class="clearfix Poppins-Regular blue-t l-h20 font18 b-m15 border-b dis-in b-p5 mobile-font18 mobile-t-b-m0 mobilev-b-m5">Payable Amount</h4>
                                            <h4 id="AmountPayable" class="t-m0 red-t font18 Poppins-Regular l-h20">$ @Math.Round(objMemberDetails.objMembershipOrder.Amount, 0)</h4>
                                        </article>
                                    </article>
                                    <article class="clearfix part-6">
                                        <article class="clearfix font13 poppinsregular l-h24 tabhorizontal-p10 b-p5">
                                            <h4 class="clearfix Poppins-Regular blue-t l-h20 font18 b-m15 border-b dis-in b-p5 mobile-font18 mobile-t-b-m0 mobilev-b-m5">Payment by using PayPal</h4>
                                            <br>
                                            <img src="Content/images/paypal.jpg" alt="PayPal" width="116" height="59">
                                        </article>
                                    </article>
                                </article>
                            </article>

                            <article class="clearfix border gray-border white-bg shadow-b p10 t-m20" id="zellepay" style="display:none;">

                                <article class="clearfix">
                                    <article class="clearfix part-row">
                                        <article class="clearfix part-3">
                                            <article class="clearfix t-c mobile-b-p0 l-p30 mobile-t-l mobile-l-p0">
                                                <img src="Content/images/zelle.png" class="" alt="zelle" width="150" height="">
                                            </article>
                                        </article>
                                        <article class="clearfix part-4 t-p10 l-p10 mobile-t-p0">
                                            <article class="clearfix part-row">
                                                <article class="part-4 t-p5 tablet-t-p10 mobile-t-p0 mobile-t-c">
                                                    @* <span class="v-align-m OpenSans font15 mobilev-font12"> Amount : </span>*@
                                                </article>
                                                <article class="part-6 t-p5 t-l tablet-t-p10 mobile-t-c">
                                                    @*   <b class="font18 red-t">
                                    <span id="totalamount">$0</span>
                                </b>*@
                                                </article>
                                            </article>
                                            @*   <article class="clearfix f-l">
                        <span class="v-align-m OpenSans font15 t-p5 blue-t">Service charge : 2%</span>
                            </article>*@
                                        </article>
                                        <article class="clearfix part-5 t-p15 r-p20 mobile-r-p0">
                                            <h4 class="clearfix m0 OpenSans font15 black-t l-h13 t-c border p10 dis-f mobile-dis-f mobile-t-p0 mobile-b-p10 mobile-l-m20 mobile-t-r">
                                                Total Amount : <span class="font14 red-t l-p5 t-m1n font-w-b"><span class="font14" id="totalamountzelle">$ @Math.Round(objMemberDetails.objMembershipOrder.Amount, 0)</span></span>
                                            </h4>
                                        </article>
                                    </article>
                                </article>
                                <article class="clearfix">
                                    <article class="clearfix b-p5"> <span class="Muli-Light font13 red-t2">Here are the Zelle details you should know for the transfer</span> </article>

                                    <article class="clearfix b-p5"> <span class="Muli-Light font13 red-t2 font-w-b">Zelle Name: <a>Washington Telugu Samithi</a> </span> </article>
                                    <article class="clearfix b-p5"> <span class="Muli-Light font13 red-t2 font-w-b">Zelle Email Id: <a href="mailto:fintec@watsweb.org">fintec@watsweb.org</a> </span> </article>

                                    <article class="clearfix b-p5"> <span class="Muli-Light font13 red-t2">Please <b>use your Order Number (available once you place order)</b> as the Payment reference.</span> </article>

                                </article>
                                <article class="clearfix">
                                    <article class="clearfix part-row b-p10">
                                        <label class="dkdark-t radiostyle dis-in">
                                            <span class="dis-in t-p10">Zelle Transaction Id - </span>
                                        </label>
                                        <input placeholder="Zelle Transaction Id" name="TransactionId" id="TransactionId" class="b-m0 form-control" style="max-height: 30px; max-width:200px; display:inline-block!important; font-size:12px;" type="text">
                                    </article>
                                </article>

                            </article>
                        </article>

                        <article style="max-width: 240px;" class="clearfix t-p15 pull-right">
                            <a href="profile.html">
                                <input type="submit" class="btn btn-danger btn-sm btn-block font18 l-r-p45 t-t-u border-radius0" onclick="return Validate()" value="Submit"></a>
                        </article>
                    </article>
                }
            </article>
        </article>
    </article>
</article>
