@using System.Configuration;
@{ Layout = null;}
@{
    string sortcolumn = (string)ViewBag.sortcolumn;
    string sortorder = (string)ViewBag.sortorder;
    Int64 Total = (Int64)ViewBag.total;
    var PageNo = (Int64)ViewBag.pageno;
    var Items = (Int64)ViewBag.items;


    List<WATS.Entities.WebsiteBanners> lstBannerslist = ViewBag.Bannerslist;
    var imgloc = ConfigurationManager.AppSettings["usersiteurl"] + "Content/WebsiteBanners/ThumbImages/";
    var imglocNormal = ConfigurationManager.AppSettings["usersiteurl"] + "Content/WebsiteBanners/NormalImages/";   
}

<link rel="stylesheet" type="text/css" href="Content/lib/lightview/css/lightview/lightview.css" />
<script type="text/javascript" src="Content/lib/lightview/js/spinners/spinners.js"></script>
<script type="text/javascript" src="Content/lib/lightview/js/lightview/lightview.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('.closable').append('<span class="closelink" title="Close"></span>');
        $('#MWebsite').addClass('active');
        $('.closelink').click(function () {
            $(this).parent().fadeOut('600', function () { $(this).remove(); });
        });
    });

    function WebsiteBannerStatus(WebsiteBannerId) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("WebsiteBannersStatus", "WebsiteBanners")', // the URL of the controller action method
            data: { WebsiteBannerId: WebsiteBannerId }, // optional data
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    $('#divmessage').html(result.data);
                    Onload($('#hdnPageNo').val());
                }
                else {
                    $('#divmessage').html(result.data);
                }
            }
        });
    }

    function BannerDelete(Id, BannerUrl) {
        var val2 = confirm("Do you want to delete this record?");
        if (val2) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteBanner", "WebsiteBanners")',  // the URL of the controller action method
                data: { WebsiteBannerId: Id, BannerUrl: BannerUrl }, // optional data
                success: function (result) {
                    if (result.ok) {
                        $("#divmessage").html(result.data);
                        Onload($('#hdnPageNo').val());
                    }
                    else {
                        $("#divmessage").val(result.data);
                    }
                },
            });
        }
    }

    function UpdateOrderNo(i, WebsiteBannerId) {
        var OrderNo = parseInt($('#OrderNo' + i).val());
        $.ajax({
            type: 'POST',
            url: '@Url.Action("WebsiteBannerOrderNo", "WebsiteBanners")',
            data: { OrderNo: OrderNo, WebsiteBannerId: WebsiteBannerId },
            success: function (result) {
                var div = '';
                if (result.ok) {
                    $("#divmessage").html(result.data);
                    Onload(1);
                }
                else {
                    $("#divmessage").html(result.data);
                }
            }
        });
    }
</script>

<div class="row-fluid">
    <div class="span12">
        @if (Total == -1)
        {
            <div class="norecords">Sorry failed processing your request.</div> 
        }
        else
        {
            <table width="100%" class="table table-hover  table_vam table-black">
                <thead>
                    <tr>
                        <th width="50">S.No.</th>
                        <th width="80" align="center">Picture</th>
                        <th><a onclick="javascript:sortresult('BannerTitle');" class="white-t-u">Title @if (sortcolumn == "BannerTitle")
                         {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }</th> 
                       
                         <th><a onclick="javascript:sortresult('UpdatedTime');" class="white-t-u">Posted Date @if (sortcolumn == "UpdatedTime")
                         {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }</th> 
                         <th><a onclick="javascript:sortresult('OrderNo');" class="white-t-u">Order No @if (sortcolumn == "OrderNo")
                         {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }</th>   
                         <th><a onclick="javascript:sortresult('IsActive');" class="white-t-u">Status @if (sortcolumn == "IsActive")
                         {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }</th> 
                        
                        <th width="70">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (lstBannerslist.Count != 0)
                    {
                        int i = 0;
                        foreach (var item in lstBannerslist)
                        { 
                        <tr valign="top">
                            <td>@item.RId</td>
                            <td><a href="@(imglocNormal + item.BannerUrl)" class='lightview' data-lightview-group='example' title="@item.BannerTitle">
                                <img alt="@item.BannerTitle" title="@item.BannerTitle" style="height:50px;" width="80" class="borwhite5 border-radius shadow" src="@WATS.BLL.Common.ValidateImage((imgloc + item.BannerUrl), imgloc + "no-image.png")"></a> </td>
                            <td style="text-align: left">@item.BannerTitle</td>                            
                           
                            <td>@item.UpdatedTime.ToString("MM-dd-yyyy")</td>
                            <td>
                                <input type="text" style="width:30px;" maxlength="3" id="OrderNo@(i)" value="@item.OrderNo" onkeypress ="return Common.isNumberKey(event)"/>
                            <a onclick="UpdateOrderNo(@i,@item.WebsiteBannerId);" title="Update"><i class="icon-refresh"></i></a>                   
                                
                            </td>
                            <td>
                                 @{
                            var isactive = "";
                            var active = "";
                            var disable = "";
                            if (item.IsActive == true)
                            {
                                isactive = "Active";
                                disable = "style=\"cursor: pointer;\" onclick=\"javascript:WebsiteBannerStatus(" + item.WebsiteBannerId + ");\"";
                            }
                            else
                            {
                                isactive = "Disabled";
                                active = "style=\"cursor: pointer;\" onclick=\"javascript:WebsiteBannerStatus(" + item.WebsiteBannerId + ");\"";
                            }
                        <div class="admin-active">@isactive
                            <ul>
                                <li><a @Html.Raw(active) >Active</a></li>
                                <li><a @Html.Raw(disable) >Disabled</a></li>
                            </ul>
                        </div>      
                    }
                            </td>
                            <td>
                                <a onclick="WebsiteBannersEdit(@item.WebsiteBannerId);" title="Edit"><i class="icon-pencil"></i></a>
                                <a class="themedelete" onclick="javascript:BannerDelete(@item.WebsiteBannerId,'@item.BannerUrl');" id="12" title="Delete"><i class="icon-trash"></i></a>
                                @*<a title="Delete" class="sepV_a disable-alpha"><i class="icon-trash"></i></a>*@
                            </td>
                        </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="norecords" colspan="7">No Records Found.</td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    </div>
</div>
@Html.Raw(WATS.BLL.Common.SetPaging((Int64)ViewBag.items, ref Total, (Int64)ViewBag.pageno, "pagination pagination-centered"))
