@{ Layout = null;
    var userRole = "";
}
@{
    string sortcolumn = (string)ViewBag.sortcolumn;
    string sortorder = (string)ViewBag.sortorder;
    Int64 Total = (Int64)ViewBag.total;
    var PageNo = (Int64)ViewBag.pageno;
    var Items = (Int64)ViewBag.items;

    List<WATS.Entities.DonationCategories> lstDonationCategory = ViewBag.lstDonationCategory;
}
@{ HttpContext ctx = HttpContext.Current;
    HttpCookie authCookie = HttpContext.Current.Request.Cookies["UserCookie"];

    FormsAuthenticationTicket authTicket;

    if (this.User.Identity.IsAuthenticated && this.User.Identity.Name != null && Context.Session != null)
    {
        authTicket = FormsAuthentication.Decrypt(authCookie.Value);
        userRole = authTicket.UserData;
    }

}
<script type="text/javascript">

    $(document).ready(function () {
        $('.closable').append('<span class="closelink" title="Close"></span>');
        $('#MWebsite').addClass('active');
        $('.closelink').click(function () {
            $(this).parent().fadeOut('600', function () { $(this).remove(); });
        });
    });
    function DonationCategoryStatus(DonationCategoryId) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("DonationCategoryStatus", "DonationCategories")', // the URL of the controller action method
            data: { DonationCategoryId: DonationCategoryId }, // optional data
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    $('#divmessage').html(result.data);
                    DonationCategoryBind($('#hdnPageNo').val());
                }
                else {
                    $('#divmessage').html(result.data);
                }
            }
        });
    }

    function DonationCategoryDisplayOrder(i, DonationCategoryId) {
        var DisplayOrder = parseInt($('#DisplayOrder' + i).val());
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DonationCategoryDisplayOrder", "DonationCategories")',
            data: { DisplayOrder: DisplayOrder, DonationCategoryId: DonationCategoryId },
            success: function (result) {
                var div = '';
                if (result.ok) {
                    $("#divmessage").html(result.data);
                    DonationCategoryBind(1);
                }
                else {
                    $("#divmessage").html(result.data);
                }
            }
        });
    }
</script>
<div class="row-fluid">
    <div class="span12">
        @if (Total == -1)
        {
            <div class="norecords">Sorry failed processing your request.</div>
        }
        else
        {
            <table width="100%" class="table table-hover  table_vam table-black">
                <thead>
                    <tr>
                        <th width="6%" align="center">S.No.</th>
                        <th>
                            <a onclick="javascript:sortresult('CategoryName');" class="white-t-u">
                                Category Name @if (sortcolumn == "CategoryName")
                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" />}
                        </th>
                        <th width="15%">
                            <a onclick="javascript:sortresult('OrderNo');" class="white-t-u">
                                Order No @if (sortcolumn == "OrderNo")
                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" />}
                        </th>

                        <th width="15%">
                            <a onclick="javascript:sortresult('IsActive');" class="white-t-u">
                                Status @if (sortcolumn == "IsActive")
                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" />}
                        </th>
                        @if (userRole.Contains("VicePresident"))
                        { }
                        else
                        {
                            <th width="9%">Action</th>
                        }
                        </tr>
                </thead>
                <tbody>
                    @if (lstDonationCategory.Count != 0)
                    {
                        int i = 0;
                        foreach (var item in lstDonationCategory)
                        {
                    <tr>
                        <td>@item.RId</td>
                        <td style="text-align: left">@item.CategoryName</td>
                        @if (userRole.Contains("WebMaster") || userRole.Contains("SuperAdmin"))
                        {
                            <td>
                                <input type="text" style="width:30px;margin-bottom:0px;" maxlength="3" id="DisplayOrder@(i)" value="@item.OrderNo" onkeypress="return Common.isNumberKey(event)" />
                                <a onclick="DonationCategoryDisplayOrder(@i,@item.DonationCategoryId);" title="Update"><i class="icon-refresh"></i></a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <input type="text" style="width:30px;margin-bottom:0px;" maxlength="3" id="DisplayOrder@(i)" value="@item.OrderNo" onkeypress="return Common.isNumberKey(event)" />
                            </td>
                        }
                        @if (userRole.Contains("WebMaster") || userRole.Contains("SuperAdmin"))
                        {
                            <td align="center">
                                @{
                                    var isactive = "";
                                    var active = "";
                                    var disable = "";
                                    if (item.IsActive == true)
                                    {
                                        isactive = "Active";
                                        disable = "style=\"cursor: pointer;\" onclick=\"javascript:DonationCategoryStatus(" + item.DonationCategoryId + ");\"";
                                    }
                                    else
                                    {
                                        isactive = "Disabled";
                                        active = "style=\"cursor: pointer;\" onclick=\"javascript:DonationCategoryStatus(" + item.DonationCategoryId + ");\"";
                                    }
                                    <div class="admin-active">
                                        @isactive
                                        <ul>
                                            <li><a @Html.Raw(active)>Active</a></li>
                                            <li><a @Html.Raw(disable)>Disabled</a></li>
                                        </ul>
                                    </div>
                                }
                            </td>
                        }
                        else
                        {
                            <td>
                                <span>@(item.IsActive == true ? "Active" : "Disabled")</span>
                            </td>
                        }
                        @if (userRole.Contains("VicePresident"))
                        {
                        }
                        else
                        {
                            <td>
                                @if (userRole.Contains("SuperAdmin") || userRole.Contains("WebMaster"))
                                {
                                    <a title="Edit" onclick="EditDonationCategory(@item.DonationCategoryId);"><i class="icon-pencil"></i></a>
                                }
                                @if (userRole.Contains("WebMaster"))
                                {
                                }
                                else if (userRole.Contains("SuperAdmin") || userRole.Contains("Treasurer"))
                                {
                                    <a title="Delete" id="1" class="ccdelete" onclick="javascript:Delete(@item.DonationCategoryId);"><i class="icon-trash"></i></a>
                                }
                                @*<a title="Delete" class="sepV_a disable-alpha"><i class="icon-trash"></i></a>*@

                            </td>
                        }
                    </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="norecords" colspan="6">No Records Found.</td>
                        </tr>
                    }
            </table>
        }
    </div>
</div>
@Html.Raw(WATS.BLL.Common.SetPaging((Int64)ViewBag.items, ref Total, (Int64)ViewBag.PageNo, "pagination pagination-centered"))
