@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    HttpContext ctx = HttpContext.Current;
    HttpCookie authCookie = HttpContext.Current.Request.Cookies["UserCookie"];

    FormsAuthenticationTicket authTicket;

    authTicket = FormsAuthentication.Decrypt(authCookie.Value);

    string Role = authTicket.UserData;
}

<script type="text/javascript">


    $(function () {
        $(".ui-accordion").accordion({
            collapsible: true,
            heightStyle: "content"
        });

        // date picker
        $(function () {
            $(function () {
                $(".datepicker").datepicker({
                    altField: "#alternate",
                    altFormat: "DD, d MM, yy"
                });
            });
        });
    });

    $(document).ready(function () {
      //  $("#ExpiryDate").datepicker({ changeMonth: true, changeYear: true, yearRange: "-10:+10", altFormat: 'mm/dd/yy' });
       // $("#ExpiryDate").datepicker({ changeMonth: true, changeYear: true, yearRange: "-100:+10", altFormat: 'mm/dd/yy', dateFormat: "mm/dd/yy" });
       // $(".date").datepicker({ changeMonth: true, changeYear: true, yearRange: "-90:+0", altField: '.date', altFormat: 'mm/dd/yy' });
        $(".Cdate").datepicker({ changeMonth: true, changeYear: true, yearRange: "-90:+0", altField: '.Cdate', altFormat: 'mm/dd/yy' });

        $('#MWebsite').addClass('active');
        $('.closable').append('<span id="lblclose" class="closelink" title="Close"></span>');
        PagerClickBind();

    });

    function PagerClickBind() {
        $(".pagination a").bind("click", function () {
            TeluguBadiOrdersBind($(this).text());
        });
    }

    $(document).ready(function () { 
        $('#AddTeluguBadiType').dialog
           ({
               autoOpen: false,
               width: 450,
               modal: true
           });
       
    });

    function sortresult(sortcolumn) {
        $('#hdnsortorder').val(($('#hdnsortorder').val() == 'ASC' ? 'DESC' : 'ASC'));
        $('#hdnsortcolumn').val(sortcolumn);
        TeluguBadiOrdersBind(1);
    }

    function TeluguBadiOrdersBind(Pageno) {

        var pageno = Common.Pageno(Pageno);
        var sortcolumn = $('#hdnsortcolumn').val();
        var sortorder = $('#hdnsortorder').val();
        var items = $('#txtitems').val();
        var Search = $('#txtsearch').val();
       
        $.ajax({
            url: '@Url.Action("TeluguBadiOrdersList", "TeluguBadiOrders")',
            type: 'GET',
            cache: false,
            data: { Search: Search, PageNo: pageno, SortColumn: sortcolumn, SortOrder: sortorder, Items: items },
            success: function (result) {
                $('#divTeluguBadiOrdersList').html(result);
                PagerClickBind();
            }
        });
    }

 
    function ClearSearch() {
        $('#txtsearch').val('');

        TeluguBadiOrdersBind(1);
    }
 
  
    function Delete(OrderId) {
        var val2 = confirm("Do you want to delete this record?");
        if (val2) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteTeluguBadiType", "TeluguBadiOrders")',  // the URL of the controller action method
                data: { OrderId: OrderId }, // optional data
                success: function (result) {
                    $("#divmessage").html(result.data);
                    TeluguBadiOrdersBind($('#hdnPageNo').val());
                },
                error: function (req, status, error) {
                    $("#divmessage").html(result.data);
                }
            });
        }
    }

   
</script>

<input id="hdnPageNo" type="hidden" value="1" />
<input id="hdnsortcolumn" type="hidden" value="OrderId" />
<input id="hdnsortorder" type="hidden" value="ASC" />

<!-- breadcumb -->
<div class="clearfix breadcrumb-main"><ul class="breadcrumb  ">
    <li><a href="@Url.Action("Index","InnerPages")">Web Pages</a> <span class="divider">/</span></li>
    <li class="active">TeluguBadi Orders</li>
    <li class="fR sepV_c"><i class="icon-globe"></i><a href="alert('Under Process')" target="_blank">View Mainsite</a></li>
</ul></div>
<!-- end breadcumb -->


<div id="maincontainer">
    <div class="mainContent">
        <!--- TOPEBAR [start] ---->
        @Html.Partial("MainMenu", "SuperAdmin")
        <!--- TOPEBAR [end] ---->

        <!--- SIDEBAR [start] ---->
        @Html.Partial("LeftMenu")
        <!--- SIDEBAR [en] ---->
        <div class="pageHeadingBlock ">
            <div class="grayBackground">
               
                <h3 class="title">TeluguBadi Orders</h3>
                <div class="sectionTabNav visible">
                    <div class="btn-group">
                        <a  class="btn"  href="@Url.Action("Index", "TeluguBadiRegistrations")">TeluguBadi Registrations</a>
                        <a class="btn active" href="@Url.Action("Index", "TeluguBadiOrders")">TeluguBadi Orders</a>
                        <a class="btn" href="@Url.Action("Index", "TeluguBadiTypes")">TeluguBadi Types</a>
                        @*<a class="btn" href="@Url.Action("Index", "Volunteers")">Volunteers</a>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix sepH_b"></div>
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>
                        <div id="divmessage">
                            @if (TempData["message"] != null)
                            {@Html.Raw(TempData["message"].ToString())}

                            @if (ViewBag.message != null)
                            {@Html.Raw(ViewBag.message.ToString())}
                        </div>

                        <div class="grayBackground nobL nobR">
                            <div id="filterReg" class="ui-accordion">
                                <h4><b>Search</b></h4>
                                <div>
                                    <div class="filedsetInner clearfix">
                                        <div class="row-fluid">
                                            <div class="span4 clearfix">
                                                <label>Search </label>
                                                <input type="text" name="txtsearch" id="txtsearch" class="input span12" value="" placeholder="TRegistrationId / Name " />
                                            </div>
                                            <div class="span4 l-p35">
                                                <button class="btn btn-primary filterAction" onclick="TeluguBadiOrdersBind();">Search</button>
                                                <a class="btn btn-inverse filterAction wC" onclick="ClearSearch();">Clear</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>               
                <tr>
                    <td><a id="edit" name="edit"></a></td>
                </tr>
                <tr>
                    <td align="right" height="15">&nbsp;</td>
                </tr>
                <tr>
                    <td>                       
                        <div id="divTeluguBadiOrdersList">
                            @{Html.RenderAction("TeluguBadiOrdersList", "TeluguBadiOrders");}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



