@{
    ViewBag.Title = "ViewForm5";
    Layout = null;

    var objForm5 = (WATS.Entities.Form5)ViewBag.objForm5;
}
@{var baseurl = System.Configuration.ConfigurationManager.AppSettings["baseurl"];}
<base href="@(baseurl)" />
<link href="Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="Content/jquery-ui.css" />
<link href="Content/admin-style.css" rel="stylesheet" media="screen">
<link href="Content/admin-comman-styles.css" rel="stylesheet" media="screen">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
<script src="Scripts/jquery-1.8.3.js" type="text/javascript"></script>
<script src="Scripts/jquery-ui-1.9.2.custom.min.js" type="text/javascript"></script>
<script src="Scripts/jquery.ui.widget.js"></script>
<script src="Scripts/jquery.ui.accordion.js"></script>
<script src="Scripts/delete_item.js" type="text/javascript"></script>
<script type="text/javascript" src="Scripts/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="Scripts/jquery-ui-sliderAccess.js"></script>
<script type="text/javascript">
    $(function () {
        $(".ui-accordion").accordion({
            collapsible: true,
            heightStyle: "content"
        });

        // date picker
        $(function () {
            $(function () {
                $(".datepicker").datepicker({
                    altField: "#alternate",
                    altFormat: "DD, d MM, yy"
                });
            });
        });
    });
    $(document).ready(function () {
        $('.closable').append('<span class="closelink" title="Close"></span>');
        $('.closelink').click(function () {
            $(this).parent().fadeOut('600', function () { $(this).remove(); });
        });
        Common.mfadeout();

    });
</script>



<table width="750" cellspacing="0" cellpadding="0" border="0" align="center" class="main-text">
    <tbody>
        <tr>
            <td>
                <div id="messages"></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="custom-adn grayBackground nobL nobR">
                    <div class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-accordion-2-header-0" aria-controls="ui-accordion-2-panel-0" aria-selected="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><b>Registration Details</b></h3>
                        <div class="form-horizontal ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;" id="ui-accordion-2-panel-0" aria-labelledby="ui-accordion-2-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false">
                            <div class="filedsetInner clearfix">

                                <table width="100%" cellspacing="0" cellpadding="6" border="0" class="mgrey2">
                                    <tbody>
                                        <tr>
                                            <td><strong>Event Name : </strong></td>
                                            <td>@(objForm5.EventName == null && objForm5.EventName == "" ? "N/A" : objForm5.EventName)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Registration Category : </strong></td>
                                            <td>@(objForm5.CategoryName == null && objForm5.CategoryName == "" ? "N/A" : objForm5.CategoryName)</td>
                                        </tr>

                                        <tr>
                                            <td><strong>TeamName : </strong></td>
                                            <td> @(objForm5.TeamName == "" ? "N/A" : objForm5.TeamName)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>PContactName : </strong></td>
                                            <td> @(objForm5.PContactName == "" ? "N/A" : objForm5.PContactName)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>PContact Email: </strong></td>
                                            <td> @(objForm5.PContactEmail == "" ? "N/A" : objForm5.PContactEmail)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>PContact PhoneNo : </strong></td>
                                            <td> @(objForm5.PContactPhoneNo == "" ? "N/A" : objForm5.PContactPhoneNo)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>SContact Name  : </strong></td>
                                            <td> @(objForm5.SContactName == "" ? "N/A" : objForm5.SContactName)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>SContact Email : </strong></td>
                                            <td>  @(objForm5.SContactEmail == "" ? "N/A" : objForm5.SContactEmail)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>SContact PhoneNo : </strong></td>
                                            <td>@(objForm5.SContactPhoneNo == "" ? "N/A" : objForm5.SContactPhoneNo)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>SportsType : </strong></td>
                                            <td>@(objForm5.SportsType == "" ? "N/A" : objForm5.SportsType)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Sports Category : </strong></td>
                                            <td>@(objForm5.SportsCategory == "" ? "N/A" : objForm5.SportsCategory)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Participants FullNames : </strong></td>
                                            <td>  @(objForm5.ParticipantsFullNames == "" ? "N/A" : objForm5.ParticipantsFullNames)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Approved Date : </strong></td>
                                            <td>@objForm5.ApprovedDate.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Admin Comments : </strong></td>
                                            <td>@(objForm5.AdminComments  == "" ? "N/A" : objForm5.AdminComments )</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="custom-adn grayBackground nobL nobR">
                    <div class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-accordion-2-header-0" aria-controls="ui-accordion-2-panel-0" aria-selected="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><b>Payment Details</b></h3>
                        <div class="form-horizontal ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;" id="ui-accordion-2-panel-0" aria-labelledby="ui-accordion-2-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false">
                            <div class="filedsetInner clearfix">

                                <table width="100%" cellspacing="0" cellpadding="6" border="0" class="mgrey2">
                                    <tbody>
                                        <tr>
                                            <td><strong>PaymentStatus : </strong></td>
                                            <td>  @(objForm5.PaymentStatus == "" ? "N/A" : objForm5.PaymentStatus)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Payment Method : </strong></td>
                                            <td>@(objForm5.PaymentMethod == "" ? "N/A" : objForm5.PaymentMethod)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Payment Date : </strong></td>
                                            <td>@objForm5.PaymentDate.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Transaction Id : </strong></td>
                                            <td>@(objForm5.TransactionId == "" ? "N/A" : objForm5.TransactionId)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Amount Paid : </strong></td>
                                            <td>@(objForm5.AmountPaid == 0 ? "N/A" : objForm5.AmountPaid.ToString())</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Bank Name : </strong></td>
                                            <td>  @(objForm5.BankName == "" ? "N/A" : objForm5.BankName)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Cheque No : </strong></td>
                                            <td>@(objForm5.ChequeNo == "" ? "N/A" : objForm5.ChequeNo)</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Cheque Date : </strong></td>
                                            <td>@(objForm5.ChequeDate == null ? "N/A" : objForm5.ChequeDate.ToString("MM-dd-yyyy"))</td>
                                        </tr>
                                </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!-- end personal info form -->
                </div>
                <div class="clearfix sepH_b b-m0"></div>

            </td>
        </tr>
    </tbody>
</table>
@*<div class="form-actions">
        <div class="actionButtons">
            <a class="btn btn-inverse" href="@Url.Action("Index", "Form5")">Cancel</a>
        </div>
    </div>*@
@*</div>
    </div>*@