@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "WATS - Acknowledgement";

    var EventName = ViewBag.EventName;

    string CategoryName = ViewBag.CategoryName;
}

<article class="clearfix border t-m1 ralewayregular font14 l-h24 p30 mobilev-p15 black-t" style="min-height:1150px;">
    <article class="clearfix curve position-r t-m35n t-b-p25">
        <h2 class="Impact font24 black-t l-h16 t-c mobile-font16 t-m0">Acknowledgement</h2>
    </article>
    <article class="clearfix l-r-m-auto t-b-p30" style="max-width:900px">
        <article class="clearfix t-c t-b-p20">
            <img src="Content/images/success.png" alt="" width="203" height="196">
        </article>
        <article class="clearfix t-p15">
            <article class="clearfix border-t3 border border-radius5 shadow1 white-bg" style="border-top-color: #952b71;">
                <article class="clearfix part-row">
                    <article class="clearfix part-6 border-r grayborder1">
                        <article class="clearfix t-p15 b-p15">
                            <h4 class="clearfix t-m0 Poppins-Regular font15 dk-t4"><span class="border-b grayborder1 rp35 tabhorizontal-r-p10 b-p10"><span class="l-p25"><b>Your Details</b></span></span></h4>
                        </article>
                        <article class="clearfix b-p25 l-p25">
                            <h5 class="Poppins-Regular dk-t4 t-m0 font15">@ViewBag.UserName</h5>
                            <label class="OpenSans font14 lowgray-t3 l-h20">
                                @ViewBag.AddressName<br />
                                @ViewBag.AddressStreet
                                @ViewBag.AddressCity
                                @ViewBag.AddressState ,
                                @ViewBag.AddressCountry<br />
                                @ViewBag.AddressZip<br />
                            </label>
                            <a href="mailto:@ViewBag.PayerEmail" class="Poppins-SemiBold font14 violet-t l-h20">@ViewBag.PayerEmail</a>
                        </article>
                    </article>
                    <article class="clearfix part-6">
                        <article class="clearfix t-p15 b-p15 mobile-t-p0">
                            <h4 class="clearfix t-m0 Montserrat-Regular font15 dk-t4"><span class="border-b grayborder1 r-p45 b-p10"><span class="l-p25"><b>Payment Received By</b></span></span></h4>
                        </article>
                        <article class="clearfix b-p25 l-p25">
                            <h5 class="OpenSans dk-t4 t-m0 font15">Washington Telugu Samithi (WATS)</h5>
                            <a href="mailto:@(ViewBag.ReceiverEmail)" class="Poppins-SemiBold font14 violet-t l-h20">@(ViewBag.ReceiverEmail)</a>
                        </article>
                    </article>
                </article>
            </article>
        </article>
        <article class="clearfix t-p25 overflow_x-a">
            <table class="table table-hover table-bordered poppinsregular m0" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <th width="16.6%">Date &amp; Time</th>
                        <th width="23.7%">Transaction Details</th>
                        <th width="28.2%">Summary</th>
                        <th width="16.9%">Status</th>
                        <th width="14.6%">Total</th>
                    </tr>
                    <tr>
                        <td width="16.6%">@Convert.ToDateTime(ViewBag.PaymentDate).ToString("MM/dd/yyyy hh:mm:ss tt")</td>
                        <td width="23.7%">@ViewBag.TransactionId</td>
                        <td width="28.2%">
                            @EventName - @CategoryName Event Registration for the WATS
                        </td>
                        <td width="16.9%">@ViewBag.PaymentStatus</td>
                        <td width="14.6%"><span class="pnk-t">$ @ViewBag.GrossTotal</span></td>
                    </tr>
                </tbody>
            </table>
        </article>
        <article class="clearfix t-p25 mobile-t-p20 message t-c">
            <a style="background-color:#952b71; border-radius:4px; padding:20px 60px; color:#fff; border-bottom:4px solid #ebbaca;" href="@Url.Action("Index","Home")" class="Raleway-Medium font14 t-t-u tabhorizontal-dis-in"><span class="v-align-m font22">BACK TO HOME</span></a>
        </article>

    </article>
</article>