@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    Int64 PhotoCategoryId = ViewBag.PhotoCategoryId;
    var catlist = (List<WATS.Entities.PhotoCategories>)ViewBag.catlist;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#MWebsite').addClass('active');
        $('#PhotoCategoryId').val(@PhotoCategoryId);
        PagerClickBind();
    });
    function Delete(PhotoId, ImageFileName) {
        var val2 = confirm("Do you want to delete this record?");
        if (val2) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("PhotoDelete", "PhotoGallery")',  // the URL of the controller action method
                data: { PhotoId: PhotoId, ImageFileName: ImageFileName }, // optional data
                success: function (result) {
                    PhotosBind($('#hdnPageNo').val());
                    $("#divmessage").html(result.data);
                },
                error: function (req, status, error) {
                    $("#divmessage").html(result.data);
                }
            });
        }
    }

    function PagerClickBind() {
        $(".pagination a").bind("click", function () {
            PhotosBind($(this).text(), $('#hdnsorting').val());
        });
    }

    function PhotosBind(Pageno) {

        var pageno = Common.Pageno(Pageno);
        var sortcolumn = $('#hdnsortcolumn').val();
        var sortorder = $('#hdnsortorder').val();
        var items = $('#txtitems').val();
        var Search = $('#txtsearch').val();
        var PhotoCategoryId = @PhotoCategoryId

        $.ajax({
            url: '@Url.Action("PhotosList", "PhotoGallery")',
            type: 'GET',
            cache: false,
            data: { Search: Search, PageNo: pageno, SortColumn: sortcolumn, SortOrder: sortorder, Items: items, PhotoCategoryId: PhotoCategoryId },
            success: function (result) {
                $('#divPhotoCategory').html(result);
                PagerClickBind();
            }
        });
    }   

    function Select(check) {
        var arr = document.getElementsByName(check);
        if (arr[0].checked == true) {
            Common.selectAll('checkbox', check);
        }
        else {
            Common.clearAll('checkbox', check);
        }
    }   

    function ClearSearch() {
        $('#txtsearch').val('');
        $('#PhotoCategoryId').val('');

        PhotosBind(1);
    }
</script>

<input id="hdnPageNo" type="hidden" value="1" />

<!-- breadcumb -->
<div class="clearfix breadcrumb-main"><ul class="breadcrumb  ">     
     <li><a href="@Url.Action("Index", "InnerPages")">Web Site</a> <span class="divider">/</span></li>
     @*<li><a href="@Url.Action("Index", "PhotoGallery")">Photo Categories</a> <span class="divider">/</span></li>*@
    <li class="active">Photo Gallery</li>
    <li class="fR sepV_c"><i class="icon-globe"></i><a target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["usersiteurl"]">View Mainsite</a></li>
</ul></div>
<!-- end breadcumb -->

<div id="maincontainer">
    <div class="mainContent">
        <!--- TOPEBAR [start] ---->
        @Html.Partial("MainMenu", "SuperAdmin")
        <!--- TOPEBAR [end] ---->

        <!--- SIDEBAR [start] ---->
        @Html.Partial("LeftMenu")
        <!--- SIDEBAR [en] ---->

        <div class="pageHeadingBlock ">
            <div class="grayBackground">
                <div class="fR t-r">
                    <a class="btn btn-small btn-primary coursesMenu" href="@Url.Action("AddPhoto", "PhotoGallery", new { PhotoCategoryId = PhotoCategoryId })">Add Photo</a>
                    <a class="btn btn-small btn-primary coursesMenu" href="@Url.Action("Index", "PhotoGallery")">Photo Categories</a>
                </div>
                <h3 class="title">Photo Gallery</h3>                
            </div>
        </div>
        <div class="grayBackground nobL nobR">
            <div id="filterReg" class="ui-accordion">
                <h4><b>Filter Photos</b></h4>
                <div>
                    <div class="filedsetInner clearfix">
                        <div class="row-fluid">
                            <div class="span3">
                                <label>Category</label>
                                <select class="input-block-level" name="PhotoCategoryId" id="PhotoCategoryId">
                                    @if (catlist != null)
                                    {
                                        <option value="">Select</option>
                                        foreach (var item in catlist)
                                        { 
                                        <option value="@item.PhotoCategoryId">@item.CategoryName</option>
                                        }
                                    }
                                </select>
                            </div>
                            
                            <div class="span4">
                                <label>Search </label>
                                <input type="text" name="txtsearch" id="txtsearch" class="span12" value="" placeholder="Keyword" />
                            </div>
                             <div class="span3">
                                <button class="btn btn-primary filterAction" onclick="PhotosBind(1);">Search</button>
                                <a class="btn btn-inverse filterAction wC" onclick="ClearSearch();">Clear</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="text12">
            <tbody>
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td>
                        <div id="divmessage">
                            @if (TempData["message"] != null)
                            { @Html.Raw(TempData["message"].ToString())}

                            @if (ViewBag.message != null)
                            { @Html.Raw(ViewBag.message.ToString())}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div id="divPhotoCategory">
                            @{Html.RenderAction("PhotosList", "PhotoGallery", new { PhotoCategoryId = PhotoCategoryId });}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
