@{
    ViewBag.Title = "AddTeluguBadiRegistrations";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var objTeluguBadiRequirement = (WATS.Entities.TeluguBadiRegistrations)ViewBag.objTeluguBadiRequirement;
    var lstTeluguBadiTypes = (List<WATS.Entities.TeluguBadiTypes>)objTeluguBadiRequirement.lstTeluguBadiTypes;
    var lstPaymentMethod = (List<WATS.Entities.PaymentMethods>)objTeluguBadiRequirement.lstPaymentMethod;
    var lstPaymentStatus = (List<WATS.Entities.PaymentStatus>)objTeluguBadiRequirement.lstPaymentStatus;
    var objTeluguBadiRegistrationsorders = (WATS.Entities.TeluguBadiRegistrations)ViewBag.objTeluguBadiRegistrationsorders;
    List<WATS.Entities.TeluguBadiOrders> lstTeluguBadiOrders = ViewBag.lstTeluguBadiOrders;

    
}

<script type="text/javascript">
  


    $(function () {
        $(".ui-accordion").accordion({
            collapsible: true,
            heightStyle: "content"
        });

        // date picker
        $(function () {
            $(function () {
                $(".datepicker").datepicker({
                    altField: "#alternate",
                    altFormat: "DD, d MM, yy"
                });
            });
        });
    });
    $(document).ready(function () {
        $('#wTeluguBadiRegistrations').addClass('active');
        $('#MWebsite').addClass('active');
        $('.closable').append('<span id="lblclose" class="closelink" title="Close"></span>');
        $(".Odate").datepicker({ changeMonth: true, changeYear: true, yearRange: "-90:+0", altField: '.Odate', altFormat: 'dd/mm/yy' });
        $(".Edate").datepicker({ changeMonth: true, changeYear: true, yearRange: "-90:+0", altField: '.Edate', altFormat: 'dd/mm/yy' });
        $(".Cdate").datepicker({ changeMonth: true, changeYear: true, yearRange: "-90:+0", altField: '.Cdate', altFormat: 'dd/mm/yy' });
    });


    function Validate() {
        if ($('#FatherFirstName').val() == "") { $('#spanFatherFirstName').html('Required.'); $('#FatherFirstName').focus().addClass(""); return false; } else { $('#spanFatherFirstName').html(''); $('#FatherFirstName').focus().removeClass(""); }
        if ($('#FatherLastName').val() == "") { $('#spanFatherLastName').html('Required.'); $('#FatherLastName').focus().addClass(""); return false; } else { $('#spanFatherLastName').html(''); $('#FatherLastName').focus().removeClass(""); }
        if ($('#FatherEmail').val() == "") { $('#spanFatherEmail').html('Required.'); $('#FatherEmail').focus().addClass(""); return false; } else { $('#spanFatherEmail').html(''); $('#FatherEmail').focus().removeClass(""); }
        if ($('#FatherPhoneNo').val() == "") { $('#spanFatherPhoneNo').html('Required.'); $('#FatherPhoneNo').focus().addClass(""); return false; } else { $('#spanFatherPhoneNo').html(''); $('#FatherPhoneNo').focus().removeClass(""); }
        if ($('#MotherFirstName').val() == "") { $('#spanMotherFirstName').html('Required.'); $('#MotherFirstName').focus().addClass(""); return false; } else { $('#spanMotherFirstName').html(''); $('#MotherFirstName').focus().removeClass(""); }
        if ($('#MotherLastName').val() == "") { $('#spanMotherLastName').html('Required.'); $('#MotherLastName').focus().addClass(""); return false; } else { $('#spanMotherLastName').html(''); $('#MotherLastName').focus().removeClass(""); }
        if ($('#MotherEmail').val() == "") { $('#spanMotherEmail').html('Required.'); $('#MotherEmail').focus().addClass(""); return false; } else { $('#spanMotherEmail').html(''); $('#MotherEmail').focus().removeClass(""); }
        if ($('#MotherPhoneNo').val() == "") { $('#spanMotherPhoneNo').html('Required.'); $('#MotherPhoneNo').focus().addClass(""); return false; } else { $('#spanMotherPhoneNo').html(''); $('#MotherPhoneNo').focus().removeClass(""); }
        if ($('#TeluguBadiCenterName').val() == "") { $('#spanTeluguBadiCenterName').html('Required.'); $('#TeluguBadiCenterName').focus().addClass(""); return false; } else { $('#spanTeluguBadiCenterName').html(''); $('#TeluguBadiCenterName').focus().removeClass(""); }

        //var rowcount = $('#hdnRowCount').val();
        //for (var i = 0; i < rowcount; i++) {
        //    if ($("#FirstName-" + i).val() != "" || $("#LastName-" + i).val() != "" || $("#Age-" + i).val() != "" || $("#Relationship-" + i).val() != "") {
        //        if ($("#FirstName-" + i).val() == '') { alert('Please enter FirstName.'); $("#FirstName-" + i).focus(); return false; }
        //        if ($("#LastName-" + i).val() == '') { alert('Please enter LastName'); $("#LastName-" + i).focus(); return false; }
        //        if ($("#Age-" + i).val() == '') { alert('Please enter Age.'); $("#Age-" + i).focus(); return false; }
        //        if ($("#Relationship-" + i).val() == '') { alert('Please enter Relationship.'); $("#Relationship-" + i).focus(); return false; }
        //    }
        //}

        return true;
    }



    function addRow() {

        var table = document.getElementById("TeluguBadiStudentstbl");

        var rowCount = table.rows.length;
        var row = table.insertRow(rowCount);
        row.id = rowCount;

        var cell1 = row.insertCell(0);
        var element1 = document.createElement("input");
        element1.type = "text";
        element1.name = "[" + (rowCount - 1) + "].FirstName";
        element1.id = "FirstName-" + (rowCount - 1);
        element1.className = "input-block-level b-m0";
        cell1.appendChild(element1);


        var cell2 = row.insertCell(1);
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.name = "[" + (rowCount - 1) + "].LastName";
        element2.id = "LastName-" + (rowCount - 1);
        element2.className = "input-block-level b-m0";
        cell2.appendChild(element2);

        var cell3 = row.insertCell(2);
        var element3 = document.createElement("input");
        element3.type = "text";
        element3.className = "input-block-level b-m0";
        element3.name = "[" + (rowCount - 1) + "].Age";
        element3.id = "Age-" + (rowCount - 1);
        cell3.appendChild(element3);

        //var cell4 = row.insertCell(3);
        //var element4 = document.createElement("input");
        //element4.type = "text";
        //element4.className = "input-block-level b-m0";
        //element4.name = "[" + (rowCount - 1) + "].LevelOfferings";
        //element4.id = "LevelOfferings-" + (rowCount - 1);
        //cell4.appendChild(element4);

        //var cell4 = row.insertCell(3);
        //var element4 = document.createElement("select");
        //element4.type = "text";
        //element4.className = "input-block-level b-m0";
        //element4.name = "[" + (rowCount - 1) + "].LevelOfferings";
        //element4.id = "LevelOfferings-" + (rowCount - 1);
        //cell4.appendChild(element4);


        var cell4 = row.insertCell(3);
        var element4 = document.createElement("select");
        element4.name = "[" + (rowCount - 1) + "].LevelOfferings";
        element4.id = "LevelOfferings-" + (rowCount - 1);
        element4.className = "input-block-level b-m0";
        element4.innerHTML = "<option value=\"\">-- Select --</option><option value=\"0\">0</option><option value=\"1\">1</option><option value=\"2\">2</option><option value=\"3\">3</option><option value=\"4\">4</option>";
        cell4.appendChild(element4);



        var cell5 = row.insertCell(4);
        var element5 = document.createElement("select");
        element5.name = "[" + (rowCount - 1) + "].Field1";
        element5.id = "Field1-" + (rowCount - 1);
        element5.className = "input-block-level b-m0";
        element5.innerHTML = "<option value=\"\">-- Select --</option><option value=\"Redmond\">Redmond</option><option value=\"Bothell\">Bothell</option><option value=\"Sammamish\">Sammamish</option>";
        cell5.appendChild(element5);

        document.getElementById("Age-" + (rowCount - 1)).onkeypress = function (event) { return Common.isNumberKey(event) };
        var cell6 = row.insertCell(5);
        cell6.innerHTML = '<a onclick="javascript:deleteRow(' + rowCount + ')" class="pagedelete t-p10"><i class="icon-trash"></i></a>';
        $('#hdnRowCount').val(rowCount);
    }
    function deleteRow(i) {
        try {
            var row = document.getElementById(i);
            row.parentNode.removeChild(row);
        } catch (e) {
            alert(e);
        }
    }

</script>

<!-- breadcumb -->
<div class="clearfix breadcrumb-main">
    <ul class="breadcrumb  ">

        <li><a href="@Url.Action("Index", "InnerPages")">Web Site</a> <span class="divider">/</span></li>
        <li><a href="@Url.Action("Index", "TeluguBadiRegistrations")">TeluguBadi Registration</a> <span class="divider">/</span></li>
        <li class="active">Add TeluguBadi Registration</li>
        <li class="fR sepV_c"><i class="icon-globe"></i><a href="@System.Configuration.ConfigurationManager.AppSettings["usersiteurl"]" target="_blank">View Mainsite</a>View Mainsite</a></li>
    </ul>
</div>
<!-- end breadcumb -->

<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="ckfinder/ckfinder.js"></script>

<div id="maincontainer">
    <div class="mainContent">
        <!--- TOPEBAR [start] ---->
        @Html.Partial("MainMenu", "SuperAdmin")
        <!--- TOPEBAR [end] ---->
        <!--- SIDEBAR [start] ---->
        @Html.Partial("LeftMenu")
        <!--- SIDEBAR [en] ---->

        <div class="pageHeadingBlock ">
            <div class="grayBackground">
                <div class="fR t-r p_b"><a class="clearfix" href="@Url.Action("Index", "TeluguBadiRegistrations")">← back to TeluguBadi Registrations</a> </div>
                <h3 class="title">Edit TeluguBadi Registrations</h3>
                <div class="sectionTabNav visible">
                    <div class="btn-group">
                        <a class="btn active" href="@Url.Action("Index", "TeluguBadiRegistrations")"> Registrations</a>
                        @*<a class="btn" href="@Url.Action("Index", "TeluguBadiOrders")">TeluguBadi Orders</a>*@
                        <a class="btn" href="@Url.Action("Index", "TeluguBadiTypes")"> Types</a>
                        @*<a class="btn" href="@Url.Action("Index", "Volunteers")">Volunteers</a>*@
                    </div>
                </div>
            </div>
        </div>
        <div id="divmessage">
            @if (TempData["message"] != null)
            {@Html.Raw(TempData["message"].ToString())}

            @if (ViewBag.message != null)
            {@Html.Raw(ViewBag.message.ToString())}
        </div>

        @using (Html.BeginForm("AddTeluguBadiRegistrations", "TeluguBadiRegistrations", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="hidden" id="TRegistrationId" name="TRegistrationId" value="@objTeluguBadiRegistrationsorders.TRegistrationId" />

            <div class="custom-adn grayBackground nobL nobR">
                <div class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-accordion-2-header-0" aria-controls="ui-accordion-2-panel-0" aria-selected="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><b>Personal Details</b></h3>
                    <div class="form-horizontal ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;" id="ui-accordion-2-panel-0" aria-labelledby="ui-accordion-2-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false">
                        <div class="filedsetInner clearfix">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="clearfix rp10">
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Father First Name :<span class="red-t">*</span></label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" value="@objTeluguBadiRegistrationsorders.FatherFirstName" id="FatherFirstName" class="inputstyle" name="FatherFirstName" />
                                                <span class="field-validation-error" id="spanFatherFirstName"></span>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Father Email :<span class="red-t">*</span></label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" value="@objTeluguBadiRegistrationsorders.FatherEmail" id="FatherEmail" class="inputstyle" name="FatherEmail" />
                                                <span class="field-validation-error" id="spanFatherEmail"></span>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Mother First Name :<span class="red-t">*</span></label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" value="@objTeluguBadiRegistrationsorders.MotherFirstName" id="MotherFirstName" class="inputstyle" name="MotherFirstName" />
                                                <span class="field-validation-error" id="spanMotherFirstName"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="clearfix rp10">
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Father Last Name :<span class="red-t">*</span></label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" value="@objTeluguBadiRegistrationsorders.FatherLastName" id="FatherLastName" class="inputstyle" name="FatherLastName" />
                                                <span class="field-validation-error" id="spanFatherLastName"></span>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Father Phone No :<span class="red-t">*</span></label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" value="@objTeluguBadiRegistrationsorders.FatherPhoneNo" id="FatherPhoneNo" class="inputstyle" name="FatherPhoneNo" />
                                                <span class="field-validation-error" id="spanFatherPhoneNo"></span>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Mother Last Name :<span class="red-t">*</span></label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" value="@objTeluguBadiRegistrationsorders.MotherLastName" id="MotherLastName" class="inputstyle" name="MotherLastName" />
                                                <span class="field-validation-error" id="spanMotherLastName"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="clearfix rp10">
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Mother Email :<span class="red-t">*</span></label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" value="@objTeluguBadiRegistrationsorders.MotherEmail" id="MotherEmail" class="inputstyle" name="MotherEmail" />
                                                <span class="field-validation-error" id="spanMotherEmail"></span>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">TeluguBadi CenterName :<span class="red-t">*</span></label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" value="@objTeluguBadiRegistrationsorders.TeluguBadiCenterName" id="TeluguBadiCenterName" class="inputstyle" name="TeluguBadiCenterName" />
                                                <span class="field-validation-error" id="spanTeluguBadiCenterName"></span>

                                            </div>
                                        </div>


                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">State :</label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" value="@objTeluguBadiRegistrationsorders.State" id="State" class="inputstyle" name="State" />
                                                <span class="field-validation-error" id="spanState"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="clearfix rp10">
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Mother Phone No :</label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" id="MotherPhoneNo" value="@objTeluguBadiRegistrationsorders.MotherPhoneNo" class="inputstyle" name="MotherPhoneNo" />
                                                <span class="field-validation-error" id="spanMotherPhoneNo"></span>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Volunteer For :</label>
                                            </div>
                                            <div class="span6">
                                                @*<input type="text" id="VolunteerFor" value="@objTeluguBadiRegistrationsorders.VolunteerFor" class="inputstyle" name="VolunteerFor" />*@
                                                <select class="input-block-level b-m0" id="VolunteerFor" name="VolunteerFor">
                                                    <option value="">Select</option>
                                                    <option @(objTeluguBadiRegistrationsorders.VolunteerFor == "Teaching" ? "selected='selected'" : "") value="Teaching">Teaching</option>
                                                    <option @(objTeluguBadiRegistrationsorders.VolunteerFor == "Homework" ? "selected='selected'" : "") value="Homework">Homework</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">ZipCode :</label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" id="ZipCode" value="@objTeluguBadiRegistrationsorders.ZipCode" class="inputstyle" name="ZipCode" />
                                                @*<span class="field-validation-error" id="spanMotherLastName"></span>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="clearfix rp10">
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">City :</label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" id="City" value="@objTeluguBadiRegistrationsorders.City" class="inputstyle" name="City" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="clearfix rp10">
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Address :</label>
                                            </div>
                                            <div class="span6">
                                                <textarea type="text" id="Address" name="Address" class="input-block-level">@objTeluguBadiRegistrationsorders.Address</textarea>
                                                @*<span class="field-validation-error" id="spanMotherPhoneNo"></span>*@
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-adn grayBackground nobL nobR">
                <div class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-accordion-2-header-0" aria-controls="ui-accordion-2-panel-0" aria-selected="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><b>TeluguBadi Students Details</b></h3>
                    <div class="form-horizontal ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;" id="ui-accordion-2-panel-0" aria-labelledby="ui-accordion-2-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false">

                        <div class="filedsetInner clearfix">
                            <table cellspacing="0" cellpadding="0" border="0" class="tbl membership" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table id="TeluguBadiStudentstbl" name="TeluguBadiStudentstbl" width="1000" cellspacing="0" cellpadding="0" border="0" class="table table-hover span12 omb table_vam table-black tvm">
                                                <thead>
                                                    <tr>
                                                        <th width="200">Name</th>
                                                        <th width="200">Last Name</th>
                                                        <th width="200" align="center">Age</th>
                                                        <th width="200" align="center">Level Offerings</th>

                                                        <th width="200" align="center">TeluguBudi Centers</th>


                                                        @* <th width="270" align="center">Skills/Interests</th>*@
                                                        <th width="90" align="center">
                                                            <input type="button" onclick="javascript: addRow();" name="add-child" class="btn" value="Add Siblings">
                                                        </th>
                                                    </tr>

                                                    @if (objTeluguBadiRegistrationsorders.lstTeluguBadiStudents != null && objTeluguBadiRegistrationsorders.lstTeluguBadiStudents.Count != 0)
                                                    {
                                                        Int64 i = 0;
                                                        foreach (var Item in objTeluguBadiRegistrationsorders.lstTeluguBadiStudents)
                                                        {
                                                            <input id="TStudentId-@(i)" name="[@(i)].TStudentId" value="@(Item.TStudentId)" type="hidden" />
                                                            <tr>
                                                                <td width="200">
                                                                    <input type="text" value="@Item.FirstName" id="FirstName-@i" name="[@i].FirstName" class="input-block-level b-m0">
                                                                </td>
                                                                <td width="200">
                                                                    <input type="text" value="@Item.LastName" id="LastName-@i" name="[@i].LastName" class="input-block-level b-m0">
                                                                </td>
                                                                <td width="200" align="center">
                                                                    <input type="text" value="@Item.Age" id="Age-@i" name="[@i].Age" maxlength="2" onkeypress="return Common.isNumberKey(event);" class="input-block-level b-m0">

                                                                </td>

                                                                @*<td width="100" align="center">


                                                                    <select class="input-block-level b-m0" id="Age-@i" name="[@i].Age">
                                                                        <option value="">Select</option>
                                                                        <option @(Item.LevelOfferings == "" ? "selected='selected'" : "") value="1">Male</option>
                                                                        <option @(Item.LevelOfferings == "" ? "selected='selected'" : "") value="0">Female</option>
                                                                    </select>
                                                                </td>*@
                                                                @if (Item.LevelOfferings != null)
                                                                {

                                                                    <td width="200" align="center">
                                                                        @*<input type="text" value="@Item.LevelOfferings" id="LevelOfferings-@i" name="[@i].LevelOfferings" class="span1 sepH_am ">*@
                                                                        <select class="input-block-level b-m0" id="LevelOfferings-@i" name="[@i].LevelOfferings">
                                                                            <option value="">Select</option>
                                                                            <option @(Item.LevelOfferings == "0" ? "selected='selected'" : "") value="0">0</option>
                                                                            <option @(Item.LevelOfferings == "1" ? "selected='selected'" : "") value="1">1</option>
                                                                            <option @(Item.LevelOfferings == "2" ? "selected='selected'" : "") value="2">2</option>
                                                                            <option @(Item.LevelOfferings == "3" ? "selected='selected'" : "") value="3">3</option>
                                                                            <option @(Item.LevelOfferings == "4" ? "selected='selected'" : "") value="4">4</option>

                                                                        </select>
                                                                    </td>
                                                                }

                                                                else


                                                                {
                                                                    <td width="200" align="center">
                                                                        @*<input type="text" value="@Item.LevelOfferings" id="LevelOfferings-@i" name="[@i].LevelOfferings" class="span1 sepH_am ">*@
                                                                        <select class="input-block-level b-m0" id="LevelOfferings-@i" name="[@i].LevelOfferings">
                                                                            <option value="">Select</option>
                                                                            <option @(Item.LevelOfferings == "0" ? "selected='selected'" : "") value="0">0</option>
                                                                            <option @(Item.LevelOfferings == "1" ? "selected='selected'" : "") value="1">1</option>
                                                                            <option @(Item.LevelOfferings == "2" ? "selected='selected'" : "") value="2">2</option>
                                                                            <option @(Item.LevelOfferings == "3" ? "selected='selected'" : "") value="3">3</option>  
                                                                        </select>
                                                                    </td>
                                                                }




                                                                <td width="200" align="center">
                                                                    @*<input type="text" value="@Item.LevelOfferings" id="LevelOfferings-@i" name="[@i].LevelOfferings" class="span1 sepH_am ">*@
                                                                    <select class="input-block-level b-m0" id="Field1-@i" name="[@i].Field1">
                                                                        <option value="">Select</option>
                                                                        <option @(Item.Field1 == "Redmond" ? "selected='selected'" : "") value="Redmond">Redmond</option>
                                                                        <option @(Item.Field1 == "Bothell" ? "selected='selected'" : "") value="Bothell">Bothell</option>
                                                                        <option @(Item.Field1 == "Sammamish" ? "selected='selected'" : "") value="Sammamish">Sammamish</option>
                                                                    </select>
                                                                </td>





                                                                <td width="90" align="center"><a class="pagedelete t-p10" href="@Url.Action("DeleteTeluguBadiStudents", "TeluguBadiRegistrations", new { TStudentId = @Item.TStudentId, TRegistrationId = Item.TRegistrationId })" onclick="return confirm('Do you want to delete this item.')" title="Delete"><i class="icon-trash"></i></a></td>

                                                            </tr>
                                                            i++;
                                                        }
                                                    }


                                                </thead>
                                            </table>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>




            <div class="custom-adn grayBackground nobL nobR">
                <div class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-accordion-2-header-0" aria-controls="ui-accordion-2-panel-0" aria-selected="true" tabindex="0">
                        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><b>Latest Order Details</b>
                        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><b>
                            <a href="" class='lightview rightmost' data-lightview-group='example' data-lightview-type='iframe' data-lightview-options="width: 800" data-lightview-caption="@objTeluguBadiRegistrationsorders.objTeluguBadiOrders.TRegistrationId">TRegistrationId : @objTeluguBadiRegistrationsorders.objTeluguBadiOrders.TRegistrationId</a>
                        </b>
                    </h3>
                    <div class="form-horizontal ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;" id="ui-accordion-2-panel-0" aria-labelledby="ui-accordion-2-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false">

                        <div class="filedsetInner clearfix">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="clearfix rp10">

                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Father First Name :</label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" class="input-block-level" readonly="true" value="@(objTeluguBadiRegistrationsorders.objTeluguBadiOrders.FatherFirstName)" id="FatherFirstName" name="FatherFirstName">
                                                <span class="field-validation-error" id="spanExpiryDate"></span>
                                            </div>
                                        </div>

                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">TeluguBadi Type :</label>
                                            </div>
                                            <div class="span6">
                                                <select class="input-block-level" name="TeluguBadiTypeId" id="TeluguBadiTypeId">
                                                    @if (lstTeluguBadiTypes != null)
                                                    {
                                                        foreach (var item in lstTeluguBadiTypes)
                                                        {
                                                            <option @(item.TeluguBadiTypeId == objTeluguBadiRegistrationsorders.objTeluguBadiOrders.TeluguBadiTypeId ? "selected=selected" : "") value="@item.TeluguBadiTypeId">@item.Type</option>
                                                        }
                                                    }
                                                </select>
                                                <span class="field-validation-error" id="spanTeluguBadiTypeId"></span>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Transaction Id  :</label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" id="TransactionId" value="@objTeluguBadiRegistrationsorders.objTeluguBadiOrders.TransactionId" class="input-block-level" name="TransactionId">
                                                <span class="field-validation-error" id="spanTransactionId"></span>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Payment Method :</label>
                                            </div>
                                            <div class="span6">
                                                <select class="input-block-level" name="PaymentMethodId" id="PaymentMethodId">
                                                    @if (lstPaymentMethod != null)
                                                    {
                                                        <option value="">Select</option>
                                                        foreach (var item in lstPaymentMethod)
                                                        {
                                                            <option @(item.PaymentMethodId == objTeluguBadiRegistrationsorders.objTeluguBadiOrders.PaymentMethodId ? "selected=selected" : "") value="@item.PaymentMethodId">@item.PaymentMethod</option>
                                                        }
                                                    }
                                                </select>
                                                <span class="field-validation-error" id="spanPaymentMethodId"></span>
                                            </div>
                                        </div>
                                        @*<div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Bank Name :</label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" class="input-block-level" id="BankName" value="@objTeluguBadiOrders.BankName" name="BankName">
                                                <span class="field-validation-error" id="spanBankName"></span>
                                            </div>
                                        </div>*@
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Expiry Date :</label>
                                            </div>
                                            <div class="span6">
                                                @*<input type="text" class="input-block-level" readonly="true" value="@(objTeluguBadiOrders.ExpiryDate == DateTime.MinValue ? "" : objTeluguBadiOrders.ExpiryDate.ToString("MM/dd/yyyy"))" id="ExpiryDate" name="ExpiryDate">
                                                <span class="field-validation-error" id="spanExpiryDate"></span>*@
                                                @*<input type="text" class="input-block-level Odate" value="@(objTeluguBadiOrders.ExpiryDate == DateTime.MinValue ? "" : objTeluguBadiOrders.ExpiryDate.ToString("MM/dd/yyyy"))" id="ExpiryDate" name="ExpiryDate">*@
                                                <input type="text" class="input-block-level Edate" value="@objTeluguBadiRegistrationsorders.objTeluguBadiOrders.ExpiryDate.ToString("dd-MM-yyyy")" id="ExpiryDate" name="ExpiryDate">

                                            </div>
                                        </div>
                                        @*<div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Admin Comment :</label>
                                            </div>
                                            <div class="span6">
                                                <textarea type="text" value="" class="input-block-level" id="AdminComment" name="AdminComment">@objTeluguBadiOrders.AdminComment</textarea>
                                                <span class="field-validation-error" id="spanAdminComment"></span>
                                            </div>
                                        </div>*@

                                    </div>
                                </div>
                                <div class="span6">

                                    <div class="row-fluid">
                                        <div class="span5">
                                            <label class="t-p5">Father Last Name :</label>
                                        </div>
                                        <div class="span6">
                                            <input type="text" class="input-block-level" readonly="true" value="@(objTeluguBadiRegistrationsorders.objTeluguBadiOrders.FatherLastName)" id="FatherLastName" name="FatherLastName">
                                            <span class="field-validation-error" id="spanExpiryDate"></span>
                                        </div>
                                    </div>


                                    <div class="row-fluid">
                                        <div class="span5">
                                            <label class="t-p5">Amount :</label>
                                        </div>
                                        <div class="span6 t-p10 b-m25">
                                            <input type="text" class="input-block-level" readonly="true" value="@(objTeluguBadiRegistrationsorders.objTeluguBadiOrders.Amount)" id="Amount" name="Amount">
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span5">
                                            <label class="t-p5">Payment Status :</label>
                                        </div>
                                        <div class="span6">
                                            <select class="input-block-level" name="PaymentStatusId" id="PaymentStatusId">
                                                @if (lstPaymentStatus != null)
                                                {
                                                    <option value="">Select</option>
                                                    foreach (var item in lstPaymentStatus)
                                                    {
                                                        <option @(item.PaymentStatusId == objTeluguBadiRegistrationsorders.objTeluguBadiOrders.PaymentStatusId ? "selected=selected" : "") value="@item.PaymentStatusId">@item.PaymentStatus1</option>
                                                    }
                                                }
                                            </select>
                                            <span class="field-validation-error" id="spanState"></span>
                                        </div>
                                    </div>

                                    <div class="row-fluid">
                                        <div class="span5">
                                            <label class="t-p5">Order Date :</label>
                                        </div>
                                        <div class="span6">
                                            <input type="text" class="input-block-level Odate" value="@objTeluguBadiRegistrationsorders.objTeluguBadiOrders.OrderDate.ToString("dd-MM-yyyy")" id="OrderDate" name="OrderDate">
                                            <span class="field-validation-error" id="spanOrderDate"></span>
                                        </div>
                                    </div>
                                    @*<div class="row-fluid">
                                        <div class="span5">
                                            <label class="t-p5">Cheque No :</label>
                                        </div>
                                        <div class="span6">
                                            <input type="text" class="input-block-level" value="@objTeluguBadiOrders.ChequeNo" id="ChequeNo" name="ChequeNo">
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span5">
                                            <label class="t-p5">Cheque Date :</label>
                                        </div>
                                        <div class="span6">
                                            <input type="text" class="input-block-level Cdate" value="@(objTeluguBadiOrders.ChequeDate == DateTime.MinValue ? "" : objTeluguBadiOrders.ChequeDate.ToString("MM/dd/yyyy"))" id="ChequeDate" name="ChequeDate">
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>*@
                                    @*<div class="row-fluid">
                                        <div class="span5">
                                            <label class="t-p5">User Comment :</label>
                                        </div>
                                        <div class="span6">
                                            <textarea class="input-block-level" id="UserComment" name="UserComment">@objTeluguBadiOrders.UserComment</textarea>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="custom-adn grayBackground nobL nobR">
                <div class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-accordion-2-header-0" aria-controls="ui-accordion-2-panel-0" aria-selected="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><b>Orders Details</b></h3>
                    <div class="form-horizontal ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;" id="ui-accordion-2-panel-0" aria-labelledby="ui-accordion-2-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false">

                        <div class="filedsetInner clearfix">
                            <table cellspacing="0" cellpadding="0" border="0" class="tbl membership" width="100%">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table id="TeluguBadiStudentstbl" name="TeluguBadiStudentstbl" width="1000" cellspacing="0" cellpadding="0" border="0" class="table table-hover span12 omb table_vam table-black tvm">
                                                <thead>
                                                    <tr>
                                                        @* <th class="table_checkbox"> <input type="checkbox" name="mainchk" onclick="javascript: Select('mainchk');" /></th>*@
                                                        <th width="5%" align="center">S.No.</th>
                                                        

                                                        <th width="17%">
                                                            Name

                                                        </th>
                                                        <th width="12%">

                                                            Type

                                                        </th>
                                                        <th width="12%">

                                                            Expire Date

                                                        </th>
                                                        <th width="12%">

                                                            Order Date

                                                        </th>
                                                        <th width="12%">
                                                            Payment Method

                                                        </th>
                                                        <th width="9%">

                                                            P Status

                                                        </th>
                                                        
                                                    </tr>


                                                    @if (lstTeluguBadiOrders != null && lstTeluguBadiOrders.Count != 0)
                                                    {
                                                        Int64 i = 1;
                                                        foreach (var Item1 in lstTeluguBadiOrders)
                                                        {
                                                            <tr>
                                                                @* <td><input type="checkbox" name="checkbox" id="checkbox-@i" value= "@{@item.MemberId}" /></td>*@
                                                                <td>@i</td>
                                                              
                                                                <td>
                                                                    @Item1.FatherFirstName
                                                                </td>

                                                                <td>
                                                                    @Item1.Type
                                                                </td>
                                                                <td>
                                                                    @(Item1.ExpiryDate==DateTime.MinValue?"": Item1.ExpiryDate.ToString("dd-MM-yyyy"))
                                                                </td>
                                                                <td>
                                                                    @(Item1.OrderDate==DateTime.MinValue?"": Item1.OrderDate.ToString("dd-MM-yyyy"))
                                                                </td>
                                                                <td>
                                                                    @Item1.PaymentMethod
                                                                </td>
                                                                <td>
                                                                    @Item1.PaymentStatus
                                                                </td>
                                                                @*<td>
                                                                    <a href="@Url.Action("EditTeluguBadiOrder", "TeluguBadiOrders", new {OrderId=Item1.OrderId })" title="Edit"><i class="icon-pencil"></i></a>
                                                                    <a class="pagedelete" onclick="javascript:Delete(@Item1.OrderId);" id="1" title="Delete"><i class="icon-trash"></i></a>
                                                                    <a title="Delete" class="sepV_a disable-alpha"><i class="icon-trash"></i></a>
                                                                </td>*@
                                                            </tr>
       i++;
                                                        }
                                                    }


                                                </thead>
                                            </table>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-actions">
                <div class="actionButtons">
                    <input type="submit" onclick="return Validate()" class="button2 btn btn-primary sepV_b" id="add" value="Submit" name="add">
                    <a class="btn btn-inverse" href="@Url.Action("Index", "TeluguBadiRegistrations")">Cancel</a>
                </div>
            </div>

        }

    </div>
</div>
