@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    Int64 VideoCategoryId = ViewBag.VideoCategoryId;
    var catlist = (List<WATS.Entities.VideoCategories>)ViewBag.catlist;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.closable').append('<span class="closelink" title="Close"></span>');
        $('#MWebsite').addClass('active');
        $('.closelink').click(function () {
            $(this).parent().fadeOut('600', function () { $(this).remove(); });
        });
        $('#VideoCategoryId').val(@VideoCategoryId);
        PagerClickBind();
    });

    function Delete(VideoId) {
        var val2 = confirm("Do you want to delete this record?");
        if (val2) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("VideoDelete", "VideoGallery")',  // the URL of the controller action method
                data: { VideoId: VideoId }, // optional data
                success: function (result) {
                    VideosBind($('#hdnPageNo').val());
                    $("#divmessage").html(result.data);
                },
                error: function (req, status, error) {
                    $("#divmessage").html(result.data);
                }
            });
        }
    }

    function PagerClickBind() {
        $(".pagination a").bind("click", function () {
            VideosBind($(this).text());
        });
    }

    function sortresult(sortcolumn) {
        $('#hdnsortorder').val(($('#hdnsortorder').val() == 'ASC' ? 'DESC' : 'ASC'));
        $('#hdnsortcolumn').val(sortcolumn);
        VideosBind(1);
    }

    function VideosBind(Pageno) {

        var pageno = Common.Pageno(Pageno);
        var sortcolumn = $('#hdnsortcolumn').val();
        var sortorder = $('#hdnsortorder').val();
        var items = $('#txtitems').val();
        var Search = $('#txtsearch').val();
        var catid=$('#VideoCategoryId').val();
        $.ajax({
            url: '@Url.Action("VideosList", "VideoGallery")',
            type: 'GET',
            cache: false,
            data: { Search: Search, PageNo: pageno, SortColumn: sortcolumn, SortOrder: sortorder, Items: items, VideoCategoryId: catid },
            success: function (result) {
                $('#divVideoList').html(result);
                PagerClickBind();
            }
        });
    }   

    function Select(check) {
        var arr = document.getElementsByName(check);
        if (arr[0].checked == true) {
            Common.selectAll('checkbox', check);
        }
        else {
            Common.clearAll('checkbox', check);
        }
    }

    function ClearSearch() {
        $('#txtsearch').val('');
        $('#VideoCategoryId').val('');

        VideosBind(1);
    }

</script>

<input id="hdnPageNo" type="hidden" value="1" />
<input id="hdnsortcolumn" type="hidden" value="VideoId" />
<input id="hdnsortorder" type="hidden" value="ASC" />

<!-- breadcumb -->
<div class="clearfix breadcrumb-main"><ul class="breadcrumb  ">
        <li><a href="@Url.Action("Index", "InnerPages")">Web Site</a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "VideoGallery")">Video Categories</a> <span class="divider">/</span></li>
    <li class="active">Video Gallery</li>
    <li class="fR sepV_c"><i class="icon-globe"></i><a target="_blank" href="@System.Configuration.ConfigurationManager.AppSettings["usersiteurl"]">View Mainsite</a></li>
</ul></div>
<!-- end breadcumb -->

<div id="maincontainer">
    <div class="mainContent">
        <!--- TOPEBAR [start] ---->
        @Html.Partial("MainMenu", "SuperAdmin")
        <!--- TOPEBAR [end] ---->

        <!--- SIDEBAR [start] ---->
        @Html.Partial("LeftMenu")
        <!--- SIDEBAR [en] ---->

        <div class="pageHeadingBlock ">
            <div class="grayBackground">
                <div class="fR t-r">
                    <a class="btn btn-small btn-primary coursesMenu" href="@Url.Action("AddVideo", "VideoGallery", new { VideoCategoryId = VideoCategoryId })">Add Video</a>
                    <a class="btn btn-small btn-primary coursesMenu" href="@Url.Action("Index", "VideoGallery")">Video Categories</a>
                </div>
                <h3 class="title">Video Gallery</h3>
               
            </div>
        </div>
        <div class="grayBackground nobL nobR">
            <div id="filterReg" class="ui-accordion">
                <h4><b>Filter Videos</b></h4>
                <div>
                    <div class="filedsetInner clearfix">
                        <div class="row-fluid">
                            <div class="span3">
                                <label>Category</label>
                                <select class="span12" name="VideoCategoryId" id="VideoCategoryId">
                                    @if (catlist != null)
                                    {
                                        <option value="">Select</option>
                                        foreach (var item in catlist)
                                        { 
                                        <option value="@item.VideoCategoryId">@item.CategoryName</option>
                                        }
                                    }
                                </select>
                            </div>
                            
                            <div class="span4">
                                <label>Search </label>
                                <input type="text" name="txtsearch" id="txtsearch" class="span12" value="" placeholder="Keyword" />
                            </div>
                             <div class="span3">
                                <button class="btn btn-primary filterAction" onclick="VideosBind(1);">Search</button>
                                <a class="btn btn-inverse filterAction wC" onclick="ClearSearch();">Clear</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="text12">
            <tbody>
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td>
                        <div id="divmessage">
                            @if (TempData["message"] != null)
                            { @Html.Raw(TempData["message"].ToString())}

                            @if (ViewBag.message != null)
                            { @Html.Raw(ViewBag.message.ToString())}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div id="divVideoList">
                            @{Html.RenderAction("VideosList", "VideoGallery", new { VideoCategoryId = VideoCategoryId });}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
