@{
    ViewBag.Title = "EditMemberOrder";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var objMembers = (WATS.Entities.Members)ViewBag.objMembers;
    var lstMembershipType = (List<WATS.Entities.MembershipTypes>)objMembers.lstMembershipType;
    var lstPaymentMethod = (List<WATS.Entities.PaymentMethods>)objMembers.lstPaymentMethod;
    var lstPaymentStatus = (List<WATS.Entities.PaymentStatus>)objMembers.lstPaymentStatus;
    var objMemberOrder = (WATS.Entities.MembershipOrders)ViewBag.objMemberOrder;
}

<script type="text/javascript">

    function Validate() {

        if ($('#PaymentMethodId').val() == "PayPal") {
            if ($('#TransactionId').val() == "") { $('#spanTransactionId').html('Required.'); $('#TransactionId').focus().addClass("red-border"); return false; } else { $('#spanTransactionId').html(''); }
        }
        return true;
    }

</script>
<script type="text/javascript">
    $(function () {
        $(".ui-accordion").accordion({
            collapsible: true,
            heightStyle: "content"
        });

        // date picker
        $(function () {
            $(function () {
                $(".datepicker").datepicker({
                    altField: "#alternate",
                    altFormat: "DD, d MM, yy"
                });
            });
        });
    });
    $(document).ready(function () {
        $('#MMembers').addClass('active');
        getamount();
        $(".Odate").datepicker({ changeMonth: true, changeYear: true, yearRange: "-90:+0", altField: '.Odate', altFormat: 'mm/dd/yy' });
        $(".Edate").datepicker({ changeMonth: true, changeYear: true, yearRange: "-90:+0", altField: '.Edate', altFormat: 'mm/dd/yy' });
        $(".Cdate").datepicker({ changeMonth: true, changeYear: true, yearRange: "-90:+0", altField: '.Cdate', altFormat: 'mm/dd/yy' });
    });
    function getamount() {
        var membershipid = $('#MembershipTypeId').val();
        $.ajax({
            url: '@Url.Action("EditMembershipTypes", "MembershipTypes")',
            type: 'POST',
            data: { MembershipTypeId: membershipid },
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    var objMembershipType = result.data;
                    $('#payamount').html(objMembershipType.Price);
                    $('#Amount').val(objMembershipType.Price);
                    if (objMembershipType.Validity != 0) {
                        var d = new Date();
                        d.setMonth((d.getMonth() + 1) + objMembershipType.Validity);
                        $('#ExpiryDate').val(d.toDateString("MM/dd/yyyy"));
                    } else { $('#ExpiryDate').val('Life Time'); }
                }
                else {
                    alert(result.data);
                }
            }
        });
    }
</script>
<input type="hidden" value="1" id="hdnRowCount" />
<!-- breadcumb -->
<div class="clearfix breadcrumb-main">
    <ul class="breadcrumb  ">
        <li><a href="@Url.Action("Index", "Home")">Home</a> <span class="divider">/</span></li>
        <li><a href="@Url.Action("Index", "Members")">Members</a> <span class="divider">/</span></li>
        <li class="active">Edit Member</li>
        <li class="fR sepV_c"><i class="icon-globe"></i><a href="@System.Configuration.ConfigurationManager.AppSettings["usersiteurl"]" target="_blank">View Mainsite</a></li>
    </ul>
</div>
<!-- end breadcumb -->

<div id="maincontainer">
    <div class="mainContent">
        <!--- TOPEBAR [start] ---->
        @Html.Partial("MainMenu", "SuperAdmin")
        <!--- TOPEBAR [end] ---->

        <!--- SIDEBAR [start] ---->
        @Html.Partial("LeftMenu")
        <!--- SIDEBAR [en] ---->

        <div class="pageHeadingBlock ">
            <div class="grayBackground">
                <div class="fR t-r p_b"><a class="clearfix" href="@Url.Action("Index", "MembersOrders")">← back to orders list</a> </div>
                <h3 class="title">Order Details</h3>
                <div class="sectionTabNav">
                    <div class="btn-group">
                        <div class="btn-group">
                            <a class="btn " href="@Url.Action("Index", "Members")">Members</a>
                            <a class="btn active"  href="@Url.Action("Index", "MembersOrders")">Orders</a>
                            <a class="btn" href="@Url.Action("Index", "MembershipTypes")">Member Type</a>
                             @*<a class="btn" href="@Url.Action("Index", "Volunteers")">Volunteers</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix sepH_b"></div>
        <div id="divmessage">
            @if (TempData["message"] != null)
            { @Html.Raw(TempData["message"].ToString())}

            @if (ViewBag.message != null)
            { @Html.Raw(ViewBag.message.ToString())}
        </div>
        @using (Html.BeginForm("UpdateMemberOrder", "MembersOrders", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="hidden" id="MembershipOrderId" name="MembershipOrderId" value="@objMemberOrder.MembershipOrderId" />
            <input type="hidden" id="MemberId" name="MemberId" value="@objMemberOrder.MemberId" />  
            <input type="hidden" id="Amount" name="Amount" value="" />  
   

            <div class="custom-adn grayBackground nobL nobR">
                <div class="ui-accordion ui-widget ui-helper-reset" role="tablist">
                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-accordion-2-header-0" aria-controls="ui-accordion-2-panel-0" aria-selected="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><b> <a href="@Url.Action("ViewMember", "Members", new {MemberId=objMemberOrder.MemberId })" class='lightview rightmost' data-lightview-group='example' data-lightview-type='iframe' data-lightview-options="width: 800" data-lightview-caption="@objMemberOrder.MemberId">Member Id : @objMemberOrder.MemberId</a></b></h3>
                    <div class="form-horizontal ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: block;" id="ui-accordion-2-panel-0" aria-labelledby="ui-accordion-2-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false">

                        <div class="filedsetInner clearfix">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="clearfix rp10">
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Membership  Type :</label>
                                            </div>
                                            <div class="span6">
                                                <select onchange="getamount();" class="input-block-level" name="MembershipTypeId" id="MembershipTypeId">
                                                    @if (lstMembershipType != null)
                                                    {
                                                        foreach (var item in lstMembershipType)
                                                        { 
                                                        <option  @(item.MembershipTypeId == objMemberOrder.MembershipTypeId ? "selected=selected" : "")  value="@item.MembershipTypeId">@item.MembershipType</option>
                                                        }
                                                    }
                                                </select>
                                                <span class="field-validation-error" id="spanMembershipTypeId"></span>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Transaction Id  :</label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" id="TransactionId" value="@objMemberOrder.TransactionId" class="input-block-level" name="TransactionId" >
                                                <span class="field-validation-error" id="spanTransactionId"></span>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Payment Method :</label>
                                            </div>
                                            <div class="span6">
                                                <select class="input-block-level" name="PaymentMethodId" id="PaymentMethodId">
                                                    @if (lstPaymentMethod != null)
                                                    {
                                                        <option value="">Select</option>
                                                        foreach (var item in lstPaymentMethod)
                                                        { 
                                                        <option  @(item.PaymentMethodId == objMemberOrder.PaymentMethodId ? "selected=selected" : "")  value="@item.PaymentMethodId">@item.PaymentMethod</option>
                                                        }
                                                    }
                                                </select>
                                                <span class="field-validation-error" id="spanPaymentMethodId"></span>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Bank Name :</label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" class="input-block-level" id="BankName" value="@objMemberOrder.BankName" name="BankName" >
                                                <span class="field-validation-error" id="spanBankName"></span>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Expiry Date :</label>
                                            </div>
                                            <div class="span6">
                                                <input type="text" class="input-block-level" readonly="true" value="@(objMemberOrder.ExpiryDate == DateTime.MinValue ? "" : objMemberOrder.ExpiryDate.ToString("MM/dd/yyyy"))" id="ExpiryDate" name="ExpiryDate" >
                                                <span class="field-validation-error" id="spanExpiryDate"></span>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span5">
                                                <label class="t-p5">Admin Comment :</label>
                                            </div>
                                            <div class="span6">
                                                <textarea type="text" value="" class="input-block-level" id="AdminComment" name="AdminComment">@objMemberOrder.AdminComment</textarea>
                                                <span class="field-validation-error" id="spanAdminComment"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="row-fluid">
                                        <div class="span5">
                                            <label class="t-p5">Amount :</label>
                                        </div>
                                        <div class="span6 t-p10 b-m25">
                                            $ <span id="payamount"></span>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span5">
                                            <label class="t-p5">Payment Status :</label>
                                        </div>
                                        <div class="span6">
                                            <select class="input-block-level" name="PaymentStatusId" id="PaymentStatusId">
                                                @if (lstPaymentStatus != null)
                                                {
                                                    <option value="">Select</option>
                                                    foreach (var item in lstPaymentStatus)
                                                    { 
                                                    <option  @(item.PaymentStatusId == objMemberOrder.PaymentStatusId ? "selected=selected" : "") value="@item.PaymentStatusId">@item.PaymentStatus1</option>
                                                    }
                                                }
                                            </select>
                                            <span class="field-validation-error" id="spanState"></span>
                                        </div>
                                    </div>

                                    <div class="row-fluid">
                                        <div class="span5">
                                            <label class="t-p5">Order Date :</label>
                                        </div>
                                        <div class="span6">
                                            <input type="text" class="input-block-level Odate" value="@(objMemberOrder.OrderDate == DateTime.MinValue ? "" : objMemberOrder.OrderDate.ToString("MM/dd/yyyy"))" id="OrderDate" name="OrderDate" >
                                            <span class="field-validation-error" id="spanOrderDate"></span>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span5">
                                            <label class="t-p5">Cheque No :</label>
                                        </div>
                                        <div class="span6">
                                            <input type="text" class="input-block-level" value="@objMemberOrder.ChequeNo" id="ChequeNo" name="ChequeNo" >
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span5">
                                            <label class="t-p5">Cheque Date :</label>
                                        </div>
                                        <div class="span6">
                                            <input type="text" class="input-block-level Cdate" value="@(objMemberOrder.ChequeDate == DateTime.MinValue ? "" : objMemberOrder.ChequeDate.ToString("MM/dd/yyyy"))" id="ChequeDate" name="ChequeDate" >
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span5">
                                            <label class="t-p5">User Comment :</label>
                                        </div>
                                        <div class="span6">
                                            <textarea class="input-block-level" id="UserComment" name="UserComment">@objMemberOrder.UserComment</textarea>
                                            <span class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end other details form -->
            <div class="form-actions">
                <div class="actionButtons">
                    <input type="submit" value="Update" onclick="return Validate()" name="send" class="button2 btn btn-primary">
                    <a class="btn btn-inverse" href="@Url.Action("Index", "MembersOrders")">Cancel</a>
                </div>
            </div>
        }
        <div class="adminfooter"></div>
    </div>
</div>

