@{
    
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    Int64 InnerPageCategoryId = ViewBag.InnerPageCategoryId;
    List<WATS.Entities.InnerPageCategories> lstInnerPageCategory = ViewBag.lstInnerPageCategory;
    HttpContext ctx = HttpContext.Current;
    HttpCookie authCookie = HttpContext.Current.Request.Cookies["UserCookie"];

    FormsAuthenticationTicket authTicket;

    authTicket = FormsAuthentication.Decrypt(authCookie.Value);

    string Role = authTicket.UserData;
}

<script type="text/javascript">

    $(document).ready(function () {
        $('#wInnerPages').addClass('active');
        $('#MWebsite').addClass('active');
        $('.closable').append('<span class="closelink" title="Close"></span>');
        $('.closelink').click(function () {
            $(this).parent().fadeOut('600', function () { $(this).remove(); });
        });
        PagerClickBind();

    });

    function sortresult(sortcolumn) {

        $('#hdnsortorder').val(($('#hdnsortorder').val() == 'ASC' ? 'DESC' : 'ASC'));
        $('#hdnsortcolumn').val(sortcolumn);
        DetailsBind(1);
    }

    function InnerPageView(InnerPageCategoryId) {
        $.ajax({
            url: '@Url.Action("EditInnerPageCategory", "InnerPageMaster")',
            type: 'POST',
            data: { InnerPageCategoryId: InnerPageCategoryId },
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    var objInnerPageCategory = result.data;
                    $('#lblCategoryName').html(objInnerPageCategory.CategoryName);

                    $("#InnerPageCategoryView").dialog("open");

                }
                else {
                    alert(result.data);
                }
            }
        });

    }
    function DetailsBind(Pageno) {

        var pageno = Common.Pageno(Pageno);
        var sortcolumn = $('#hdnsortcolumn').val();
        var sortorder = $('#hdnsortorder').val();
        var items = $('#txtitems').val();
        var Search = $('#txtsearch').val();
        var InnerPageCategoryId = $('#InnerPageCategoryId').val();

        $.ajax({
            url: '@Url.Action("DetailsList", "InnerPages")',
            type: 'GET',
            cache: false,
            data: { Search: Search, PageNo: pageno, SortColumn: sortcolumn, SortOrder: sortorder, Items: items, InnerPageCategoryId: InnerPageCategoryId },
            success: function (result) {
                $('#divDetails').html(result);
                PagerClickBind();
            }
        });
    }

    function Delete(InnerPageId) {
        var val2 = confirm("Do you want to delete this record?");
        if (val2) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteDetails", "InnerPages")',  // the URL of the controller action method
                data: { InnerPageId: InnerPageId }, // optional data
                success: function (result) {
                    $("#divmessage").html(result.data);
                    DetailsBind($('#hdnPageNo').val());
                },
                error: function (req, status, error) {
                    $("#divmessage").html(result.data);
                }
            });
        }
    }

    function PagerClickBind() {
        $(".pagination a").bind("click", function () {
            DetailsBind($(this).text());
        });
    }

    function SearchClear() {
        $('#txtsearch').val('');
        DetailsBind(1);
    }
    function ClearSearch() {
        $('#txtsearch').val('');
        $('#InnerPageCategoryId').val('');
        $('#hdnPageNo').val(1);
        DetailsBind(1);
    }
</script>

<input id="hdnPageNo" type="hidden" value="1" />
<input id="hdnsortcolumn" type="hidden" value="UpdatedTime" />
<input id="hdnsortorder" type="hidden" value="DESC" />

<!-- breadcumb -->
<div class="clearfix breadcrumb-main">
    <ul class="breadcrumb  ">

        <li class="active">Web Site</li>
        <li class="fR sepV_c"><i class="icon-globe"></i><a href="@System.Configuration.ConfigurationManager.AppSettings["usersiteurl"]" target="_blank">View Mainsite</a></li>
    </ul>
</div>
<!-- end breadcumb -->

<div id="maincontainer">
    <div class="mainContent">
        <!--- TOPEBAR [start] ---->
        @Html.Partial("MainMenu")
        <!--- TOPEBAR [end] ---->

        <!--- SIDEBAR [start] ---->
        @Html.Partial("LeftMenu")
        <!--- SIDEBAR [en] ---->

        <div class="pageHeadingBlock ">
            <div class="grayBackground">
                <div class="fR t-r @(Role.Contains("SubAdmin")?"":"spcT_c")">
                    <a href="@Url.Action("AddDetails", "InnerPages")" class="btn btn-primary coursesMenu">Add  Page</a>
                    <a href="@Url.Action("Index", "InnerPageMaster")" class="btn btn-primary coursesMenu">Page Categories</a>
                </div>
                <h3 class="title">Web Pages</h3>
                @if (Role.Contains("SuperAdmin") || Role.Contains("SubAdmin"))
                {
                    @Html.Partial("WebsiteMenu")
                }
            </div>
        </div>
        <div class="clearfix sepH_b"></div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text12">
            <tr>
                <td>
                    <div id="divmessage">
                        @if (TempData["message"] != null)
                        { @Html.Raw(TempData["message"].ToString())}

                        @if (ViewBag.message != null)
                        { @Html.Raw(ViewBag.message.ToString())}
                    </div>
                </td>
            </tr>
            <tr>
                <td height="50">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <div class="grayBackground nobL nobR">
                                    <div id="filterReg" class="ui-accordion">
                                        <h4><b>Search</b></h4>
                                        <div>
                                            <div class="filedsetInner clearfix">
                                                <div class="row-fluid">
                                                    <div class="span4">
                                                        <label>Search </label>
                                                        <input type="text" name="txtsearch" id="txtsearch" value="" class="span12" placeholder="Page Title " />
                                                    </div>
                                                    <div class="span4">
                                                        <label>Category: </label>
                                                        <select id="InnerPageCategoryId" class="span12" name="InnerPageCategoryId">
                                                            <option value="">-- Select Category --</option>
                                                            @if (lstInnerPageCategory.Count > 0)
                                                            {
                                                                foreach (var item in lstInnerPageCategory)
                                                                {
                                                                <option @(item.InnerPageCategoryId == InnerPageCategoryId ? "selected=selected" : "")  value="@(item.InnerPageCategoryId)">@(item.CategoryName)</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="span4">
                                                        <button class="btn btn-primary filterAction" onclick="DetailsBind(1);">Search</button>
                                                        <a class="btn btn-inverse filterAction wC" onclick="ClearSearch();">Clear</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="divDetails">
                        @{Html.RenderAction("DetailsList", "InnerPages", new { InnerPageCategoryId = InnerPageCategoryId });}
                    </div>

                </td>
            </tr>
            <tr>
                <td style="padding: 12px 0"></td>
            </tr>
        </table>

    </div>
    <div class="adminfooter"></div>
</div>
