@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

                  <article class="clearfix border t-m1 ralewayregular font14 l-h24 p30 mobilev-p15 black-t" style="min-height:1150px;">
                    <article class="clearfix curve position-r t-m35n t-b-p25">
                      <h2 class="Impact font24 black-t l-h16 t-c mobile-font16 t-m0">Thanks for<span class="kaushan_scriptregular font24 red-t l-h14 mobile-font16">Donation</span></h2>
                    </article>
                    <article class="clearfix l-r-m-auto t-b-p30" style="max-width:900px">
                      <article class="clearfix p20 t-b-p0 mobile-p0 tablet-p15">
                        <h1 align="center" class="clearfix kaushan_scriptregular font36 tabhorizontal-font36 mobile-font26 mobile-l-h30 l-h50 dkgray-t2">Thanks for Donating !!!</h1>
                        <h3 align="center" class="font18 l-h24 Poppins-Regular b-m0 tablet-font16 mobilev-font14 mobile-l-h22 mobile-t-m5">Your details has been submitted to administrator for approval.</h3>
                        <article class="clearfix border-b rebborder dashborder-b">&nbsp;</article>
                        <article style="max-width:500px;" class="clearfix t-p5 l-r-m-auto dkskyblue-t">
                          <article class="sm-row font14 Poppins-Regular">
                            <article class="sm-6 b-p10 mobile-b-p0 tablet-b-p5">
                              <h3 class="font16 t-m0 b-m5 poppinssemibold mobile-font14 tablet-b-m0 mobile-b-m0">Your Details</h3>
                        @ViewBag.AddressFirstName
                        @ViewBag.AddressLastName
                        @ViewBag.AddressPhoneNo
                              <a class="black-t" href="mailto:@(ViewBag.PayerEmail)">@ViewBag.PayerEmail</a> </article>
                            <article class="sm-6">
                              <h3 class="font16 t-m0 b-m5 poppinssemibold mobile-font14 tablet-b-m0 mobile-b-m0">Payment Received By</h3>
                              Washington Telugu Samithi (WATS)<br>
                              <a class="black-t" href="mailto:@(ViewBag.ReceiverEmail)">@(ViewBag.ReceiverEmail)</a> </article>
                          </article>
                        </article>
                        <article class="clearfix overflow_x-a">
                          <article class="clearfix t-p0 border greenborder">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%" class="table table-hover table-bordered poppinsregular m0">
                              <tbody>
                                <tr class="red-bg">
                                  <th width="22%" style="padding:14px;">Date - Time</th>
                                  <th width="29%" style="padding:14px;">Transaction Number</th>
                                  <th width="25%" style="padding:14px;">Summary</th>
                                  <th width="13%" style="padding:14px;">Status</th>
                                  <th width="11%" style="padding:14px;" class="text-right">Total</th>
                                </tr>
                                <tr>
                                  <td align="center" style="padding:13px;">@ViewBag.PaymentDate</td>
                                  <td align="center" style="padding:13px;">@ViewBag.TransactionId</td>
                                  <td align="center" style="padding:13px;">Donation for the Washington Telugu Samithi (WATS)</td>
                                  <td align="center" style="padding:13px;">@ViewBag.PaymentStatus</td>
                                  <td align="center" style="padding:13px;">$ @ViewBag.GrossTotal</td>
                                </tr>
                              </tbody>
                            </table>
                          </article>
                        </article>
                      </article>
                    </article>
                  </article>
