@{ Layout = null;}
@{
    string sortcolumn = (string)ViewBag.sortcolumn;
    string sortorder = (string)ViewBag.sortorder;
    Int64 Total = (Int64)ViewBag.total;
    var PageNo = (Int64)ViewBag.pageno;
    var Items = (Int64)ViewBag.items;

    List<WATS.Entities.VideoCategories> lstVideoCategories = ViewBag.lstVideoCategories;    
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#MWebsite').addClass('active');
        $('.closable').append('<span class="closelink" title="Close"></span>');       
        $('.closelink').click(function () {
            $(this).parent().fadeOut('600', function () { $(this).remove(); });
        });
    });
</script>

<div class="row-fluid">
    <div class="span12">
        @if (Total == -1)
        {
            <div class="norecords">Sorry failed processing your request.</div> 
        }
        else
        { 
            <table width="100%" class="table table-hover  table_vam table-black">
                <thead>
                    <tr>
                        <th width="6%" align="center">S.No.</th>
                        <th><a onclick="javascript:sortresult('CategoryName');" class="white-t-u">Category Name @if (sortcolumn == "CategoryName")
                         {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }</th>
                        <th width="20%">Posted Date</th>
                        <th width="15%">#</th>
                        <th width="9%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (lstVideoCategories.Count != 0)
                    {
                        foreach (var item in lstVideoCategories)
                        { 
                        <tr>
                            <td width="47" valign="top">@item.RId</td>
                            <td style="text-align: left">@item.CategoryName</td>
                            <td style="text-align: left">@item.UpdatedTime.ToString("MM-dd-yyyy")</td>
                            <td><a href="@Url.Action("Videos", "VideoGallery", new { VideoCategoryId = item.VideoCategoryId })">Videos</a></td>
                            <td>
                                <a title="Edit" onclick="VideoCategoryEdit(@item.VideoCategoryId);" ><i class="icon-pencil"></i></a>
                                 @if (item.VideosCount == 0)
                                 {
                                <a title="Delete" id="10" onclick="javascript:Delete(@item.VideoCategoryId);" class="scdelete"><i class="icon-trash"></i></a>
                                     }

                                 else
                                 {
                            <a title="This category have @item.VideosCount videos" class="sepV_a disable-alpha"><i class="icon-trash"></i></a>
                                 }
                                @*<a title="Delete" class="sepV_a disable-alpha"><i class="icon-trash"></i></a>*@
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="norecords" colspan="8">No Categories Found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@Html.Raw(WATS.BLL.Common.SetPaging((Int64)ViewBag.items, ref Total, (Int64)ViewBag.pageno, "pagination pagination-centered"))
