@{
    ViewBag.Title = "EventDetails";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var objEvents = (WATS.Entities.Events)ViewBag.objEvents;

    var Type = ViewBag.Type;

    var imglocNormal = System.Configuration.ConfigurationManager.AppSettings["adminimgurl"] + "events/banners/";

    var imglocEvent = System.Configuration.ConfigurationManager.AppSettings["adminimgurl"] + "events/banners/";

    var ChoreographerId = Session["choreographerId"];

    List<WATS.Entities.RegistrationCategories> lstEventRegistrationCategories = ViewBag.lstEventRegistrationCategories;
}


<script type="text/javascript">
    $(document).ready(function () {
         if ('@ViewBag.str' == 'clogin-failed') {
             /*CuturalLoginShow();*/
             $('#ErrorMessage1').show();
        }

        $('#cutural').dialog
            ({
                autoOpen: false,
                width: 750,
                modal: true
            });
        $('#cuturallogin').dialog
            ({
                autoOpen: false,
                width: 450,
                modal: true
            });
        /*CulturalShow();*/
    });

    function CulturalShow() {
        $('#cutural').dialog('open');
    }

    function CuturalLoginShow() {

        $('#cuturallogin').dialog('open');

        $('#cutural').dialog('close');
    }

    function CuturalLoginValidate() {

        if ($('#CEmail1').val() == "") { $('#CEmail1').focus().addClass("validate"); return false; } else { $('#CEmail1').removeClass("validate"); }
        if (!Common.CheckEmail($('#CEmail1').val())) { $('#CEmail1').val(''); document.getElementsByName('CEmail1')[0].placeholder = 'Invalid email address'; $('#CEmail1').focus().addClass("validate"); return false; } else { $('#CEmail1').removeClass("validate"); }
        if ($('#CPassword1').val() == '') { $('#CPassword1').focus().addClass("validate"); return false; } else { $('#CPassword1').focus().removeClass("validate"); }


        return true;
    }
    function ResetValidateClass() {
        $('#Email1').removeClass("validate");
        $('#Password1').removeClass("validate");

    }

    function cforgotpasswordshow() {
        $('#cuturallogin').dialog('close');
        $('#CEmail').val('').removeClass('validate');
        $('#cforgot-password').dialog('open');
    }

    function CValidateFPword1() {
        if ($('#CEmail').val() == "") { alert("Please Enter Email."); return false; }
        if ($('#CEmail').val() != "") {
            if ($.trim($('#CEmail').val()) == '') { $('#CEmail').focus().addClass("validate"); return false; } else { $('#CEmail').focus().removeClass("validate"); }
            if (!Common.CheckEmail($('#CEmail').val())) { $('#CEmail').val(''); document.getElementsByName('Email')[0].placeholder = 'Invalid email address'; $('#CEmail').focus().addClass("validate"); return false; } else { $('#CEmail').removeClass("validate"); }
        }
        return true;
    }
</script>

<!--- DILOG BOX Login [start] --->
<section id="cutural" style="display: none; overflow: visible;">
    <article class="clearfix dialog-title t-c white-bg border-b b-p5">
        <span class="pull-right r-p10 t-p10"><a class="cursor-p latomedium red-t" onclick=" $('#cutural').dialog('close')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></span>
        <h3 class="black-t font20 poppins-medium">Cultural Registration</h3>
    </article>

    <article id="ErrorMessage1" class="clearfix border dkredborder red-t font13 p5 hide t-b-m10 l-r-m10">@(TempData["message1"] != null ? TempData["message1"].ToString() : "")</article>
    <article class="clearfix dialog-content">
        <article class="clearfix p30 mobile-p10 border-radius4 dk-cream-bg">
            @*<article class="clearfix t-l Poppins-Regular t-m0 b-p10 merunred-t">Please fill the below credentials to login. </article>*@

            <article class="clearfix t-c" style="margin-left:auto; margin-right:auto;">

                <a href="@Url.Action("CulturalRegistration", "Event", new { EventName = WATS.BLL.Common.EncodeURL(@objEvents.EventName), eid = objEvents.EventId })" class="btn btn-danger border-radius0 t-t-u t-b-p10 l-r-p30 poppinssemibold border0 font14 mobile-font14 l-h18 mobile-t-b-p10 mobile-l-r-p10">New Choreographer? Sign In</a>

                <a onclick="CuturalLoginShow();" class="btn btn-success border-radius0 t-t-u t-b-p10 l-r-p30 poppinssemibold border0 font14 mobile-font14 l-h18 mobile-t-b-p10 mobile-l-r-p10">Already Registered Choreographer</a>
            </article>

        </article>
    </article>
</section>
<!--- DILOG BOX Login [end] --->
<!--- DILOG BOX Login [start] --->
<section id="cuturallogin" style="display: none; overflow: visible;">
    <article class="clearfix dialog-title t-c white-bg border-b b-p5">
        <span class="pull-right r-p10 t-p10"><a class="cursor-p latomedium red-t" onclick=" $('#cuturallogin').dialog('close')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></span>
        <h3 class="black-t font20 poppins-medium">Choreographer Login</h3>
    </article>
    <article id="ErrorMessage1" class="clearfix red-t font14 p5 t-b-m10 l-r-m10">@(TempData["message1"] != null ? TempData["message1"].ToString() : "")</article>
    <article class="clearfix dialog-content">
        <article class="clearfix l-r-p30 b-p30 mobile-p10 border-radius4 dk-cream-bg">
            <article class="clearfix t-l Poppins-Regular t-m0 b-p10 merunred-t">Please fill the below credentials to login. </article>
            @using (Html.BeginForm("LogOn", "Choreographer", FormMethod.Post, new { enctype = "multipart/form-data", @class = "validation" }))
            {
                @*<input type="hidden" value="@Request.Url.AbsoluteUri" id="ReturnUrl" name="ReturnUrl" />*@
                <input type="hidden" value="@objEvents.EventName" id="EventName" name="EventName" />
                <input type="hidden" value="@objEvents.EventId" id="EventId" name="EventId" />

                <input type="text" value="" placeholder="Email ID" onkeypress="ResetValidateClass();" onclick="ResetValidateClass();" name="Email" id="CEmail1" class="form-control" />
                <input type="password" placeholder="Password" onkeypress="ResetValidateClass();" onclick="ResetValidateClass();" name="Password" id="CPassword1" class="form-control" />
                <article class="clearfix t-p10 t-c">
                    <input type="submit" value="LOGIN" class="btn btn-danger btn-block poppinssemibold font18 border-radius0" onclick="return CuturalLoginValidate();" />
                    <span class="dis-b t-p5">
                        <a onclick="cforgotpasswordshow();" class="dk-t font14"><u>Forgot Password ?</u></a>
                    </span>
                </article>
            }
        </article>
    </article>
</section>
<!--- DILOG BOX Login [end] --->
<!--- DILOG BOX forgot password [start] --->
<section id="cforgot-password" style="display: none; overflow: visible;">
    <article class="clearfix dialog-title t-c white-bg border-b b-p5">
        <span class="pull-right r-p10 t-p10"><a class="cursor-p latomedium red-t" onclick=" $('#forgot-password').dialog('close')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></span>
        <h3 class="black-t font20 poppins-medium">Forgot Password</h3>
    </article>
    <article class="clearfix dialog-content">
        <article class="clearfix p30 mobile-p10 border-radius4 dk-cream-bg">

            <article class="clearfix b-p15 font13 dk-t l-h18">
                <span class="red-t font14 poppins-medium">Note :-</span> “ If you have forgotten your password and would like to change it, enter your email address and we'll send you a new password reset request.
            </article>
            @using (Html.BeginForm("ForgotPassword", "Choreographer", FormMethod.Post, new { enctype = "multipart/form-data", @class = "validation" }))
            {
                <input type="hidden" value="" id="" name="" />

                <input type="text" value="" placeholder="Email ID" onkeypress="ResetValidateClass();" onclick="ResetValidateClass();" name="Email" id="CEmail" class="form-control" />
                <article class="clearfix t-p10 t-c">
                    <input type="submit" value="SUBMIT" class="btn btn-danger btn-block poppinssemibold font18 border-radius0" onclick="return CValidateFPword1();" />
                    <span class="dis-b t-p5">
                        <a onclick="CuturalLoginShow();" class="dk-t font14"><u>Back to Login</u></a>
                    </span>
                </article>
            }
        </article>
    </article>
</section>
<!--- DILOG BOX forgot password [end] --->


<article class="clearfix border t-m1 ralewayregular font14 l-h24 black-t" style="min-height:1150px;">
    <article class="clearfix curve position-r t-m4n b-p15">

        <h2 class="Impact font22 black-t l-h16 t-c mobile-font16 b-p15">@objEvents.EventName <span class="kaushan_scriptregular font22 red-t l-h14 mobile-font16"> Details</span></h2>
    </article>
    @if (objEvents.IsRegistration == true && objEvents.RegistrationStartDate.Date <= DateTime.UtcNow.Date && objEvents.RegistrationEndDate.Date >= DateTime.UtcNow.Date)
    {
        if (objEvents.IsVIPSingleAdult == true)
        {
            if (this.User.Identity.IsAuthenticated && this.User.Identity.Name != null && Context.Session != null && Session["username"] != null)
            {
                <article class="clearfix part-row">
                    <article class="clearfix part-4">
                        <article class="clearfix l-r-p30">
                            <span class="t-m30n">
                                <a href="@Url.Action("CulturalRegistration", "Event", new { EventName = WATS.BLL.Common.EncodeURL(@objEvents.EventName), eid = objEvents.EventId })" class="btn btn-danger btn-sm white-t font14 poppinssemibold t-t-u border-radius">
                                    Cultural Registration
                                </a>
                            </span>
                        </article>
                    </article>
                    <article class="clearfix part-4">
                        <article class="clearfix l-r-p30  t-p40">
                            <span class="pull-right t-m30n">
                                <a href="@Url.Action("EventRegistration", "Event", new { EventName = WATS.BLL.Common.EncodeURL(@objEvents.EventName), eid = objEvents.EventId })" class="btn btn-success btn-sm white-t font14 poppinssemibold t-t-u border-radius l-r-p50">
                                    Event Registration
                                </a>
                            </span>
                        </article>
                    </article>
                    <article class="clearfix part-4">
                        @if (objEvents.SponsorsCount != 0)
                        {
                            <article class="clearfix l-r-p30 t-p40">
                                <a href="@Url.Action("Index", "SponsorRegistrations", new { EventId = @objEvents.EventId,EventName=@objEvents.EventName })" class="btn btn-danger btn-sm white-t font14 t-t-u poppinssemibold border-radius">
                                    Sponsor Registration
                                </a>
                            </article>
                        }
                    </article>
                </article>
            }
            else
            {
                <article class="clearfix l-r-p30">
                    <span class="pull-right t-m30n">
                        <a onclick="LoginShow();" class="btn btn-danger btn-sm white-t font14 poppinssemibold t-t-u border-radius">
                            Register Now
                        </a>
                    </span>
                </article>
            }
        }
    }
    <article class="clearfix part-row">
        <article class="clearfix part-4">
            @if (objEvents.IsVIP == true && objEvents.RegistrationStartDate.Date <= DateTime.UtcNow.Date && objEvents.RegistrationEndDate.Date >= DateTime.UtcNow.Date)
            {

                <article class="clearfix l-r-p30 t-p50">
                    <span class="t-m30n">
                        @*<a href="@Url.Action("CulturalRegistration", "Event", new { EventName = WATS.BLL.Common.EncodeURL(@objEvents.EventName), eid = objEvents.EventId })" class="btn btn-danger btn-sm white-t font14 poppinssemibold t-t-u border-radius">
                                Cultural Registration
                            </a>*@
                        @if (this.User.Identity.IsAuthenticated && this.User.Identity.Name != null && Context.Session != null && Session["username"] != null)
                        {
                            <a href="@Url.Action("CulturalDetails", "Event", new { EventName = WATS.BLL.Common.EncodeURL(@objEvents.EventName), eid = objEvents.EventId})" class="btn btn-danger btn-sm white-t font14 poppinssemibold t-t-u border-radius">
                                Cultural Registration
                            </a>
                        }
                        else if (this.User.Identity.IsAuthenticated && this.User.Identity.Name != null && Context.Session != null && Session["choreographername"] != null)
                        {
                            <a href="@Url.Action("CulturalRegistration", "Event", new { EventName = WATS.BLL.Common.EncodeURL(@objEvents.EventName), eid = objEvents.EventId, ChoreographerId = ChoreographerId })" class="btn btn-danger btn-sm white-t font14 poppinssemibold t-t-u border-radius">
                                Cultural Registration
                            </a>
                        }
                        else
                        {
                            <a onclick="CulturalShow();" class="btn btn-danger btn-sm white-t font14 poppinssemibold t-t-u border-radius">
                                Cultural Registration
                            </a>
                        }
                    </span>
                </article>
            }
        </article>
        <article class="clearfix part-4">
            @if (objEvents.IsRegistration == true && objEvents.RegistrationStartDate.Date <= DateTime.UtcNow.Date && objEvents.RegistrationEndDate.Date >= DateTime.UtcNow.Date)
            {

                <article class="clearfix l-r-p30 t-p50">
                    <span class="t-m30n">
                        <a href="@Url.Action("EventRegistration", "Event", new { EventName = WATS.BLL.Common.EncodeURL(@objEvents.EventName), eid = objEvents.EventId })" class="btn dis-b btn-success btn-sm white-t font14 poppinssemibold t-t-u border-radius l-p35 r-p50">
                            Event Registration
                        </a>
                    </span>
                </article>
            }
        </article>
        <article class="clearfix part-4">
            @if (objEvents.SponsorsCount != 0)
            {
                <article class="clearfix l-r-p30 t-p50">
                    <a href="@Url.Action("Index", "SponsorRegistrations", new { EventId = @objEvents.EventId,EventName=@objEvents.EventName })" class="btn btn-danger btn-sm white-t t-t-u font14 poppinssemibold border-radius">
                        Sponsor Registration
                    </a>
                </article>
            }
        </article>
    </article>

    <article class="clearfix l-r-m-auto t-b-p10" style="max-width:650px;">
        <ul class="clearfix list-pn list-f competitions-list">
            @if (lstEventRegistrationCategories != null && lstEventRegistrationCategories.Count != 0)
            {
                foreach (var item in lstEventRegistrationCategories)
                {
                    if ((item.CategoryName == "Spell Master" || item.CategoryName == "Math Bowl" || item.CategoryName == "Art Competition" || item.CategoryName == "Public Speaking Contest" || item.CategoryName == "Essay Writing Competition" || item.CategoryName == "LEGO Competition") && objEvents.EndDate.Date >= DateTime.UtcNow.Date && objEvents.RegistrationEndDate.Date >= DateTime.UtcNow.Date)
                    {
                        <li>
                            <h3 class="clearfix dis-in merunred-bg border-radius4 shadow poppins-medium p10 font16 l-h18 white-t" style="min-width:300px;">
                                <a class="white-t" href="@Url.Action("EventRegistrationForm1", "Event", new { EventName = WATS.BLL.Common.EncodeURL(@objEvents.EventName), eid = objEvents.EventId, cid = item.RegistrationCategoryId })">
                                    Registration for @item.CategoryName
                                </a>
                            </h3>
                        </li>
                    }
                    else if ((item.CategoryName == "Mahila Sambaralu") && objEvents.EndDate.Date >= DateTime.UtcNow.Date && objEvents.RegistrationEndDate.Date >= DateTime.UtcNow.Date)
                    {
                        <li>
                            <h3 class="clearfix dis-in merunred-bg border-radius4 poppins-medium p10 font16 l-h18 white-t" style="min-width:300px;">
                                <a href="@Url.Action("EventRegistrationForm2", "Event", new { EventName = WATS.BLL.Common.EncodeURL(@objEvents.EventName), eid = objEvents.EventId, cid = item.RegistrationCategoryId })" class="white-t">

                                    Registration for @item.CategoryName
                                </a>
                            </h3>
                        </li>
                    }
                    else if ((item.CategoryName == "Cultural Registration") && objEvents.EndDate.Date >= DateTime.UtcNow.Date && objEvents.RegistrationEndDate.Date >= DateTime.UtcNow.Date)
                    {
                        <li>
                            <h3 class="clearfix dis-in merunred-bg border-radius4 poppins-medium p10 font16 l-h18 white-t" style="min-width:300px;">
                                <a href="@Url.Action("CulturalDetails", "Event", new { EventName = WATS.BLL.Common.EncodeURL(@objEvents.EventName), eid = objEvents.EventId })" class="white-t">

                                Registration for @item.CategoryName
                                </a>
                            </h3>
                        </li>
                    }
                    else if ((item.CategoryName == "Meet & Greet" || item.CategoryName == "Mehandi" || item.CategoryName == "Seminar") && objEvents.EndDate.Date >= DateTime.UtcNow.Date && objEvents.RegistrationEndDate.Date >= DateTime.UtcNow.Date)
                    {
                        <li>
                            <h3 class="clearfix dis-in merunred-bg border-radius4 poppins-medium p10 font16 l-h18 white-t" style="min-width: 300px;">
                                <a href="@Url.Action("EventRegistrationForm3", "Event", new { EventName = WATS.BLL.Common.EncodeURL(@objEvents.EventName), eid = objEvents.EventId, cid = item.RegistrationCategoryId })" class="white-t">

                                    Registration for @item.CategoryName
                                    
                                </a>
                            </h3>
                        </li>
                    }
                    else if ((item.CategoryName == "Competitions") && objEvents.EndDate.Date >= DateTime.UtcNow.Date && objEvents.RegistrationEndDate.Date >= DateTime.UtcNow.Date)
                    {
                         <li>
                            <h3 class="clearfix dis-in merunred-bg border-radius4 poppins-medium p10 font16 l-h18 white-t" style="min-width: 300px;">
                                <a href="@Url.Action("EventRegistrationForm3", "Event", new { EventName = WATS.BLL.Common.EncodeURL(@objEvents.EventName), eid = objEvents.EventId, cid = item.RegistrationCategoryId })" class="white-t">

                                    @*Registration for @item.CategoryName*@
                                    Registration for Competitions
                                </a>
                            </h3>
                        </li>
                    }
                    else if ((item.CategoryName == "Stalls") && objEvents.EndDate.Date >= DateTime.UtcNow.Date && objEvents.RegistrationEndDate.Date >= DateTime.UtcNow.Date)
                    {
                        <li>
                            <h3 class="clearfix dis-in merunred-bg border-radius4 poppins-medium p10 font16 l-h18 white-t" style="min-width: 300px;">
                                <a href="@Url.Action("EventRegistrationForm4", "Event", new { EventName = WATS.BLL.Common.EncodeURL(@objEvents.EventName), eid = objEvents.EventId, cid = item.RegistrationCategoryId })" class="white-t">

                                    Registration for @item.CategoryName
                                </a>
                            </h3>
                        </li>
                    }
                    else if ((item.CategoryName == "Sports" || item.CategoryName == "Cricket" || item.CategoryName == "Table Tennis" || item.CategoryName == "Tennis" || item.CategoryName == "Badminton" || item.CategoryName == "Volleyball") && objEvents.EndDate.Date >= DateTime.UtcNow.Date && objEvents.RegistrationEndDate.Date >= DateTime.UtcNow.Date)
                    {
                        <li>
                            <h3 class="clearfix dis-in merunred-bg border-radius4 poppins-medium p10 font16 l-h18 white-t" style="min-width: 300px;">
                                <a href="@Url.Action("EventRegistrationForm5", "Event", new { EventName = WATS.BLL.Common.EncodeURL(@objEvents.EventName), eid = objEvents.EventId, cid = item.RegistrationCategoryId })" class="white-t">
                                    Registration for @item.CategoryName
                                </a>
                            </h3>
                        </li>
                    }
                    else if ((item.CategoryName == "Chess") && objEvents.EndDate.Date >= DateTime.UtcNow.Date && objEvents.RegistrationEndDate.Date >= DateTime.UtcNow.Date)
                    {
                        <li>
                            <h3 class="clearfix dis-in merunred-bg border-radius4 poppins-medium p10 font16 l-h18 white-t" style="min-width: 300px;">
                                <a href="@Url.Action("EventRegistrationForm6", "Event", new { EventName = WATS.BLL.Common.EncodeURL(@objEvents.EventName), eid = objEvents.EventId, cid = item.RegistrationCategoryId })" class="white-t">
                                    Registration for @item.CategoryName
                                </a>
                            </h3>
                        </li>
                    }
                }
            }
        </ul>
                    </article>

    <article class="clearfix tablet-p10 p30">

        @if (objEvents.BannerUrl != null && objEvents.BannerUrl != "")
        {
            <article class="clearfix thumbnail b-m0 border-radius0 l-r-m-auto">

                <img class="width100" src="@(imglocNormal + objEvents.BannerUrl)" height="112" alt="@objEvents.EventName" title="@objEvents.EventName" />
            </article>
        }


        <article class="clearfix t-b-p10">
            <article class="clearfix part-row white-bg border shadow t-c mobile-t-l black-t mobile-p10">
                <article class="part-6">
                    <article class="clearfix font15 Poppins-Regular v-align-m t-b-p10 border-r gray-border mobile-bor-r0 mobile-t-b-p0">
                        <i style="min-width:16px;" class="dis-in dis-in v-align-bs t-c r-p10"><img alt="Calender" src="Content/images/calendar.png" width="23" height="22" border="0"></i>  @if (objEvents.StartDate != DateTime.MinValue && objEvents.EndDate != DateTime.MinValue && (objEvents.EndDate.Date - objEvents.StartDate.Date).Days > 0)
                        {
                            @Html.Raw(@objEvents.StartDate.ToString("dddd") + " , " + @objEvents.StartDate.ToString("MM/dd/yyyy"))

                        }
                        else if (objEvents.StartDate != DateTime.MinValue && objEvents.EndDate != DateTime.MinValue)
                        {
                            @Html.Raw(@objEvents.StartDate.ToString("dddd") + " , " + objEvents.StartDate.ToString("MM/dd/yyyy"))
                            if (objEvents.StartDate.ToString("hh.mm tt") != "12.00 AM")
                            {
                                @Html.Raw(" " + @objEvents.StartDate.ToString("hh.mm tt") + " - ")
                                @Html.Raw(@objEvents.EndDate.ToString("hh.mm tt"))
                            }
                        }
                    </article>
                </article>
                <article class="part-6">
                    <article class="clearfix font15 Poppins-Regular v-align-m t-b-p10 gray-border mobile-bor-r0 mobile-t-b-p0">

                        <span class="red-t l-h14 dis-b t-b-m5 l-p20">Location: <span class="black-t">@(objEvents.Location == null || objEvents.Location == "" ? "N/A" : objEvents.Location) </span></span>
                    </article>
                </article>
            </article>
        </article>
        @if (objEvents.EventDetails != null && objEvents.EventDetails.Trim() != "")
        {
            @Html.Raw(objEvents.EventDetails.Replace("src=\"/Content/uploads/", "src=\"" + System.Configuration.ConfigurationManager.AppSettings["adminsiteurl"].ToString() + "Content/uploads/"))

        }

    </article>
</article>
