@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    
    Int64 EventId = ViewBag.EventId;
    String EventName = ViewBag.EventName;
     
    }

<script type="text/javascript">

    $(document).ready(function () {
        $(".date").datepicker({ changeMonth: true, changeYear: true, yearRange: "-90:+0", altField: '.date', altFormat: 'mm/dd/yy' });
        $('#MEvents').addClass('active');
        $('.closable').append('<span id="lblclose" class="closelink" title="Close"></span>');
        PagerClickBind();
    });

    function sortresult(sortcolumn) {

        $('#hdnsortorder').val(($('#hdnsortorder').val() == 'ASC' ? 'DESC' : 'ASC'));
        $('#hdnsortcolumn').val(sortcolumn);
        Onload(1);
    }
    function validate(Id) {
        if (Id == "") {
            alert("Please select atleast one Item.");
            return false;
        }
        return true;
    }
   
    function ClearSearch() {
        $('#txtsearch').val('');
        $('#tsearch').val('');
        $('#Type').val('');
        Onload(1);
    }

    function Onload(Pageno) {
        var pageno = Common.Pageno(Pageno);
        var sortcolumn = $('#hdnsortcolumn').val();
        var sortorder = $('#hdnsortorder').val();
        var items = $('#txtitems').val();
        var Search = $('#txtsearch').val();
        var Type = $('#Type').val();
      
        $.ajax({
            url: '@Url.Action("EventUsersList", "EventRegistrations")',
            type: 'GET',
            cache: false,
            data: { Search: Search, Type: Type, EventId: @(ViewBag.EventId), PageNo: pageno, SortColumn: sortcolumn, SortOrder: sortorder, Items: items },
            success: function (result) {
                $('#divDetails').html(result);
                PagerClickBind();
            }
        });
    }

    function Delete(EventUserInfoId) {
        var val2 = confirm("Do you want to delete this record?");
        if (val2) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteEventUser", "EventRegistrations")',  // the URL of the controller action method
                data: { EventUserInfoId: EventUserInfoId }, // optional data
                success: function (result) {
                    $("#divmessage").html(result.data);
                    Onload($('#hdnPageNo').val());
                },
                error: function (req, status, error) {
                    $("#divmessage").html(result.data);
                }
            });
        }
    }

    function PagerClickBind() {
        $(".pagination a").bind("click", function () {
            Onload($(this).text());
        });
    }

    function ExporttoExcel() {
        window.location.href = "EventRegistrations/EventuserExporttoExcel?Search=" + $('#txtsearch').val() + "&Type=" + $('#Type').val() +"&EventId="+@(ViewBag.EventId);
    }
    
</script>

<input id="hdnPageNo" type="hidden" value="1" />
<input id="hdnsortcolumn" type="hidden" value="InsertedTime" />
<input id="hdnsortorder" type="hidden" value="DESC" />

<!-- breadcumb -->
<div class="clearfix breadcrumb-main"><ul class="breadcrumb  ">
    <li><a href="@Url.Action("Index","Home")">Home</a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Index","Events",  new { EventType ="current" })">Events</a> <span class="divider">/</span></li>
    <li class="active">Event Users</li>
    <li class="fR sepV_c"><i class="icon-globe"></i><a href="@System.Configuration.ConfigurationManager.AppSettings["usersiteurl"]" target="_blank">View Mainsite</a></li>
</ul></div>
<!-- end breadcumb -->

<div id="maincontainer">
    <div class="mainContent">
        <!--- TOPEBAR [start] ---->
        @Html.Partial("MainMenu", "SuperAdmin")
        <!--- TOPEBAR [end] ---->

        <!--- SIDEBAR [start] ---->
        @Html.Partial("LeftMenu")
        <!--- SIDEBAR [en] ---->

        <div class="pageHeadingBlock ">
            <div class="grayBackground">
                <div class="fR t-r spcT_c">
                    <a class="btn btn-primary coursesMenu" onclick="ExporttoExcel();">Export Details to Excel</a>
                </div>
                <h3 class="title t-t-c">' @ViewBag.EventName ' - Registered Users</h3>
                @{Html.RenderAction("EventMenu", "Events", new { EventId = EventId, EventName = EventName, tab = "users" });}
            </div>
        </div>
        <div class="clearfix sepH_b"></div>
        <div id="divmessage">
                        @if (TempData["message"] != null)
                        { @Html.Raw(TempData["message"].ToString())}

                        @if (ViewBag.message != null)
                        { @Html.Raw(ViewBag.message.ToString())}
                    </div>
        <div class="grayBackground nobL nobR">
                <div id="filterReg" class="ui-accordion">
                    <h4><b>Filter Users</b></h4>
                    <div>
                        <div class="filedsetInner clearfix">
                            <div class="row-fluid">
                                <div class="span4 clearfix">
                                    <label>Search </label>
                                    <input type="text" name="txtsearch" id="txtsearch" class="input span12" value="" placeholder="First Name /Last Name " />
                                </div>
                                <div class="span4">
                                                        <label>Type: </label>
                                                        <select id="Type" class="span12" name="Type">
                                                            <option value="">-- Select Type --</option>
                                                           <option value="Cultural Events">Cultural Registrations</option>
                                                            <option value="Normal Events">General Registrations</option>
                                                        </select>
                                                    </div>
                                @*<div class="span4 clearfix">
                                    <label>&nbsp; </label>
                                    <input type="text" id="tsearch" class="input span12" value="" placeholder="Cultural / Normal" />
                                </div>*@
                                 <div class="span4 l-p35">
                                    <button class="btn btn-primary filterAction" onclick="Onload();">Search</button>
                                    <a class="btn btn-inverse filterAction wC" onclick="ClearSearch();">Clear</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          <div class="clearfix"></div>
           <div class="clearfix sepH_b"></div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="text12">
            <tr>
                <td>
                     
                </td>
            </tr>
            <tr>
                <td>
                    <div id="divDetails">
                        @{Html.RenderAction("EventUsersList", "EventRegistrations",new {EventId=ViewBag.EventId});}
                    </div>

                </td>
            </tr>
            <tr>
                <td style="padding: 12px 0"></td>
            </tr>
        </table>

    </div>
    <div class="adminfooter"></div>
</div>

