@{ Layout = null;}
@{
    string sortcolumn = (string)ViewBag.sortcolumn;
    string sortorder = (string)ViewBag.sortorder;
    Int64 Total = (Int64)ViewBag.total;
    var PageNo = (Int64)ViewBag.pageno;
    var Items = (Int64)ViewBag.items;

    List<WATS.Entities.VolunteerCategories> lstVolounteerCategories = ViewBag.lstVolunteerCategory;

    HttpContext ctx = HttpContext.Current;
    HttpCookie authCookie = HttpContext.Current.Request.Cookies["UserCookie"];

    FormsAuthenticationTicket authTicket;

    authTicket = FormsAuthentication.Decrypt(authCookie.Value);

    string Role = authTicket.UserData;
}

<script type="text/javascript">

    $(document).ready(function () {
        $('.closable').append('<span class="closelink" title="Close"></span>');
        $('.closelink').click(function () {
            $(this).parent().fadeOut('600', function () { $(this).remove(); });
        });
    });
</script>

<div class="row-fluid">
    <div class="span12">
        @if (Total == -1)
        {
            <div class="norecords">Sorry failed processing your request.</div>
        }
        else
        {
            <table width="100%" class="table table-hover  table_vam table-black">
                <thead>
                    <tr>
                        <th width="44" align="center">S.No.</th>
                        <th>
                            <a onclick="javascript:sortresult('CategoryName');" class="white-t-u">
                                Category Name @if (sortcolumn == "CategoryName")
                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" />}
                            </a>
                        </th>

                        @*<th>
            <a onclick="javascript:sortresult('UpdatedTime');" class="white-t-u">
                Posted Date @if (sortcolumn == "UpdatedTime")
                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" />}
        </th>*@
                        @*<th>
            <a onclick="javascript:sortresult('UpdatedBy');" class="white-t-u">
                Posted By @if (sortcolumn == "UpdatedBy")
                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" />}
        </th>*@
                        <th width="16%">
                            Volunteers
                        </th>
                        @if (Role.Contains("VicePresident"))
                        {
                        }
                        else if (Role.Contains("SuperAdmin") || Role.Contains("WebMaster") || Role.Contains("Volunteers"))
                        {
                            <th width="10%">Action</th>
                        }
                        </tr>
                </thead>
                <tbody>
                    @if (lstVolounteerCategories.Count != 0)
                    {
                        foreach (var item in lstVolounteerCategories)
                        {
                    <tr>
                        <td valign="top">@item.RId</td>
                        <td style="text-align: left">@item.CategoryName</td>

                        @*<td>@item.UpdatedTime.ToString("dd-MM-yyyy")</td>
        <td>@item.UpdatedBy</td>*@
                        <td><a href="@Url.Action("Index", "Volunteers", new { VolunteerCategoryId = item.VolunteerCategoryId })">Volunteers</a></td>
                        @if (Role.Contains("VicePresident"))
                        {
                        }
                        else
                        {
                        <td>
                            @if (Role.Contains("WebMaster") || Role.Contains("SuperAdmin"))
                            {
                                <a title="Edit" onclick="InnerPageCategoryEdit(@item.VolunteerCategoryId);"><i class="icon-pencil"></i></a>
                                <a title="Delete" id="10" onclick="javascript:Delete(@item.VolunteerCategoryId);" class="scdelete"><i class="icon-trash"></i></a>
                            }
                            else
                            {
                                <a title="Edit" onclick="InnerPageCategoryEdit(@item.VolunteerCategoryId);"><i class="icon-pencil"></i></a>
                            }

                            @*<a title="Delete" class="sepV_a disable-alpha"><i class="icon-trash"></i></a>*@
                        </td>
                        }
                        </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td class="norecords" colspan="9">No Records Found.</td>
                        </tr>
                    }
            </table>
        }
    </div>
</div>

@Html.Raw(WATS.BLL.Common.SetPaging((Int64)ViewBag.items, ref Total, (Int64)ViewBag.pageno, "pagination pagination-centered"))
