@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var objuser = (WATS.Entities.Users)ViewBag.objuser;
}
<script>
    $(document).ready(function () {
        $('#MWebsite').addClass('active');
    });
    function ValidatePassword() {
        if ($('#OldPassword').val() == '') { $('#spanPassword').html('Required.'); $('#OldPassword').focus().addClass("red-border"); return false; } else { $('#spanPassword').html(''); $('#OldPassword').focus().removeClass("red-border"); }
        if ($('#NewPassword').val() == '') { $('#spanNewPassword').html('Required.'); $('#NewPassword').focus().addClass("red-border"); return false; } else { $('#spanNewPassword').html(''); $('#NewPassword').focus().removeClass("red-border"); }
        if (!Common.ValidatePassword($('#NewPassword').val())) { $('#spanNewPassword').html('Please enter minimum 8 charecters (atleast one special charecter & one numeric charecter).'); $('#NewPassword').focus().addClass("red-border"); return false; } else { $('#spanPassword').html(''); $('#NewPassword').focus().removeClass("red-border"); }
        if ($('#ConfPassword').val() == '') { $('#spanConfPassword').html('Required.'); $('#ConfPassword').focus().addClass("red-border"); return false; } else { $('#spanConfPassword').html(''); }
        if ($('#NewPassword').val() != $('#ConfPassword').val()) { $('#spanPassword').html('Password and confirm password do not match.'); return false; } else { $('#spanPassword').html(''); }
        return true;
    }
</script>
<div class="clearfix breadcrumb-main"><ul class="breadcrumb font12 ">
  @*  <li><a href="@Url.Action("Index","Home")">Home</a> <span class="divider">/</span></li>
    <li><a href="@Url.Action("Index","InnerPages")">Web Pages</a> <span class="divider">/</span></li>*@
    <li class="active">Change Password</li>
    <li class="fR sepV_c"><i class="icon-globe"></i><a href="@System.Configuration.ConfigurationManager.AppSettings["usersiteurl"]" target="_blank">View Mainsite</a></li>
</ul> </div>
<div id="maincontainer">
    <div class="mainContent">
        @Html.Partial("MainMenu", "SuperAdmin")
        @Html.Partial("LeftMenu", "SuperAdmin")
          @if (TempData["message"] != null)
        { <div id="message" class="divmessage">@Html.Raw(TempData["message"].ToString())</div>}
        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="text12">

            <tbody>
                <tr>
                    <td>
                        <div class="pageHeadingBlock ">
                            <div class="grayBackground">
                                <h3 class="title">Change Password</h3>

                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="text9">
                            <tbody>
                                <tr>
                                    <td align="right"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="messages"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br>
                                        <table width="96%" cellspacing="0" cellpadding="4" border="0" align="center">
                                             @using (Html.BeginForm("ChangePassword", "Account"))
                                             {
                                            @Html.Hidden("UserId", (Int64)@objuser.UserId)
                                                <tbody>
                                                    <tr>
                                                        <td width="13%">Old Password</td>
                                                        <td width="87%">
                                                             <input type="password" name="OldPassword" id="OldPassword" maxlength="15" class="inputstyle" />
                                                    <span class="field-validation-error" id="spanPassword"></span>
                                                         </td>
                                                    </tr>
                                                    <tr>
                                                        <td>New Password</td>
                                                        <td>
                                                            <input type="password" name="NewPassword" id="NewPassword" maxlength="15" class="inputstyle" />
                                                    <span class="field-validation-error" id="spanNewPassword"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Retype Password</td>
                                                        <td>
                                                           <input type="password" name="ConfPassword" id="ConfPassword" maxlength="15" class="inputstyle" />
                                                    <span class="field-validation-error" id="spanConfPassword"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>&nbsp;</td>
                                                        <td>
                                                            <div class="clearfix t-p5">
                                                                <input type="submit" class="btn btn-primary font-w7" value="Submit" onclick="return ValidatePassword();" />
                                                                 @*<input type="submit" class="btn btn-primary font-w7" disabled="disabled" value="Submit" />*@
                                                                <a class="btn btn-inverse" href="javascript:history.back()">Cancel</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            }
                                        </table>
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
