@using System.Configuration
@model WATS.Entities.ForgotPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @{var baseurl = ConfigurationManager.AppSettings["baseurl"];}
    <base href="@(baseurl)" />
    <title>WATS - Admin Panel</title>
      <link rel="shortcut icon" href="Content/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="Content/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="Content/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="Content/admin-style.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- ============== GENRAL JS [start] ========= -->
    <script type="text/javascript" src="Scripts/jquery-1.8.3.js"></script>
    <script src="Scripts/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="Scripts/Common.js" type="text/javascript"></script>
    <!-- =============GENRAL JS [end] ================ -->

    <script type="text/javascript" src="Content/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Common.mfadeout();
            $('.closable').append('<span class="closelink" title="Close"></span>');
            $('.closelink').click(function () {
                $(this).parent().fadeOut('600', function () { $(this).remove(); });
            });
        });

        function ValidateFPword1() {

            if ($('#Email').val() == "") { $('#spanEmail').html('Required.'); $('#Email').focus().addClass("red-border"); return false; } else { $('#spanEmail').html(''); $('#Email').focus().removeClass("red-border"); }
            if (!Common.CheckEmail($('#Email').val())) { $('#spanEmail').html('Please enter valid email.'); $('#Email').focus().addClass("red-border"); return false; } else { $('#spanEmail').html(''); }
            //if ($('#Captcha').val() == "") { $('#spanFCaptcha').html('Please enter captch value displayed.'); $('#Captcha').focus().addClass("red-border"); return false; } else { $('#spanFCaptcha').html(''); }
            //var str = Common.GetCaptcha();
            //if ($('#Captcha').val() != str) { $('#spanFCaptcha').html('You have entered wrong captcha.'); $('#FCaptcha').focus().addClass("red-border"); return false; } else { $('#spanFCaptcha').html(''); }
            return true;
        }
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="@Url.Action("Index","Home")" target="_blank">
                    <img width="280" title="WATS" src="Content/images/logo.png" alt="WATS" /></a>
            </div>
        </div>
    </div>
    <div class="loginWrapper">
        <div class="clearfix" style="min-height: 0px;"></div>
        <div class="loginContent">
             <h3 class="logintitle">Forgot Password</h3>
            <!-- login form -->
            <div class="loginSection clearfix">
                 @{ if (TempData["message"] != null)
                   {<div id="divmessage" class="sepH_b">@Html.Raw(TempData["message"].ToString())</div>}}
                    <div class="row-fluid">
                        <div>
                            <p align="center" class="font13 gray-t mobile-t-c"><b>Note:-</b>If you have forgotten your password and would like to change it, enter your email address and we'll send you a new password reset request.</p>
                        </div>
                    </div>
                      
               @using (Html.BeginForm("ForgotPassword", "Account"))
                {
                    <div class="row-fluid">
                        <label>Email</label>
                         <input type="text" class="span12 text text_medium" id="Email" name="Email" />
                            <span class="field-validation-error" id="spanEmail"></span>
                    </div>
                   <label>Type Shown Code</label>
                    <div class="row-fluid b-p10">
                        <div class="span6">@Html.TextBoxFor(m => m.Captcha, new { @class = "span12", @placeholder = "Captcha" })
                            <span class="field-validation-error" id="spanFCaptcha"></span>
                        </div>
                        <div class="span6 f-w8 font17">
                            <img alt="Captcha" title="Captcha" width="118" height="18" style="padding-top: -5px;" id="captcha" src="Account/ShowCaptchaImage" /><a href="javascript:reloadCaptcha();">
                                <img title="Refresh" src="Content/images/refresh.jpg" alt="Refresh" /></a>
                        </div>
                    </div>
                    <div class="actionBlock clearfix">
                        <div class="">
                             <div class="row-fluid">
                                 <div class="span7" >
                                 <a href="@Url.Action("LogOn","Account")" style="color: #999">Back to Login</a></div>
                                  <div class="span5">
                                      @*<input type="submit" class="button button_login btn btn-primary disable-alpha" disabled="disabled" value="Reset Password"/>*@
                                <input type="submit" class="button button_login btn btn-primary disable-alpha" value="Reset Password"  onclick="return ValidateFPword1();" />
                                     
                                  </div>
                   </div>
                        </div>
                    </div>
                    <div class="clearfix sepH_b"></div>
                }
                <div class="clearfix"></div>
                
                <div style="float: right">
                    <br />
                </div>
                <div style="clear: both"></div>
            </div>
            <!-- end login form -->
        </div>
    </div>
</body>
</html>
