@using System.Configuration
@{ Layout = null;}
@{
    string sortcolumn = (string)ViewBag.sortcolumn;
    string sortorder = (string)ViewBag.sortorder;
    Int64 Total = (Int64)ViewBag.total;
    var PageNo = (Int64)ViewBag.pageno;
    var Items = (Int64)ViewBag.items;


    List<WATS.Entities.Form2> lstForm2 = ViewBag.lstForm2;

    HttpCookie authCookie = HttpContext.Current.Request.Cookies["UserCookie"];

    FormsAuthenticationTicket authTicket;
    string userRole = null;
    if (this.User.Identity.IsAuthenticated && this.User.Identity.Name != null && Context.Session != null)
    {
        authTicket = FormsAuthentication.Decrypt(authCookie.Value);

        userRole = authTicket.UserData;
    }

}

<link type="text/css" media="screen" rel="stylesheet" href="colorbox/colorbox.css" />
<script type="text/javascript" src="colorbox/jquery.colorbox.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("a[rel]").colorbox({ transition: "fade" });
        $(".viewdetails").colorbox({ iframe: true, innerWidth: 600, innerHeight: 400 });
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $('.closable').append('<span class="closelink" title="Close"></span>');
        $('#MWebsite').addClass('active');
        $('.closelink').click(function () {
            $(this).parent().fadeOut('600', function () { $(this).remove(); });
        });
    });

      function Form2Status(CulturalRegistrationId) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Form2Status", "Form2")', // the URL of the controller action method
            data: { CulturalRegistrationId: CulturalRegistrationId }, // optional data
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    $('#divmessage').html(result.data);
                    $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                    Form2Bind($('#hdnPageNo').val());
                }
                else {
                    $('#divmessage').html(result.data);
                    $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                }
            }
        });
    }
</script>

<div class="row-fluid">
    <div class="span12">
        @if (Total == -1)
        {
            <div class="norecords">Sorry failed processing your request.</div>
        }
        else
        {
            <table width="100%" class="table table-hover  table_vam table-black">
                <thead>
                    <tr>
                        <th width="5%">S.No.</th>
                        <th width="20%">
                            <a onclick="javascript:sortresult('ProgramType');" class="white-t-u">
                                Program Type @if (sortcolumn == "ProgramType")
                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" />}
                            </a>
                        </th>
                        <th width="20%">
                            <a onclick="javascript:sortresult('ProgramName');" class="white-t-u">
                                Program Name @if (sortcolumn == "ProgramName")
                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" />}
                            </a>
                        </th>
                        <th width="20%">
                            <a onclick="javascript:sortresult('ContactEmail');" class="white-t-u">
                                Contact Email @if (sortcolumn == "ContactEmail")
                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" />}
                            </a>
                        </th>
                        <th width="10%">
                            <a onclick="javascript:sortresult('InsertedDate');" class="white-t-u">
                                Posted Date @if (sortcolumn == "InsertedDate")
                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" />}
                            </a>
                        </th>
                         <th width="13%">
            <a onclick="javascript:sortresult('IsApproved');" class="white-t-u">
                Status @if (sortcolumn == "IsApproved")
                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" />}
            </a>
        </th>

                        <th width="7%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (lstForm2.Count != 0)
                    {
                        int i = 0;
                        var location = ConfigurationManager.AppSettings["usersiteurl"];
                        foreach (var item in lstForm2)
                        {
                            TimeZoneInfo Eastern_ZONE = TimeZoneInfo.FindSystemTimeZoneById("Eastern Standard Time");
                            DateTime EasternTime = TimeZoneInfo.ConvertTimeFromUtc(item.InsertedDate, Eastern_ZONE);
                    <tr>
                        <td style="text-align: center" width="5%">@item.RId</td>
                        <td style="text-align: left" class="t-t-c" width="20%">@item.ProgramType</td>
                        <td style="text-align: left" class="t-t-c" width="20%">@item.ProgramName</td>
                        <td style="text-align: left" class="t-t-c" width="20%">@item.ContactEmail</td>
                        <td style="text-align: left" class="t-t-c" width="10%">@item.InsertedDate.ToString("MM-dd-yyyy")</td>
                        <td>
                            @{
                                var isactive = "";
                                var active = "";
                                var disable = "";
                                if (item.IsApproved == true)
                                {
                                    isactive = "Active";
                                    disable = "style=\"cursor: pointer;\" onclick=\"javascript:Form2Status(" + item.CulturalRegistrationId + ");\"";
                                }
                                else
                                {
                                    isactive = "Disabled";
                                    active = "style=\"cursor: pointer;\" onclick=\"javascript:Form2Status(" + item.CulturalRegistrationId + ");\"";
                                }
                                <div class="admin-active">
                                    @isactive
                                <ul>
                                    <li><a @Html.Raw(active)>Active</a></li>
                                    <li><a @Html.Raw(disable)>Disabled</a></li>
                                </ul>
                            </div>
                            }
                        </td>



                        <td>
                            <a title="View" href="@Url.Action("ViewForm2", "Form2", new { CulturalRegistrationId = item.CulturalRegistrationId })" class='lightview rightmost' data-lightview-group='example' data-lightview-type='iframe' data-lightview-options="width: 800">
                                <i class="icon-eye-open"></i>
                            </a>


                            <a href="@Url.Action("EditForm2", "Form2", new {CulturalRegistrationId=item.CulturalRegistrationId })" title="Edit"><i class="icon-pencil"></i></a>

                            <a class="Delete" onclick="javascript:Delete(@item.CulturalRegistrationId);" id="66" title="Delete"><i class="icon-trash"></i></a>

                        </td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="norecords" colspan="6">No Records Found.</td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    </div>
</div>

@Html.Raw(WATS.BLL.Common.SetPaging((Int64)ViewBag.items, ref Total, (Int64)ViewBag.pageno, "pagination pagination-centered"))
