@{ Layout = null;}
@{
    string sortcolumn = (string)ViewBag.sortcolumn;
    string sortorder = (string)ViewBag.sortorder;
    Int64 Total = (Int64)ViewBag.total;
    var PageNo = (Int64)ViewBag.pageno;
    var Items = (Int64)ViewBag.items;


    List<WATS.Entities.EventCompetitions> lstEventCompetitions = ViewBag.lstEventCompetitions;
}
<script>
    $(document).ready(function () {
        $('#Events, #MCompetitionTypes').addClass('active');
        $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
    });

    function EventCompetitionstatus(EventCompetitionId) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateEventCompetitionstatus", "EventCompetitions")', // the URL of the controller action method
            data: { EventCompetitionId: EventCompetitionId }, // optional data
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    $('#divmessage').html(result.data);
                    $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                    EventCompetitionBind(1);
                }
                else {
                    $('#divmessage').html(result.data);
                    $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                }
            }
        });
    }
    function UpdateDisplayOrder(i, EventCompetitionId) {
        var DisplayOrder = parseInt($('#DisplayOrder' + i).val());
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateDisplayOrder", "EventCompetitions")',
            data: { DisplayOrder: DisplayOrder, EventCompetitionId: EventCompetitionId },
            success: function (result) {
                var div = '';
                if (result.ok) {
                    $("#divmessage").html(result.data);
                    $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                    EventCompetitionBind(1);
                }
                else {
                    $("#divmessage").html(result.data);
                    $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                }
            }
        });
    }
</script>
@if (Total == -1)
{
    <div class="norecords">Sorry failed processing your request.</div>
}
else
{
    <table width="100%" class="table table-hover  table_vam table-black">
        <thead>
            <tr>
                <th width="5" style="text-align:center;">S.No.</th>


                <th width="20%">
                    <a onclick="javascript:sortresult('CompetitionName');" class="white-t-u">
                        Competition Name @if (sortcolumn == "CompetitionName")
                        {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" />}
                </th>
                <th width="20%">
                    <a onclick="javascript:sortresult('EventName');" class="white-t-u">
                        Event Name @if (sortcolumn == "EventName")
                        {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" />}
                </th>
                <th width="10%">
                    <a onclick="javascript:sortresult('AgeFrom');" class="white-t-u">
                        From Age @if (sortcolumn == "AgeFrom")
                        {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" />}
                </th>
                <th width="13%">
                    <a onclick="javascript:sortresult('AgeTo');" class="white-t-u">
                        To Age @if (sortcolumn == "AgeTo")
                        {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" />}
                </th>
                <th width="10%">
                    <a onclick="javascript:sortresult('DisplayOrder');" class="white-t-u">
                        Order No @if (sortcolumn == "DisplayOrder")
                        {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" />}
                </th>
                <th width="10%">
                    <a onclick="javascript:sortresult('IsActive');" class="white-t-u">
                        Status @if (sortcolumn == "IsActive")
                        {<img alt="@(sortorder)" title="@(sortorder)" src="Content/Admin/images/sort_@(sortorder).gif" />}
                </th>
                <th width="9%">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (lstEventCompetitions.Count != 0)
            {
                int i = 0;
                foreach (var item in lstEventCompetitions)
                {
                    <tr>
                        <td style="text-align:center">@item.RId</td>

                        <td style="text-align: left">@item.CompetitionName</td>
                        <td style="text-align: left">@item.EventName</td>
                        <td style="text-align: left">@item.AgeFrom</td>
                        <td style="text-align: left">@item.AgeTo</td>
                        <td>
                            <input type="text" style="width:50px;margin-bottom:0px;" maxlength="3" id="DisplayOrder@(i)" value="@item.DisplayOrder" onkeypress="return Common.isNumberKey(event)" />
                            <a onclick="UpdateDisplayOrder(@i,@item.EventCompetitionId);" title="Update"><i class="icon-refresh"></i></a>

                        </td>
                        <td align="left">
                            @{
                                var isactive = "";
                                var active = "";
                                var disable = "";
                                if (item.IsActive == true)
                                {
                                    isactive = "Active";
                                    disable = "style=\"cursor: pointer;\" onclick=\"javascript:EventCompetitionstatus(" + item.EventCompetitionId + ");\"";
                                }
                                else
                                {
                                    isactive = "Disabled";
                                    active = "style=\"cursor: pointer;\" onclick=\"javascript:EventCompetitionstatus(" + item.EventCompetitionId + ");\"";
                                }
                                <div class="admin-active">
                                    @isactive
                                    <ul>
                                        <li><a @Html.Raw(active)>Active</a></li>
                                        <li><a @Html.Raw(disable)>Disabled</a></li>
                                    </ul>
                                </div>
                            }
                        </td>
                        <td>
                            <a title="Edit" onclick="EventCompetitionEdit(@item.EventCompetitionId);"><i class="icon-pencil"></i></a>
                            <a title="Delete" id="10" onclick="javascript:Delete(@item.EventCompetitionId);" class="scdelete"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                    i++;
                }
            }
            else
            {
                <tr>
                    <td class="norecords" colspan="9">No Membership Types Found.</td>
                </tr>
            }
    </table>
}

@Html.Raw(WATS.BLL.Common.SetPaging((Int64)ViewBag.items, ref Total, (Int64)ViewBag.pageno, "pagination pagination-centered"))
