@{ Layout = null;}
@{
    string sortcolumn = (string)ViewBag.sortcolumn;
    string sortorder = (string)ViewBag.sortorder;
    Int64 Total = (Int64)ViewBag.total;
    var PageNo = (Int64)ViewBag.pageno;
    var Items = (Int64)ViewBag.items;


    List<WATS.Entities.SponsorCategories> lstSponsorCategories = ViewBag.lstSponsorCategories;    
}


<script type="text/javascript">

    $(document).ready(function () {
        $('.closable').append('<span class="closelink" title="Close"></span>');
        $('#MWebsite').addClass('active');
        $('.closelink').click(function () {
            $(this).parent().fadeOut('600', function () { $(this).remove(); });
        });
    });
    function DeleteSponsor(SponsorCategoryId) {
        var val2 = confirm("Do you want to delete this record?");
        if (val2) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteSponsorCategory", "Sponsors")',  // the URL of the controller action method
                data: { SponsorCategoryId: SponsorCategoryId }, // optional data
                success: function (result) {
                    if (result.ok) {
                        $("#divmessage").html(result.data);
                        Onload($('#hdnPageNo').val());
                    }
                    else {
                        $("#divmessage").val(result.data);
                    }
                },
            });
        }
    }
</script>

<div class="row-fluid">
    <div class="span12">
        @if (Total == -1)
        {
            <div class="norecords">Sorry failed processing your request.</div> 
        }
        else
        {
            <table width="100%" class="table table-hover  table_vam table-black">
                <thead>
                    <tr>
                        <th width="44" align="center">S.No.</th>
                        <th> 
                            <a onclick="javascript:sortresult('CategoryName');" class="white-t-u">Category Name @if (sortcolumn == "CategoryName")
                                                                                                                {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }
                        </th>
                        <th>#</th>
                        <th width="20%">
                            <a onclick="javascript:sortresult('UpdatedTime');" class="white-t-u">Posted Date @if (sortcolumn == "UpdatedTime")
                                                                                                             {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }
                        </th>
                        <th width="20%">
                            <a onclick="javascript:sortresult('UpdatedBy');" class="white-t-u">Posted By @if (sortcolumn == "UpdatedBy")
                                                                                                         {<img alt="@(sortorder)" title="@(sortorder)" src="Content/images/sort_@(sortorder).gif" /> }
                        </th>
                        <th width="60">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (lstSponsorCategories.Count != 0)
                    {
                        foreach (var item in lstSponsorCategories)
                        { 
                        <tr>
                            <td width="44" valign="top">@item.RId</td>
                            <td style="text-align: left">@item.CategoryName</td>
                            <td><a href="@Url.Action("Index", "Sponsors", new { SponsorCategoryId = item.SponsorCategoryId })">Sponsors</a></td>
                             <td style="text-align: left">@item.UpdatedTime.ToString("MM-dd-yyyy")</td>
                            <td style="text-align: left">@item.UpdatedBy</td>
                            <td>
                                <a title="Edit" onclick="EditSponsorCategory(@item.SponsorCategoryId);"><i class="icon-pencil"></i></a>
                                @if (item.SponsorsCount == 0)
                                {
                                <a title="Delete" id="10" onclick="javascript:DeleteSponsor(@item.SponsorCategoryId);" class="scdelete"><i class="icon-trash"></i></a>
                                }

                                else
                                {
                            <a title="This category have @item.SponsorsCount sponsors" class="sepV_a disable-alpha"><i class="icon-trash"></i></a>
                                }
                                @*<a title="Delete" class="sepV_a disable-alpha"><i class="icon-trash"></i></a>*@

                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="norecords" colspan="7">No Records Found.</td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    </div>
</div>
@Html.Raw(WATS.BLL.Common.SetPaging((Int64)ViewBag.items, ref Total, (Int64)ViewBag.pageno, "pagination pagination-centered"))
