@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    var eventlist = (List<WATS.Entities.Events>)ViewBag.lstEvents;

}


<script type="text/javascript">

    $(document).ready(function () {

        $('#Events, #MCompetitionTypes').addClass('active');
        $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
        $("#Validity").datepicker({ changeMonth: true, changeYear: true, yearRange: "-90:+0", altFormat: 'mm/dd/yy' });

        PagerClickBind();

    });



    function PagerClickBind() {
        $(".pagination a").bind("click", function () {
            EventCompetitionBind($(this).text());
        });
    }


    function sortresult(sortcolumn) {
        $('#hdnsortorder').val(($('#hdnsortorder').val() == 'ASC' ? 'DESC' : 'ASC'));
        $('#hdnsortcolumn').val(sortcolumn);
        EventCompetitionBind(1);
    }

    function Add() {
        clearEventCompetition();
        $('#EventCompetitionId').val('');
        $('#EventCompetition').val('');
        $('#AgeFrom').val('');
        $("#AddEventCompetition").modal('show');
        $('#lbltitle').html('Add Event Competition');
    }

    function clearEventCompetition() {
        $("#EventCompetitionId").val('');
        $('#EventCompetition').val('');
        $('#spanEventCompetition').html('');
        $('#AgeFrom').val('');
        $('#spanAgeFrom').html('');
        $('#AgeTo').val('');
        $('#spanAgeTo').html('');
        $("#AddEventCompetition").modal('hide');
        $('#EventCompetition').focus().removeClass("red-border");
        $('#AgeFrom').focus().removeClass("red-border");
    }

    function EventCompetitionBind(Pageno) {

        var pageno = Common.Pageno(Pageno);
        var sortcolumn = $('#hdnsortcolumn').val();
        var sortorder = $('#hdnsortorder').val();
        var Search = $('#keyword').val();
        var EventId = $('#EventId1').val();

        $.ajax({
            url: '@Url.Action("EventCompetitionsList", "EventCompetitions")',
            type: 'GET',
            cache: false,
            data: { Search: Search, PageNo: pageno, SortColumn: sortcolumn, SortOrder: sortorder, EventId: EventId },
            success: function (result) {
                $('#divEventCompetition').html(result);
                PagerClickBind();
            }
        });
    }

    function EventCompetitionEdit(EventCompetitionId) {
        $.ajax({
            url: '@Url.Action("EditEventCompetitions", "EventCompetitions")',
            type: 'POST',
            data: { EventCompetitionId: EventCompetitionId },
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    var objEventCompetition = result.data;
                    $('#EventCompetitionId').val(objEventCompetition.EventCompetitionId);
                    $('#CompetitionName').val(objEventCompetition.CompetitionName);
                    $('#AgeFrom').val(objEventCompetition.AgeFrom);
                    $('#AgeTo').val(objEventCompetition.AgeTo);
                    $('#EventId').val(objEventCompetition.EventId);

                    $('#DisplayOrder').val(objEventCompetition.DisplayOrder);
                    $('#lbltitle').html('Edit Event Competition');

                    $('#EventCompetition').focus().removeClass("red-border");
                    $('#AgeFrom').focus().removeClass("red-border");
                    $('#spanCompetitionName').html('');
                    $('#spanAgeFrom').html('');


                    $("#AddEventCompetition").modal('show');
                }
                else {
                    alert(result.data);
                }
            }
        });
    }

    @*function EventCompetitionSave() {
        var objEventCompetition = {};
        objEventCompetition.EventCompetitionId = $('#EventCompetitionId').val();
        objEventCompetition.EventCompetition = $('#EventCompetition').val();
        objEventCompetition.Price = $('#Price').val();
        objEventCompetition.Validity = $('#Validity').val();
        objEventCompetition.DisplayOrder = $('#DisplayOrder').val();

        $.ajax({
            url: '@Url.Action("AddEventCompetitions", "EventCompetitions")',
            type: 'POST',
            data: JSON.stringify(objEventCompetition),
            datatype: "JSON",
            contentType: 'application/json',
            success: function (result) {
                if (result.ok) {
                    $("#divmessage").html(result.data);
                    EventCompetitionBind($('#hdnPageNo').val());

                    $("#AddCommitteeCategory").modal("hide");
                    $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                    $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                }
                else {
                    $("#spanCategoryName").html(result.data);
                    $('.alert-danger').append('<i class="fa fa-ban"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                    $('.alert-success').append('<i class="fa fa-check"></i><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>');
                }
            }
        });
    }*@

    function Delete(EventCompetitionId) {
        var val2 = confirm("Do you want to delete this record?");
        if (val2) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteEventCompetitions", "EventCompetitions")',  // the URL of the controller action method
                data: { EventCompetitionId: EventCompetitionId }, // optional data
                success: function (result) {
                    $("#divmessage").html(result.data);
                    EventCompetitionBind($('#hdnPageNo').val());
                },
                error: function (req, status, error) {
                    $("#divmessage").html(result.data);
                }
            });
        }
    }

    function Validate() {


        if ($.trim($('#CompetitionName').val()) == '') { document.getElementsByName('CompetitionName')[0].placeholder = 'Required'; $('#CompetitionName').focus().addClass("validate"); return false; } else { $('#CompetitionName').focus().removeClass("validate"); }
        if ($.trim($('#EventId').val()) == '') { document.getElementsByName('EventId')[0].placeholder = 'Event Required'; $('#EventId').focus().addClass("validate"); return false; } else { $('#EventId').focus().removeClass("validate"); }
        if ($.trim($('#AgeFrom').val()) == '') { document.getElementsByName('AgeFrom')[0].placeholder = 'From Age Required'; $('#AgeFrom').focus().addClass("validate"); return false; } else { $('#AgeFrom').focus().removeClass("validate"); }
        if ($.trim($('#AgeTo').val()) == '') { document.getElementsByName('AgeTo')[0].placeholder = 'To Age Required'; $('#AgeTo').focus().addClass("validate"); return false; } else { $('#AgeTo').focus().removeClass("validate"); }
        // if (!IsNumeric($("#Price").val())) { $('#spanPrice').html('Invalid Price.'); $('#Price').focus(); return false; } else { $('#spanPrice').html(''); $('#Price').focus().removeClass("red-border"); }
         //if (!Common.IsNumeric($('#Price').val())) { $('#spanPrice').html('Invalid price.'); $('#Price').focus(); return false; } else { $('#spanPrice').html(''); }


        //if ($('#EventCompetition').val().trim() == '') { $('#spanEventCompetition').html('Required.'); $('#EventCompetition').focus().addClass("red-border"); return false; } else { $('#spanEventCompetition').html(''); $('#EventCompetition').focus().removeClass("red-border"); }
        //if ($('#Price').val().trim() == '') { $('#spanPrice').html('Required.'); $('#Price').focus().addClass("red-border"); return false; } else { $('#spanPrice').html(''); $('#Price').focus().removeClass("red-border"); }
        //if (!IsNumeric($("#Price").val())) { $('#spanPrice').html('Invalid Price.'); $('#Price').focus(); return false; } else { $('#spanPrice').html(''); $('#Price').focus().removeClass("red-border"); }
        //var radioButtons = document.getElementsByName('mval');

        //if (radioButtons[1].checked) {
        //    if ($('#Validity').val() == '') { $('#spanValidity').html('Required.'); $('#Validity').focus().addClass("red-border"); return false; } else { $('#spanValidity').html(''); $('#Validity').removeClass("red-border"); }
        //}
        // if (!Common.IsNumeric($('#Price').val())) { $('#spanPrice').html('Invalid price.'); $('#Price').focus(); return false; } else { $('#spanPrice').html(''); }
        return true;
    }
    function mvalidity() {
        $('#Validity').show();
    }
    function lvalidity() {
        $('#Validity').hide();
        $('#Validity').val('');
    }

    function ClearSearch() {

        $('#keyword').val('');
        $('#EventId1').val();
        EventCompetitionBind(1);
    }

</script>

<input id="hdnPageNo" type="hidden" value="1" />
<input id="hdnsortcolumn" type="hidden" value="UpdatedDate" />
<input id="hdnsortorder" type="hidden" value="DESC" />


<!-- breadcumb -->
<div class="clearfix breadcrumb-main">
    <ul class="breadcrumb  ">
        <li><a href="@Url.Action("Index", "InnerPages")">Website</a> <span class="divider">/</span></li>
        <li class="active">Event Competitions</li>
        <li class="fR sepV_c"><i class="icon-globe"></i><a href="@System.Configuration.ConfigurationManager.AppSettings["usersiteurl"]" target="_blank">View Mainsite</a></li>
    </ul>
</div>
<!-- end breadcumb -->

<div id="maincontainer">
    <div class="mainContent">
        <!--- TOPEBAR [start] ---->
        @Html.Partial("MainMenu", "SuperAdmin")
        <!--- TOPEBAR [end] ---->
        <!--- SIDEBAR [start] ---->
        @Html.Partial("LeftMenu")
        <!--- SIDEBAR [en] ---->
        <div class="pageHeadingBlock ">
            <div class="grayBackground">
                <div class="fR t-r">
                    <a class="btn btn-small btn-primary coursesMenu" onclick="Add();">Add Competitions</a>
                </div>
                <h3 class="title">Event Conpetitions</h3>
            </div>
        </div>
        <div class="clearfix sepH_b"></div>
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="text12">
            <tbody>
                <tr>
                    <td>
                        <div id="divmessage">
                            @if (TempData["message"] != null)
                            {@Html.Raw(TempData["message"].ToString())}

                            @if (ViewBag.message != null)
                            {@Html.Raw(ViewBag.message.ToString())}
                        </div>
                    </td>
                </tr>
                <div class="grayBackground nobL nobR">
                    <div id="filterReg" class="ui-accordion">
                        <h4><b>Search</b></h4>
                        <div>
                            <div class="filedsetInner clearfix">
                                <div class="row-fluid">
                                    <div class="span4">
                                        <label>Search </label>
                                        <input type="text" placeholder="Competition Name" name="keyword" id="keyword" class="input span12" />
                                    </div>
                                    <div class="span4">
                                        <label>Events </label>
                                        <select name="EventId" id="EventId1" class="span12">
                                            <option value="">-- Select  Category--</option>
                                            @if (eventlist != null)
                                            {
                                                foreach (var item in eventlist)
                                                {

                                                    <option value="@item.EventId">@item.EventName</option>

                                                }
                                            }
                                        </select>
                                    </div>
                                        <div class="span3">
                                            <button class="btn btn-primary filterAction" onclick="EventCompetitionBind(1);">Search</button>
                                            <a class="btn btn-inverse filterAction wC" onclick="ClearSearch();">Clear</a>
                                        </div>
                                    </div>

                                </div>
                        </div>
                    </div>
                </div>
                <tr>

                    <td>
                        <div id="divEventCompetition" class="box-body table-responsive">
                            @{Html.RenderAction("EventCompetitionsList", "EventCompetitions");}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="AddEventCompetition" role="dialog" tabindex="-1" class="modal fade" aria-hidden="true">

    @using (Html.BeginForm("AddEventCompetitions", "EventCompetitions", FormMethod.Post))
    {
        <input type="hidden" id="EventCompetitionId" name="EventCompetitionId" value="0" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span id="lbltitle"></span></h4>
                </div>
                <div class="modal-body validation">
                    <div class="form-group">
                        <div class="col-xs-12 col-lg-12">
                            <label>Competition Name :<span class="red-t">*</span></label>
                            <input type="text" value="" class="input span4" id="CompetitionName" name="CompetitionName">
                            <span class="field-validation-error" id="spanCompetitionName"></span>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Event Name :<span class="red-t">*</span></label>
                            <select name="EventId" id="EventId" class="span4">
                                <option value="">-- Select Event--</option>
                                @if (eventlist != null)
                                {
                                    foreach (var item in eventlist)
                                    {
                                        <option value="@item.EventId">@item.EventName</option>
                                    }
                                }
                            </select>
                            <span class="field-validation-error" id="spanEventId"></span>
                        </div>

                        <div class="col-xs-12 col-lg-12">
                            <label>Age From :<span class="red-t">*</span></label>
                            <input type="text" value="" class="span4 input" onkeypress="return Common.isNumberKey(event);" id="AgeFrom" name="AgeFrom">
                            <span class="field-validation-error" id="spanAgeFrom"></span>
                        </div>

                        <div class="col-xs-12 col-lg-12">
                            <label>Age To :<span class="red-t">*</span></label>
                            <input type="text" value="" class="span4 input" onkeypress="return Common.isNumberKey(event);" id="AgeTo" name="AgeTo">
                            <span class="field-validation-error" id="spanAgeTo"></span>
                        </div>
                        <div class="col-xs-12 col-lg-12">
                            <label>Display Order </label>
                            <input type="text" name="DisplayOrder" onkeypress="return Common.isNumberKey(event);" placeholder="DisplayOrder" id="DisplayOrder" value="" class="input span4">
                            <span id="spanDisplayOrder" class="field-validation-error"></span>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer clearfix">
                    <input type="submit" onclick="return Validate()" class="btn btn-danger" value="Submit" />
                    <a class="btn btn-primary pull-left" onclick=" $('#AddEventCompetition').dialog('close')" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>

    }
</div>
