
@using System.Configuration
@{
    var baseurl = System.Configuration.ConfigurationManager.AppSettings["baseurl"];
    ViewBag.Title = "ViewEventUser";
    Layout = null;
    var objEventUserInfo = (WATS.Entities.EventUserInfo)ViewBag.objEventUserInfo;
    var lstEventRegCounts = (List<WATS.Entities.EventRegistrationCounts>)ViewBag.lstEventRegCounts;



    var imglocNormal = System.Configuration.ConfigurationManager.AppSettings["usersiteurl"] + "Content/CulturalEvent/";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 5.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="@(baseurl)" />
    <meta name="description" content="@((string)ViewBag.MetaDescription != "" && (string)ViewBag.MetaDescription != null ? (string)ViewBag.MetaDescription : "Washington Telugu Samithi ")" />
    <meta http-equiv="Cache-control" content="description" />
    <meta http-equiv="Cache-control" content="public" />
    <meta http-equiv="Cache-control" content="private" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Cache-control" content="no-store" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Washington Telugu Samithi (WATS)</title>
    <link rel="shortcut icon" href="Content/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="Content/wats-styles.css" />
    <script type="text/javascript" src="Scripts/jquery.min.js"></script>
    <script src="Scripts/Common.js" type="text/javascript"></script>
    

    <!--[if lt IE 9]>
          <script src="Scripts/html5shiv.min.js"></script>
          <script src="Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <main class="clearfix main-bgs content_animate slide content">
        <header class="clearfix header-bg wrapper yellowborder border-t5">
            <section class="clearfix thoranam t-c t-p15">
                <article class="clearfix inner-wrapper">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="Content/images/logo.png" alt="logo" width="770" height="181" border="0" />
                    </a>
                </article>
            </section>
        </header>
        <section class="clearfix wrapper mainbg-wrapper">
            <section class="clearfix maintopbg-wrapper t-b-p10">
                <article class="clearfix inner-wrapper">
                    <article class="clearfix white-bg">
                        <article class="clearfix p15 tabhorizontal-p5">
                            <article class="clearfix border-t"></article>
                            <article class="clearfix border t-m1 ralewayregular font14 l-h24 black-t" style="min-height: 1150px;">
                                <article class="clearfix curve position-r t-m4n b-p15">
                                    <h2 class="Impact font24 black-t l-h16 t-c mobile-font16 b-p15">Profile</h2>
                                </article>
                                <article class="clearfix p30 t-p15 tabhorizontal-p10">
                                    <article class="clearfix l-p20 tabhorizontal-l-p0 Poppins-Regular dk-t">
                                        <article class="clearfix res-item2">
                                            <div id="divmessage">
                                                @if (TempData["message"] != null)
                                                {@Html.Raw(TempData["message"].ToString())}

                                                @if (ViewBag.message != null)
                                                {@Html.Raw(ViewBag.message.ToString())}
                                            </div>
                                            @if (objEventUserInfo.ItemName != null && objEventUserInfo.ItemName != "")
                                            {
                                                <div class="custom-adn grayBackground nobL nobR">
                                                    <div class="ui-accordion">
                                                        <h3 class="bor0 black-t"><b>Item Details</b></h3>
                                                        <div class="clearfix">
                                                            <div class="box-row">
                                                                <div class="box-12">
                                                                    <div class="clearfix">
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Program Name :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.ItemName</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Audio/Video Url :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.DocumentUrl</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="box-12">
                                                                    <div class="clearfix">
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Duration :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.ItemDuration (min)</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Category :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">
                                                                                    @objEventUserInfo.ItemCategory
                                                                                    @if (objEventUserInfo.DocumentUrl != null)
                                                                                    {
                                                                                        <span><a download="@objEventUserInfo.DocumentUrl" title="Download Group Image" href="@(imglocNormal + objEventUserInfo.DocumentUrl)">  (<i class="icon-download-alt"></i> Download Image)</a></span> <br />
                                                                                    }
                                                                                    @if (objEventUserInfo.Address != null)
                                                                                    {
                                                                                        <span><a download="@objEventUserInfo.Address" title="Download Audio/Video" href="@(imglocNormal + objEventUserInfo.Address)">  (<i class="icon-download-alt"></i> Download Audio/Video)</a></span>
                                                                                    }
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="box-row">
                                                                <div class="box-12">
                                                                    <div class="clearfix">
                                                                        <div class="box-row">
                                                                            <div class="box-2">
                                                                                <label class="t-p5">Description :</label>
                                                                            </div>
                                                                            <div class="box-10">
                                                                                @objEventUserInfo.ItemDescription
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="custom-adn grayBackground nobL nobR">
                                                    <div class="ui-accordion">
                                                        <h3 class="bor0 black-t"><b>Choreographer's Details</b></h3>
                                                        <div class="clearfix">
                                                            <div class="box-row">
                                                                <div class="box-12">
                                                                    <div class="clearfix ">
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>First Name :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.FirstName</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Last Name :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.LastName</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Email :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.Email</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Dance/Music School :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t"> @(objEventUserInfo.UpdatedBy != objEventUserInfo.FirstName ? objEventUserInfo.UpdatedBy : "") </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label class="t-p5">Group Name :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">
                                                                                    @objEventUserInfo.State
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="box-12">
                                                                    <div class="clearfix">
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>State :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@(objEventUserInfo.State != "Washington" ? objEventUserInfo.State : "" )</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>City :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.City</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Mobile :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.Mobile</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>No.of.Participants :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.Gender</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="custom-adn grayBackground nobL nobR">
                                                    <div class="ui-accordion">
                                                        <h3 class="bor0 black-t"><b>Coordinator Details</b></h3>
                                                        <div class="clearfix">
                                                            <div class="box-row">
                                                                <div class="box-12">
                                                                    <div class="clearfix ">
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>First Name :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.CoorFirstName</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Last Name :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.CoorLastName</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Email :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.CoorEmail</label>
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                </div>
                                                                <div class="box-12">
                                                                    <div class="clearfix">

                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>City :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.CoorCity</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Mobile :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.CoorMobileNo</label>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="custom-adn grayBackground nobL nobR">
                                                    <div class="ui-accordion">
                                                        <h3 class="bor0 black-t"><b>Personal Details</b></h3>
                                                        <div class="clearfix">
                                                            <div class="box-row">
                                                                <div class="box-12">
                                                                    <div class="clearfix ">
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>First Name :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.FirstName</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Last Name :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.LastName</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Email :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.Email</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="box-12">
                                                                    <div class="clearfix">
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>State :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.State</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>City :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.City</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Mobile :</label>
                                                                            </div>
                                                                            <div class="box-7">
                                                                                <label class="t-p5 black-t">@objEventUserInfo.Mobile</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr class="mN" />
                                                if (lstEventRegCounts != null && lstEventRegCounts.Count != 0)
                                                {

                                                    <article class="clearfix t-p20 overflow_x-a ">
                                                        <article class="clearfix border border-t4" style="min-width: 678px;">
                                                            <table style="background-color: #fff;" width="100%" border="0" cellspacing="0" cellpadding="0" class="table poppins-medium font14 dk-t b-m0 tabletext-l">
                                                                <tr class="poppinssemibold" style="background-color: #fdc633; text-align: center!important;">
                                                                    <th width="180">Reg.Type</th>
                                                                    <th width="180">Count</th>
                                                                    <th width="100" align="center">Amount</th>

                                                                </tr>
                                                                @if (lstEventRegCounts != null && lstEventRegCounts.Count != 0)
                                                                {
                                                                    Int64 i = 0;
                                                                    foreach (var Item in lstEventRegCounts)
                                                                    {
                                                                        <input id="EventRegCountId-@(i)" name="[@(i)].EventRegCountId" value="@(Item.EventRegCountId)" type="hidden" />
                                                                        <tr>
                                                                            <td width="180">
                                                                                <label class="t-p5 black-t">@Item.RegistrationTitle</label>
                                                                            </td>
                                                                            <td width="110" align="center">
                                                                                <label class="t-p5 black-t">@Item.Count</label>
                                                                            </td>
                                                                            <td width="180" align="center">
                                                                                <label class="t-p5 black-t">@Item.Amount</label>
                                                                            </td>
                                                                        </tr>
                                                                        i++;
                                                                    }
                                                                }


                                                            </table>
                                                        </article>
                                                    </article>

                                                }
                                            }

                                            @if (objEventUserInfo.lstEventParticipant.Count() != 0 && objEventUserInfo.lstEventParticipant != null)
                                            {
                                                <!-- end personal info form -->
                                                <article class="clearfix t-p20 overflow_x-a ">
                                                    <article class="clearfix border border-t4" style="min-width: 678px;">
                                                        <table style="background-color: #fff;" width="100%" border="0" cellspacing="0" cellpadding="0" class="table poppins-medium font14 dk-t b-m0 tabletext-l">
                                                            <tr class="poppinssemibold" style="background-color: #fdc633; text-align: center!important;">
                                                                <th width="180"> Name</th>

                                                                <th width="100" align="center">Age</th>
                                                                <th width="180" align="center">Member Id</th>

                                                            </tr>
                                                            @if (objEventUserInfo.lstEventParticipant != null && objEventUserInfo.lstEventParticipant.Count != 0)
                                                            {
                                                                Int64 i = 0;
                                                                foreach (var Item in objEventUserInfo.lstEventParticipant)
                                                                {
                                                                    <tr>
                                                                        <td width="180">
                                                                            <label class="t-p5 black-t">@Item.FirstName @Item.LastName</label>
                                                                        </td>

                                                                        <td width="180" align="center">
                                                                            <label class="t-p5 black-t">@Item.Age</label>
                                                                        </td>
                                                                        <td width="180" align="center">
                                                                            <label class="t-p5 black-t">@Item.Mobile</label>
                                                                        </td>

                                                                    </tr>
                                                                    i++;
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <tr>
                                                                    <td width="180" colspan="4" class="t-c">
                                                                        <label class="t-p5 black-t t-c">No User's Found</label>
                                                                    </td>
                                                                </tr>
                                                            }
                                                            
                                                        </table>

                                                                  
                                                       </article>
                                                    </article>
                                                    }
                                          
                                            @if (objEventUserInfo.objEventOrderDetails.PaymentMethodId != 0)
                                            {
                                                <div class="custom-adn grayBackground nobL nobR">
                                                    <div class="ui-accordion">
                                                        <h3 class="bor0 black-t"><b>Payment Details</b></h3>
                                                        <div class="clearfix">
                                                            
                                                                    <div class="clearfix ">
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Payment Method :</label>
                                                                            </div>
                                                                            <div class="box-6">
                                                                                <label class="t-p5 black-t">@(objEventUserInfo.objEventOrderDetails.PaymentMethod == null ? "N/A" : objEventUserInfo.objEventOrderDetails.PaymentMethod)</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Transaction Id  :</label>
                                                                            </div>
                                                                            <div class="box-6">
                                                                                <label class="t-p5 black-t">@(objEventUserInfo.objEventOrderDetails.TransactionId == null ? "N/A" : objEventUserInfo.objEventOrderDetails.TransactionId)</label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Amount :</label>
                                                                            </div>
                                                                            <div class="box-6">
                                                                                $ @(objEventUserInfo.objEventOrderDetails.AmountPaid == null ? "N/A" : objEventUserInfo.objEventOrderDetails.AmountPaid.ToString())<span id="payamount"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-row">
                                                                            <div class="box-5">
                                                                                <label>Payment Status :</label>
                                                                            </div>
                                                                            <div class="box-6">
                                                                                <label class="t-p5 black-t">@(objEventUserInfo.objEventOrderDetails.PaymentStatus == null ? "N/A" : objEventUserInfo.objEventOrderDetails.PaymentStatus)</label>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                               
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            <hr class="mN" />
                                            <div class="clearfix sepH_b b-m0"></div>
                                            <div class="custom-adn grayBackground nobL nobR" style="display:none;">
                                                @using (Html.BeginForm("InsertComments", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                    <input id="EventUserInfoId" name="EventUserInfoId" type="hidden" value="@objEventUserInfo.EventUserInfoId" />
                                                    <input id="EventCommentId" name="EventCommentId" type="hidden" value="@objEventUserInfo.EventCommentId" />
                                                    <div class="ui-accordion">
                                                        <div class="box-row">
                                                            <div class="clearfix box-12">
                                                                <div class="box-row">

                                                                    <div class="clearfix box-9">
                                                                        <label class="dis-b t-p5">Status :</label>
                                                                        <select class="form-control" name="Status" id="Status" style="width:150px; pointer-events:none;">
                                                                            <option selected="selected" disabled="disabled" value="Check In">Check In</option>

                                                                        </select>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="box-row">
                                                            <div class="box-12">
                                                                <div class="clearfix rp10">
                                                                    <div class="box-row">

                                                                        <div class="box-12">
                                                                            <label class="t-p5">Comments :</label>
                                                                            <textarea id="Comment" class="form-control" name="Comment">@objEventUserInfo.Comment</textarea>
                                                                            <span id="spanComment" class="field-validation-error"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="clearfix box-row">

                                                            <article class="box-12">
                                                                <div class="clearfix t-c ">
                                                                    <input type="submit" value="SUBMIT" onclick="return Validate();" name="send" class="btn btn-danger btn-sm btn-block font18 l-r-p45 t-t-u border-radius0" style="max-width:157px;" />
                                                                </div>
                                                            </article>
                                                        </div>

                                                    </div>
                                                }
                                            </div>
                                            <!-- end other details form -->


                                            <div class="adminfooter"></div>
                                        </article>
                                        </article>
                                        </article>
                            </article>
                            <script type="text/javascript">
                                function Validate() {

                                    if ($('#Comment').val() == '') { $('#spanComment').html('Required.'); $('#Comment').focus().addClass("red-border"); return false; } else { $('#spanComment').html(''); $('#Comment').focus().removeClass("red-border"); }
                                }
                            </script>
                            </article>
                        </article>
                        </article>
                    </section>
            </section>
                
    </main></body>
</html>