@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    var EventType = ViewBag.EventType;

    var userRole = "";
}
@{ HttpContext ctx = HttpContext.Current;
    HttpCookie authCookie = HttpContext.Current.Request.Cookies["UserCookie"];

    FormsAuthenticationTicket authTicket;

    if (this.User.Identity.IsAuthenticated && this.User.Identity.Name != null && Context.Session != null)
    {
        authTicket = FormsAuthentication.Decrypt(authCookie.Value);
        userRole = authTicket.UserData;
    }
    
}

<script type="text/javascript">

    $(document).ready(function () {
        $('#MEvents').addClass('active');
        $('.closable').append('<span id="lblclose" class="closelink" title="Close"></span>');
        PagerClickBind();
    });

    function PagerClickBind() {
        $(".pagination a").bind("click", function () {
            EventBind($(this).text());
        });
    }

    function sortresult(sortcolumn) {

        $('#hdnsortorder').val(($('#hdnsortorder').val() == 'ASC' ? 'DESC' : 'ASC'));
        $('#hdnsortcolumn').val(sortcolumn);
        EventBind(1);
    }

    function EventBind(Pageno) {
        var pageno = Common.Pageno(Pageno);
        var search = $('#keyword').val();
        var sortcolumn = $('#hdnsortcolumn').val();
        var sortorder = $('#hdnsortorder').val();
        var items = $('#txtitems').val();;

        $.ajax({
            url: '@Url.Action("EventsList", "Events")',
            type: 'GET',
            cache: false,
            data: { search: search, PageNo: pageno, SortColumn: sortcolumn, SortOrder: sortorder, Items: items, EventType: '@EventType' },
            success: function (result) {
                $('#divEventsList').html(result);
                PagerClickBind();
            }
        });
    }

    function ClearSearch() {
        $('#keyword').val('');
        $('#hdnPageNo').val(1);
        EventBind(1);
    }

    function Delete(EventId, ImageFileName) {
        var val2 = confirm("Do you want to delete this record?");
        if (val2) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("EventDelete", "Events")',  // the URL of the controller action method
                data: { EventId: EventId, ImageFileName: ImageFileName }, // optional data
                success: function (result) {
                    $("#divmessage").html(result.data);
                    EventBind(1);
                },
                error: function (req, status, error) {
                    $("#divmessage").html(result.data);
                }
            });
        }
    }

    function EventStatus(EventId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("EventStatus", "Events")', // the URL of the controller action method
            data: { EventId: EventId }, // optional data
            datatype: "JSON",
            success: function (result) {
                if (result.ok) {
                    $('#divmessage').html(result.data);
                    EventBind(1);
                }
                else {
                    $('#divmessage').html(result.data);
                }
            }
        });
    }

</script>

<input id="hdnPageNo" type="hidden" value="1" />
<input id="hdnsortorder" name="hdnsortorder" value="" type="hidden" />
<input id="hdnsortcolumn" name="hdnsortcolumn" value="EventId" type="hidden" />

<!-- breadcumb -->
<div class="clearfix breadcrumb-main">
    <ul class="breadcrumb  ">

        <li class="active">Events</li>
        <li class="fR sepV_c"><i class="icon-globe"></i><a href="@System.Configuration.ConfigurationManager.AppSettings["usersiteurl"]" target="_blank">View Mainsite</a></li>
    </ul>
</div>
<!-- end breadcumb -->

<div id="maincontainer">
    <div class="mainContent">
        <!--- TOPEBAR [start] ---->
        @Html.Partial("MainMenu", "SuperAdmin")
        <!--- TOPEBAR [end] ---->
        <!--- SIDEBAR [start] ---->
        @Html.Partial("LeftMenu")
        <!--- SIDEBAR [en] ---->

        <div class="pageHeadingBlock">
            <div class="grayBackground">
                <div class="fR t-r spcT_c">
                    @if (userRole.Contains("Treasurer"))
                    {
                    }
                    else
                    {
                    <a class="btn btn-primary coursesMenu" href="@Url.Action("AddEvent", "Events")">Add Event</a>
                    }
                </div>
                <h3 class="title">Events</h3>
                <div class="sectionTabNav">
                    <div class="btn-group">
                        <a class="@(EventType == "upcoming" ? "btn active" : "btn")" href="@Url.Action("Index", "Events", new { EventType = "upcoming" })">Upcoming Events</a>
                        @*<a class="@(EventType == "current" ? "btn active" : "btn")" href="@Url.Action("Index", "Events", new { EventType = "current" })">Current Events</a>*@
                        <a class="@(EventType == "past" ? "btn active" : "btn")" href="@Url.Action("Index", "Events", new { EventType = "past" })">Past Events</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix sepH_b"></div>
        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="text12">
            <tbody>
                <tr>
                    <td>
                        <div id="divmessage">
                            @if (TempData["message"] != null)
                            {@Html.Raw(TempData["message"].ToString())}

                            @if (ViewBag.message != null)
                            {@Html.Raw(ViewBag.message.ToString())}
                        </div>
                    </td>
                </tr>
                <tr>

                    <td>
                        <div class="grayBackground nobL nobR">
                            <div id="filterReg" class="ui-accordion">
                                <h4><b>Search</b></h4>
                                <div>
                                    <div class="filedsetInner clearfix">
                                        <div class="row-fluid">
                                            <div class="span4">
                                                <label>Search </label>
                                                <input type="text" name="keyword" id="keyword" class="span12" value="" placeholder="Event Name" />
                                            </div>
                                            <div class="span3">
                                                <button class="btn btn-primary filterAction" onclick="EventBind(1);">Search</button>
                                                <a class="btn btn-inverse filterAction wC" onclick="ClearSearch();">Clear</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td>
                        <div id="divEventsList">
                            @{Html.RenderAction("EventsList", "Events");}
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 12px 0"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

